.nbos-warn {
  color: darkred;
  backgrground-color: yellow; }

body, .nbos-bg {
  background-color: #ECEFF1; }

.nbos-error-bg {
  min-height: 550px; }
  .nbos-error-bg img {
    display: inline;
    float: right; }

.nbos-error {
  margin-top: 47px; }
  .nbos-error h1 {
    font-size: 70px;
    margin-bottom: 0px; }

#loading-bar .bar {
  background-color: #0D47A1;
  height: 4px; }

.nbos_link {
  cursor: pointer; }

.nbos_hide {
  display: none; }

.nbos-completePercent {
  height: 100px;
  position: relative; }
  .nbos-completePercent .nbos-percentValue {
    position: absolute;
    padding-left: 31%;
    margin-left: 23px;
    padding-top: 36px; }
  .nbos-completePercent md-progress-circular {
    position: absolute;
    left: 31%; }

#loading-bar .bar {
  background: rgba(56, 63, 69, 0.8) !important;
  height: 3px !important; }

.nbos-help-icon {
  font-size: 16px;
  cursor: pointer; }

.nbos-checkbox {
  margin-left: 16px !important;
  margin-bottom: 0px; }

.iv-content md-tabs md-content {
  min-width: 500px;
  min-height: 500px;
  background-size: contain;
  background-repeat: no-repeat; }

.nbos-progress {
  position: relative; }
  .nbos-progress .nbos-progress-value {
    position: absolute;
    left: 12px;
    top: 20px; }

.nbos-content-padding {
  padding-left: 50px; }

.nbos_manageProject_about md-tabs-wrapper {
  display: none !important; }

.nbos-nodecoration {
  text-decoration: none; }

.nbos_module_about .md-bottom-border md-tabs-wrapper {
  border-style: none !important; }
  .nbos_module_about .md-bottom-border md-tabs-wrapper mg-pagination-wrapper {
    align-content: center; }
.nbos_module_about md-tabs-wrapper {
  border-style: none !important; }
  .nbos_module_about md-tabs-wrapper mg-pagination-wrapper {
    align-content: center; }

.console_projects_back {
  min-width: 0;
  height: 50px; }

.console_modulesList .md-avatar {
  border-radius: 0 !important; }

/* For Input Hints */
.inputdemoErrorsAdvanced {
  /* NOTE: Check the demo's HTML to see some additional RTL support CSS */
  /* Setup animations similar to the ng-messages */ }

.inputdemoErrorsAdvanced .hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: grey; }

.inputdemoErrorsAdvanced .hint.ng-hide,
.inputdemoErrorsAdvanced .hint.ng-enter,
.inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0; }

.inputdemoErrorsAdvanced .hint.ng-leave,
.inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1; }

/* For User Management */
.manage-app-users .users-content {
  padding-top: 12px; }
  .manage-app-users .users-content .searchFilter {
    position: relative;
    bottom: 12px; }
  .manage-app-users .users-content .user-table tbody .user-avatar {
    border-radius: 50%;
    box-sizing: content-box;
    flex: none;
    width: 40px;
    height: 40px; }
  .manage-app-users .users-content .user-table tbody .table-userName {
    text-decoration: underline; }
  .manage-app-users .users-content .user-table tbody .edit-icon {
    font-size: 14px;
    cursor: pointer; }

/*
* THEMES AND COLORS
*/
.preview-palette .color-group {
  width: 360px;
  padding-bottom: 30px; }
  .preview-palette .color-group ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .preview-palette .color-group ul li.main-color {
      border-bottom: 4px solid #fafafa; }
    .preview-palette .color-group ul li.color {
      padding: 10px 15px 11px;
      margin: 0;
      color: #fff; }
      .preview-palette .color-group ul li.color .hex {
        float: right;
        text-transform: uppercase;
        display: block; }
    .preview-palette .color-group ul li.dark {
      color: #000 !important; }

.market-moduleTileWrap {
  min-height: 288px; }

/* new styles */
::selection {
  background: #ccc;
  color: #222c37;
  text-shadow: none; }

.layoutPad {
  padding: 3% 6%; }

.featurebarTitle h1.md-title {
  font-size: 34px;
  line-height: 34px;
  font-weight: 200;
  margin: 10px 0 2px;
  text-transform: capitalize; }
  .featurebarTitle h1.md-title.moreSpace {
    margin: 0px 0 10px; }
.featurebarTitle .md-button {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-size: 16px; }
  .featurebarTitle .md-button:hover {
    /*background: none !important;*/ }
.featurebarTitle .moduleSearch md-input-container {
  margin: 20px 0 0; }

.featureCard {
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 100%;
  cursor: pointer; }
  .featureCard:hover .md-title {
    text-decoration: underline; }
  .featureCard .cardContent {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: visible; }
    .featureCard .cardContent .tags {
      position: absolute;
      right: 0;
      top: 0; }
      .featureCard .cardContent .tags .md-button {
        min-height: 24px;
        min-width: auto;
        display: table;
        line-height: 24px;
        margin: -8px 6px 0 0;
        font-size: 13px;
        /*background: #eceff1;*/
        text-transform: capitalize;
        border-radius: 0; }
    .featureCard .cardContent .projectLogo {
      position: absolute;
      right: -4px;
      top: -50px;
      background: url(../images/shadow.png) center bottom no-repeat; }
      .featureCard .cardContent .projectLogo img {
        width: 48px;
        height: 48px;
        border-radius: 4px; }
    .featureCard .cardContent .md-title {
      text-transform: capitalize;
      font-weight: 600;
      word-wrap: break-word;
      padding-top: 12px; }
    .featureCard .cardContent .md-body-2 {
      padding: 0 8px;
      opacity: 0.6;
      font-weight: 400;
      line-height: 18px;
      -webkit-font-smoothing: auto;
      height: 40px;
      white-space: nowrap;
      width: 90%;
      overflow: hidden;
      text-overflow: ellipsis; }
    .featureCard .cardContent .cardLinks {
      padding: 4px 0px 4px 8px !important;
      margin: 0 !important; }
      .featureCard .cardContent .cardLinks .md-button {
        margin: 0 !important;
        min-width: 62px; }
        .featureCard .cardContent .cardLinks .md-button:hover {
          background: none !important; }

.projectLogo {
  margin-right: 10px; }
  .projectLogo img {
    width: 65px;
    height: 65px;
    border-radius: 10px; }

.featureProgress {
  padding-left: 62px;
  margin-top: 20px; }
  .featureProgress h3 {
    margin: 0;
    padding: 8px 0 12px; }
  .featureProgress small {
    opacity: 0.5; }

.projectLinks section {
  padding-bottom: 70px; }
  .projectLinks section .sectionTitle {
    text-transform: uppercase;
    padding-right: 10px;
    position: relative; }
    .projectLinks section .sectionTitle .md-button.strip {
      box-shadow: none;
      border-radius: 0;
      min-height: 2px;
      position: absolute;
      left: 0;
      margin: 0;
      bottom: -6px;
      min-width: 58px; }
    .projectLinks section .sectionTitle span {
      opacity: 0.5; }
  .projectLinks section .md-title {
    font-weight: 600;
    font-size: 18px;
    margin: 3px 3px 3px 0px; }
  .projectLinks section md-grid-list .md-button {
    margin: 0 0 0 -10px;
    padding: 0 10px; }

.featureBar .freeTag .md-button {
  min-height: 20px;
  min-width: auto;
  display: table;
  line-height: 20px;
  margin: 0px 0 0 8px;
  font-size: 13px;
  /* background: #eceff1; */
  text-transform: capitalize;
  border-radius: 0;
  padding: 2px 6px;
  box-shadow: none; }

.market-moduleTileWrap {
  min-height: 288px; }

/**
 * For the correct positioning of the placeholder element, the dnd-list and
 * it's children must have position: relative
 */
.drag-modules ul[dnd-list],
.drag-modules ul[dnd-list] > li {
  position: relative; }

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.drag-modules ul[dnd-list] {
  position: relative;
  min-height: 42px;
  padding-left: 0px; }
  .drag-modules ul[dnd-list] li {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    padding: 10px 15px;
    outline: none;
    margin: 0 8px; }
    .drag-modules ul[dnd-list] li .drag-module-name {
      overflow: hidden;
      text-overflow: ellipsis; }
    .drag-modules ul[dnd-list] li .handle {
      float: left; }
    .drag-modules ul[dnd-list] li .drag-list-text {
      float: left; }
  .drag-modules ul[dnd-list] .drag-list {
    cursor: move; }
  .drag-modules ul[dnd-list] .dndDraggingSource {
    display: none; }
  .drag-modules ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px; }

.drag-modules ul[dnd-list] li.selected {
  background-color: #dff0d8;
  color: #3c763d; }

.config-form .config-required {
  position: relative;
  top: 12px;
  left: 12px; }

.dev-moduleTileWrap {
  height: 100%;
  max-width: 100%;
  overflow: hidden; }
  .dev-moduleTileWrap .logo {
    width: 65px;
    height: 65px; }

.dev-moduleTileBanner {
  width: 100%; }

.dev-moduleTileFooter figcaption {
  width: 100%; }

.dev-info-link {
  float: left;
  margin: 10px;
  height: 100px;
  min-width: 150px;
  text-transform: capitalize;
  border: solid 1px rgba(255, 255, 255, 0.01); }
  .dev-info-link .nbos_link {
    margin: 0;
    padding: 0 10px; }
  .dev-info-link:hover {
    border: solid 1px rgba(0, 0, 0, 0.3); }

.projectLogo {
  margin-right: 10px;
  border-radius: 4px; }
  .projectLogo img {
    width: 60px;
    height: 60px;
    padding: 5px; }

.featureProgress {
  padding-left: 20px;
  margin-top: 20px; }
  .featureProgress h3 {
    margin: 0;
    padding: 8px 0 12px; }
  .featureProgress small {
    opacity: 0.5; }

.projectLinks section {
  padding-bottom: 70px; }
  .projectLinks section .sectionTitle {
    text-transform: uppercase;
    padding-right: 10px;
    position: relative; }
    .projectLinks section .sectionTitle .md-button.strip {
      box-shadow: none;
      border-radius: 0;
      min-height: 2px;
      position: absolute;
      left: 0;
      margin: 0;
      bottom: -6px;
      min-width: 58px; }
    .projectLinks section .sectionTitle span {
      opacity: 0.5; }
  .projectLinks section .md-title {
    font-weight: 600; }
  .projectLinks section md-grid-list .md-button {
    margin: 0 0 0 -10px;
    padding: 0 10px; }

.featureBar .freeTag .md-button {
  min-height: 20px;
  min-width: auto;
  display: table;
  line-height: 20px;
  margin: 0px 0 0 8px;
  font-size: 13px;
  /* background: #eceff1; */
  text-transform: capitalize;
  border-radius: 0;
  padding: 2px 6px;
  box-shadow: none; }

.admin-swagger .md-block {
  margin-bottom: 0; }

.nbos-bg {
  font-family: 'Source Sans Pro', sans-serif; }

.toggleArrow {
  background: url(../../assets/icons/down-arrow.png) center center no-repeat;
  width: 24px;
  height: 24px; }

.side-menu,
.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0; }

.md-sidenav-left {
  /*background: #383f45;*/
  height: 100%; }

.side-menu {
  font-family: 'Source Sans Pro', sans-serif; }
  .side-menu h5 {
    color: rgba(255, 255, 255, 0.35);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 11px;
    padding-left: 40px;
    margin: 40px 0 12px 0px; }
  .side-menu li ul li a {
    color: rgba(255, 255, 255, 0.9);
    border-bottom: solid 1px rgba(255, 255, 255, 0.03);
    letter-spacing: 0.4px;
    text-transform: none; }
    .side-menu li ul li a.md-button {
      width: 100%;
      padding: 0 0 6px 40px;
      margin: 0;
      text-align: left;
      font-size: 16px; }
      .side-menu li ul li a.md-button.active {
        color: white;
        background: rgba(255, 255, 255, 0.05) !important; }

.side-menu .md-button.md-docs-dark-theme[disabled] {
  color: rgba(255, 255, 255, 0.1); }

.md-button.md-alternate-theme:not([disabled]):hover {
  color: white;
  background: rgba(255, 255, 255, 0.05) !important; }

h2.md-display-1 {
  font-weight: 200; }

.profileView h2.md-display-1 {
  margin: 0;
  padding: 0; }

md-icon.appLogo {
  height: 60px;
  width: 60px; }

md-menu-content.dropDownMenu md-menu-item .mdBtn {
  font-size: 12px; }
md-menu-content.dropDownMenu md-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.05); }

@media (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
  md-icon.appLogo {
    height: 48px;
    width: 48px; }

  .logoCenter .logo {
    margin: -2px auto 0 !important; } }
@media (max-width: 959px) and (min-width: 0) and (orientation: portrait) {
  md-icon.appLogo {
    height: 54px;
    width: 54px; } }
.logoCenter {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  top: 0; }
  .logoCenter .logo {
    margin: 4px auto 0;
    display: table; }

.md-docs-dark-theme .material-icons {
  font-size: 20px; }

.nbos-primary {
  color: blue; }

.nbos-accent {
  color: darkorange; }

.nbos-warn {
  color: darkred; }

/*# sourceMappingURL=appStyles.css.map */
