<!--TODO: This needs to be responsive-->
<div class="md-toolbar-tools">
    <md-button aria-label="NBOS App" class="logo">
        <img src="../assets/images/nbos-logo-wht.png" alt="NBOS App" />
    </md-button>
    <span flex></span>
    <md-button class="md-icon" href="http://nbos.io:9000/site" target="_blank">
        <div layout="row" layout-align="center center">
            <i class="material-icons">language</i> &nbsp; About
        </div>
    </md-button>
    <md-button class="md-raised" aria-label="Learn More" ui-sref="idn.login">
        Sign In
    </md-button>
</div>
<!--<md-progress-linear class="progressBar" ng-class="{'hideProgressbar':!showProgress }" md-mode="indeterminate"></md-progress-linear>-->
