<md-content layout="column">
    <ul class="md-display-1">
        <li>NBOS Analytics</li>
        <li>Social Connects</li>
        <li>Module Statistics</li>
        <li>etc.</li>
    </ul>
</md-content>