<md-dialog aria-label="Project" ng-cloak flex="50">
    <form name="projectForm">
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-display-1">Create Project</h2>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input required ng-model="projectObj.name" name="name" autocomplete="off" ng-pattern="/^\S+$/">
                <div ng-messages="projectForm.name.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Project Name cannot be empty and should not have spaces
                    </div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button md-no-ink ng-click="closeDialog()">Cancel</md-button>
            <md-button md-no-ink class="md-primary md-raised" ng-click="create()" ng-disabled="projectForm.$invalid">Create</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
