<div layout="column" ng-controller="ProjectsCtrl">
    <section layout="column">
        <md-content layout="column" class="layoutPad featurebarTitle">
            <div layout="row" layout-align="start center">
                <h1 class="md-title"> All Projects</h1>
                <div flex></div>
                <md-button class="md-raised md-accent" ng-click="showPrompt($event)" style="padding:0 6px;">Create New Project</md-button>
            </div>
        </md-content>
        <div layout="column" class="layoutPad">
            <div ng-if="noProjects" class="md-body-2">
                You do not have any projects yet. Click the link above to create a new project.
            </div>
            <div flex>
                <md-grid-list md-cols="3" md-cols-xs="1" md-cols-sm="2" md-row-height="1:1" md-gutter="22px" md-gutter-gt-sm="26px">
                    <md-grid-tile ng-repeat="project in projects | orderBy : 'name'" md-colspan="1" md-rowspan="1" class="md-whiteframe-1dp">
                        <div flex class="featureCard" layout="column" ng-style="{'background-image':'url({{project.about.bannerImage? project.about.bannerImage.mediaFileDetailsList[1].mediapath : cover}})'}">
                            <md-content layout="column" class="cardContent">
                                <div layout-padding>
                                    <div class="projectLogo" layout="row" layout-align="end center">
                                        <img ng-src="{{project.about.logoImage? project.about.logoImage.mediaFileDetailsList[0].mediapath:logo}}" class="logo" />
                                    </div>
                                    <div layout="column" layout-padding>
                                        
                                        <div class="md-title">{{project.name | limitTo : 20}}</div>
                                        <div class="md-body-2">{{project.about.description? project.about.description : "Lorem ipsum dolor sit amet, consectetur adipisicing elit..."}}</div>
                                    </div>
                                    <section layout="row" layout-sm="column" layout-align="end center" class="cardLinks">
                                        <md-button class="md-accent" ng-click="manageProject(project.tenantId)">
                                            Manage
                                        </md-button>
                                    </section>
                                </div>
                            </md-content>
                        </div>
                        <!-- <md-content flex class="dev-moduleTileWrap" layout="column">
                            <div layout="row" layout-padding>
                                <img ng-src="{{project.about.logoImage? project.about.logoImage.mediaFileDetailsList[0].mediapath:logo}}" class="logo" />
                                <div layout="column">
                                    <span class="md-body-2">{{project.name | limitTo : 20}}</span>
                                    <span class="md-subhead">Active</span>
                                </div>
                            </div>
                            <div layout="row" class="defaultImg">
                                <img ng-src="{{project.about.bannerImage? project.about.bannerImage.mediaFileDetailsList[1].mediapath : cover}}" class="md-card-image" alt="Banner Image">
                            </div>
                            <md-grid-tile-footer class="dev-moduleTileFooter">
                                <md-content>
                                    <md-button class="md-accent" ng-click="manageProject(project.tenantId)">
                                        <md-icon class="material-icons">dashboard</md-icon>
                                        Manage
                                    </md-button>
                                </md-content>
                            </md-grid-tile-footer>
                        </md-content> -->
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
    </section>
</div>
