<md-content>
    <h2 class="md-title">User Settings</h2>
    <md-content flex layout-padding>
        <div layout="column">
            <form name="userForm" autocomplete="off">
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>First Name</label>
                        <input type="text" ng-model="userObj.firstName">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Last Name</label>
                        <input type="text" ng-model="userObj.lastName">
                    </md-input-container>
                </div>
                <div layout="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Description</label>
                        <input type="text" ng-model="userObj.description">
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Phone</label>
                        <input required type="text" name="Phone" ng-model="userObj.phone" ng-pattern="/^\d{10}$/">
                        <div ng-messages="userForm.Phone.$error" role="alert">
                            <div ng-message-exp="['required', 'pattern']">
                                Enter a Valid Phone
                            </div>
                        </div>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="end end">
                    <md-button class="md-raised md-primary" ng-click="updateUser()" ng-disabled="userForm.$invalid">Update</md-button>
                </div>
            </form>
        </div>
    </md-content>
</md-content>
