<div ng-controller="ModulesListCtrl" layout="column">
    <div>
        <md-content layout="row" class="layoutPad">
           
            <div>
                <br>
                <p class="md-title">
                    Hello There!
                </p>
                <p class="md-body-1">
                    <b>Welcome to your NBOS Console.</b>
                </p>
                <p class="md-body-1">
                    We are currently in our BETA release. You will find a lot of links disabled in the application. These links will be enabled as and when the development for them is completed.
                </p>
                <p class="md-body-1">
                    Untill then ... Happy Coding!
                </p>
                <p class="md-body-1">
                    - NBOS Dev Team
                </p>
                <br>
            </div>
            
        </md-content>
    </div>
    <section class="layoutPad" layout="column">
        <div layout="row">
            <h2 class="md-display-1">Modules</h2>
            <div flex></div>
            <div layout="row" layout-align="end center">
                <md-button class="md-accent md-raised" ng-click="createModule($event)">
                    Create a new module
                </md-button>
            </div>
        </div>
        <div layout="row">
            <div flex>
                <div ng-if="modules.length==0" class="md-body-2">
                    You do not have any modules yet. Click the link above to create a new module.
                </div>
                <md-grid-list md-cols="3" md-cols-xs="1" md-cols-sm="2" md-row-height="1:1" md-gutter="22px" md-gutter-gt-sm="26px">
                    <md-grid-tile ng-repeat="module in modules | orderBy : 'name'" md-colspan="1" md-rowspan="1" class="md-whiteframe-1dp">
                        <div flex class="featureCard" layout="column" ng-style="{'background-image':'url({{module.moduleImages.length? module.moduleImages[0].mediaFileDetailsList[1].mediapath : cover}})'}">
                            <md-content layout="column" class="cardContent">
                                <div layout-padding>
                                    <div class="projectLogo" layout="row" layout-align="end center">
                                        <img ng-src="{{module.logoImage? module.logoImage.mediaFileDetailsList[0].mediapath:logo}}" class="logo" />
                                    </div>
                                    <div layout="column" layout-padding>
                                        
                                        <div class="md-title">{{module.name | limitTo : 20}}</div>
                                        <div class="md-body-2">{{module.description? module.description : "Lorem ipsum dolor sit amet, consectetur adipisicing elit..."}}</div>
                                    </div>
                                    <section layout="row" layout-sm="column" layout-align="end center" class="cardLinks">
                                        <md-button class="md-accent" ng-click="manageModule(module.uuid)">
                                            Manage
                                        </md-button>
                                    </section>
                                </div>
                            </md-content>
                        </div>
                       <!--  <md-content flex class="dev-moduleTileWrap" layout="column">
                            <div layout="row" layout-padding>
                                <img ng-src="{{module.logoImage? module.logoImage.mediaFileDetailsList[0].mediapath:logo}}" class="logo" />
                                <div layout="column">
                                    <span class="md-body-2">{{module.name | limitTo : 20}}</span>
                                    <span class="md-subhead">{{module.moduleStatus}}</span>
                                </div>
                            </div>
                            <div layout="row" class="defaultImg">
                                <img ng-src="{{module.moduleImages.length? module.moduleImages[0].mediaFileDetailsList[1].mediapath : cover}}" class="dev-moduleTileBanner" alt="Washed Out">
                            </div>
                            <md-grid-tile-footer class="dev-moduleTileFooter">
                                <md-content layout="row">
                                    <md-button class="md-accent" ng-click="manageModule(module.uuid)">
                                        <md-icon class="material-icons">dashboard</md-icon>
                                        Manage
                                    </md-button>
                                    <span flex></span>
                                    <md-button class="md-accent" aria-label="Delete" ng-click="deleteModule($event, module.uuid)">
                                        <md-icon class="material-icons">close</md-icon>
                                        Delete
                                    </md-button>
                                </md-content>
                            </md-grid-tile-footer>
                        </md-content> -->
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
    </section>
</div>
