<md-dialog aria-label="Client" ng-cloak flex="50">
    <form name="clientForm">
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-display-1">Create Client</h2>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input required ng-model="clientObj.clientName" name="title" autocomplete="off">
                <div ng-messages="clientForm.title.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Client Name cannot be empty
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Client Secret</label>
                <input required ng-model="clientObj.clientSecret" name="clientSecret" autocomplete="off">
                <div ng-messages="clientForm.title.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Client Secret cannot be empty
                    </div>
                </div>
            </md-input-container>
            <p ng-show="showError" class="md-body-1">*** Please choose a different client name ***</p>
            <!--
            <div hide>
                <md-switch class="md-primary" md-no-ink aria-label="Revoked " ng-model="clientObj.revoked">
                    Revoked
                </md-switch>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Access Token Validity Seconds</label>
                    <input ng-model="clientObj.accessTokenValiditySeconds" name="accessTokenValiditySeconds" autocomplete="off">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Refresh Token Validity Seconds</label>
                    <input ng-model="clientObj.refreshTokenValiditySeconds" name="refreshTokenValiditySeconds" autocomplete="off">
                </md-input-container>
                <md-chips ng-model="clientObj.authorities" placeholder="Enter Authorities" delete-button-label="Remove Tag" delete-hint="Press delete to remove Authorities" secondary-placeholder="+Authorities" readonly="readonly"></md-chips>
                <md-chips ng-model="clientObj.authorizedGrantTypes" placeholder="Enter Authorized GrantTypes" delete-button-label="Remove authorizedGrantTypes" delete-hint="Press delete to remove authorizedGrantTypes" secondary-placeholder="+authorizedGrantTypes" readonly="readonly"></md-chips>
                <md-chips ng-model="clientObj.resourceIds" placeholder="Enter ResourceIds" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+ResourceIds" readonly="readonly"></md-chips>
                <md-chips ng-model="clientObj.scopes" placeholder="Enter scopes" delete-button-label="Remove scopes" delete-hint="Press delete to remove scopes" secondary-placeholder="+scopes" readonly="readonly"></md-chips>
                <md-chips ng-model="clientObj.redirectUris" placeholder="Enter redirectUris" delete-button-label="Remove redirectUris" delete-hint="Press delete to remove redirectUris" secondary-placeholder="+redirectUris" readonly="readonly"></md-chips>
            </div>
            -->
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button ng-click="closeDialog()">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-click="create()" ng-disabled="clientForm.$invalid">Create</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
