<section layout="column" ng-controller="ManageThemeCtrl">
    <!-- Manage Project Navigation -->
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="con.manage.dash({id : project.tenantId})">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{project.name}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title"> Theme</h1>
        </div>
    </div>

    <!-- Preview of selected Theme -->
    <!--

    <div>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Primary Theme Preview</h2>
            </div>
        </md-toolbar>
        <md-content class="md-whiteframe-1dp" layout="row">
            <md-sidenav
                    class="md-sidenav-left"
                    md-component-id="testNav"
                    md-is-locked-open="$mdMedia('gt-md')"
                    md-disable-backdrop>
                <md-toolbar class="md-hue-1">
                    <h1 class="md-toolbar-tools">Sidenav Left</h1>
                </md-toolbar>
                <md-content layout-padding>
                    <p class="md-body-1">This sidenav is locked open on your device. To go back to the default behavior, narrow your display.</p>
                    <md-list flex>
                        <md-list-item>
                            <div class="md-list-item-text" layout="column">
                                <p>A Link</p>
                            </div>
                        </md-list-item>
                        <md-divider ></md-divider>
                        <md-list-item>
                            <div class="md-list-item-text" layout="column">
                                <p>Another Link</p>
                            </div>
                        </md-list-item>
                        <md-divider ></md-divider>
                        <md-list-item>
                            <div class="md-list-item-text" layout="column">
                                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                                    Close Sidenav
                                </md-button>
                            </div>
                        </md-list-item>
                        <md-divider ></md-divider>
                    </md-list>
                </md-content>
            </md-sidenav>
            <md-content flex layout-padding layout="column">
                <div layout="row">
                    <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md>
                        Toggle Sidenav
                    </md-button>
                </div>
                <ul>
                    <li class="md-body-1">
                        Every App has two available themes. <b>Primary Theme</b> and <b>Alternate Theme</b>. Please specify colors in both these themes.
                    </li>
                    <li class="md-body-1">

                    </li>
                </ul>


                <div layout="row">
                    <md-button class="md-primary md-raised">Accent Color</md-button>
                    <md-button class="md-accent md-raised">Accent Color</md-button>
                    <md-button class="md-warn md-raised">Warning Color</md-button>
                </div>

                <div md-theme="alternate-theme">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <h2 class="md-flex">Alternate Theme Preview</h2>
                        </div>
                    </md-toolbar>
                    <md-content layout-padding class="md-whiteframe-1dp">
                        <div layout="row">
                            <md-button class="md-accent md-raised">Accent Color</md-button>
                            <md-button class="md-warn md-raised">Warning Color</md-button>
                        </div>
                    </md-content>
                </div>
                <div flex></div>
                <br><br><br>
            </md-content>
        </md-content>
    </div>
    <br><br>
    -->

        <md-content class="layoutPad" layout="column">
            <div layout-gt-sm="row" layout="column" layout-padding>
                <!--Main Theme-->
                <section flex-gt-sm="50" flex="100">
                    <div layout="row" layout-align="left center">
                        <h2 class="md-headline">Main Theme</h2>
                        <md-checkbox class="nbos-checkbox" ng-model="mainTheme_isDark">
                            Use Dark Theme
                        </md-checkbox>
                    </div>
                    <md-divider></md-divider>
                    <div layout="column">
                        <div layout="row" layout-align="start center">
                            <p flex="40" class="md-body-1">Primary Colors: </p>
                            <div md-color-picker ng-model="mainTheme.primaryColor" style="padding-top: 10px"></div>
                        </div>
                        <div layout="row" layout-align="start center">
                            <p flex="40" class="md-body-1">Text: </p>
                            Light &nbsp;
                            <md-switch aria-label="Primary Text" ng-model="mainTheme.primaryColorText_isDark" ng-true-value="'dark'" ng-false-value="'light'"></md-switch> Dark
                        </div>
                    </div>
                    <br>
                    <md-divider></md-divider>
                    <div layout="column" layout-gt-sm="row">
                        <div flex="50">
                            <div layout="row" layout-align="start center">
                                <p flex="40" class="md-body-1">Accent Color: </p>
                                <div md-color-picker ng-model="mainTheme.accentColor" style="padding-top: 10px"></div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <p flex="40" class="md-body-1">Text: </p>
                                Light &nbsp;
                                <md-switch aria-label="Accent Text" ng-model="mainTheme.accentColorText_isDark" ng-true-value="'dark'" ng-false-value="'light'"></md-switch> Dark
                            </div>
                        </div>
                    </div>
                    <br>
                    <md-divider></md-divider>
                    <div layout="column" layout-gt-sm="row">
                        <div flex="50">
                            <div layout="row" layout-align="start center">
                                <p flex="40" class="md-body-1">Warn Color: </p>
                                <div md-color-picker ng-model="mainTheme.warnColor" style="padding-top: 10px"></div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <p flex="40" class="md-body-1">Text: </p>
                                Light &nbsp;
                                <md-switch aria-label="Warn Text" ng-model="mainTheme.warnColorText_isDark" ng-true-value="'dark'" ng-false-value="'light'"></md-switch> Dark
                            </div>
                        </div>
                    </div>
                </section>
                <md-divider></md-divider>
                &nbsp;&nbsp;
                <!--Alternate Theme-->
                <section flex-gt-sm="50" flex="100">
                    <div layout="row" layout-align="left center">
                        <h2 class="md-headline">Alternate Theme</h2>
                        <md-checkbox class="nbos-checkbox" ng-model="alternateTheme.alternateTheme_isDark" aria-label="Checkbox 1">
                            Use Dark Theme
                        </md-checkbox>
                    </div>
                    <md-divider></md-divider>
                    <div layout="column" layout-gt-sm="row">
                        <div flex="50">
                            <div layout="row" layout-align="start center">
                                <p flex="40" class="md-body-1">Primary Color: </p>
                                <div md-color-picker ng-model="alternateTheme.primaryColor" style="padding-top: 10px"></div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <p flex="40" class="md-body-1">Text: </p>
                                Light &nbsp;
                                <md-switch aria-label="Primary Text" ng-model="alternateTheme.primaryColorText_isDark" ng-true-value="'dark'" ng-false-value="'light'"></md-switch> Dark
                            </div>
                        </div>
                    </div>
                    <br>
                    <md-divider></md-divider>
                    <div layout="column" layout-gt-sm="row">
                        <div flex="50">
                            <div layout="row" layout-align="start center">
                                <p flex="40" class="md-body-1">Accent Color: </p>
                                <div md-color-picker ng-model="alternateTheme.accentColor" style="padding-top: 10px"></div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <p flex="40" class="md-body-1">Text: </p>
                                Light &nbsp;
                                <md-switch aria-label="Accemt Text" ng-model="alternateTheme.accentColorText_isDark" ng-true-value="'dark'" ng-false-value="'light'"></md-switch> Dark
                            </div>
                        </div>
                    </div>
                    <br>
                    <md-divider></md-divider>
                    <div layout="column" layout-gt-sm="row">
                        <div flex="50">
                            <div layout="row" layout-align="start center">
                                <p flex="40" class="md-body-1">Warn Color: </p>
                                <div md-color-picker ng-model="alternateTheme.warnColor" style="padding-top: 10px"></div>
                            </div>
                            <div layout="row" layout-align="start center">
                                <p flex="40" class="md-body-1">Text: </p>
                                Light &nbsp;
                                <md-switch aria-label="Warn Text" ng-model="alternateTheme.warnColorText_isDark" ng-true-value="'dark'" ng-false-value="'light'"></md-switch> Dark
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <br>
            <md-divider></md-divider>
            <div layout="column" layout-padding>
                <div layout="row" layout-align="left center">
                    <h2 class="md-headline">App Background</h2>
                    <md-checkbox class="nbos-checkbox" ng-model="themeObj.isPrimaryDark">
                        Use Dark Theme
                    </md-checkbox>
                </div>
                <md-divider></md-divider>
                <div layout="column" layout-gt-sm="row">
                    <div flex="50">
                        <div layout="row" layout-align="start center">
                            <p flex="40" class="md-body-1">Highlight Color: </p>
                            <div md-color-picker ng-model="themeObj.primaryColor" style="padding-top: 10px"></div>
                        </div>
                        <div layout="row" layout-align="start center">
                            <p flex="40" class="md-body-2">Text: </p>
                            Light &nbsp;
                            <md-switch></md-switch> Dark
                        </div>
                    </div>
                </div>
            </div>
        </md-content>

    <br>
    <br>
    <div layout="row" layout-align="center center">
        <md-button class="md-raised md-accent" ng-click="preview()">Generate Theme Paletts</md-button>
    </div>
    <br>
    <br>
    <div ng-show="generatePalette" class="preview-palette">
        <md-content class="layoutPad" layout="column">
            <div layout-gt-sm="row" layout="column" layout-padding>
                <section flex-gt-sm="50" flex="100">
                    <div layout="column" layout-align="left center">
                        <h2 class="md-headline">Main Theme</h2>
                        <section class="color-group">
                            <ul>
                                <li class="color main-color" ng-class="{'dark': defaultTheme.primaryPallete.contrastDefaultColor == 'dark'}" ng-style="{'background-color': defaultTheme.primaryPallete[500]}">
                                    <span class="shade expanded">Primary Color</span>
                                    <span class="hex">{{defaultTheme.primaryPallete[500]}}</span>
                                </li>
                                <li class="color" ng-class="{'dark': defaultTheme.primaryPallete.contrastDefaultColor == 'dark'}" ng-style="{'background-color': defaultTheme.primaryPallete[300]}">
                                    <span class="shade expanded">hue-1</span>
                                    <span class="hex">{{defaultTheme.primaryPallete[300]}}</span>
                                </li>
                                <li class="color" ng-class="{'dark': defaultTheme.primaryPallete.contrastDefaultColor == 'dark'}" ng-style="{'background-color': defaultTheme.primaryPallete[800]}">
                                    <span class="shade expanded">hue-2</span>
                                    <span class="hex">{{defaultTheme.primaryPallete[800]}}</span>
                                </li>
                                <li class="color" ng-class="{'dark': defaultTheme.primaryPallete.contrastDefaultColor == 'dark'}" ng-style="{'background-color': defaultTheme.primaryPallete.A100}">
                                    <span class="shade expanded">hue-3</span>
                                    <span class="hex">{{defaultTheme.primaryPallete.A100}}</span>
                                </li>                                
                            </ul>
                        </section>
                        <md-divider></md-divider>
                        <section class="color-group">
                            <ul>
                                <li class="color main-color" ng-class="{'dark': defaultTheme.accentPalette.contrastDefaultColor == 'dark'}" ng-style="{'background-color': defaultTheme.accentPalette.A200}">
                                    <span class="shade expanded">Accent Color</span>
                                    <span class="hex">{{defaultTheme.accentPalette.A200}}</span>
                                </li>
                                <li class="color" ng-class="{'dark': defaultTheme.accentPalette.contrastDefaultColor == 'dark'}" ng-style="{'background-color': defaultTheme.accentPalette.A100}">
                                    <span class="shade expanded">hue-1</span>
                                    <span class="hex">{{defaultTheme.accentPalette.A100}}</span>
                                </li>
                                <li class="color" ng-class="{'dark': defaultTheme.accentPalette.contrastDefaultColor == 'dark'}" ng-style="{'background-color': defaultTheme.accentPalette.A400}">
                                    <span class="shade expanded">hue-2</span>
                                    <span class="hex">{{defaultTheme.accentPalette.A400}}</span>
                                </li>
                                <li class="color" ng-class="{'dark': defaultTheme.accentPalette.contrastDefaultColor == 'dark'}" ng-style="{'background-color': defaultTheme.accentPalette.A700}">
                                    <span class="shade expanded">hue-3</span>
                                    <span class="hex">{{defaultTheme.accentPalette.A700}}</span>
                                </li>                                
                            </ul>
                        </section>
                        <md-divider></md-divider>
                        <section class="color-group">
                            <ul>
                                <li class="color main-color" ng-style="{'background-color': defaultTheme.warnPalette[500]}" ng-class="{'dark': defaultTheme.warnPalette.contrastDefaultColor == 'dark'}" >
                                    <span class="shade expanded">Warn Color</span>
                                    <span class="hex">{{defaultTheme.warnPalette[500]}}</span>
                                </li>
                                <li class="color" ng-style="{'background-color': defaultTheme.warnPalette[300]}" ng-class="{'dark': defaultTheme.warnPalette.contrastDefaultColor == 'dark'}">
                                    <span class="shade expanded">hue-1</span>
                                    <span class="hex">{{defaultTheme.warnPalette[300]}}</span>
                                </li>
                                <li class="color" ng-style="{'background-color': defaultTheme.warnPalette[800]}" ng-class="{'dark': defaultTheme.warnPalette.contrastDefaultColor == 'dark'}">
                                    <span class="shade expanded">hue-2</span>
                                    <span class="hex">{{defaultTheme.warnPalette[800]}}</span>
                                </li>
                                <li class="color" ng-style="{'background-color': defaultTheme.warnPalette.A100}" ng-class="{'dark': defaultTheme.warnPalette.contrastDefaultColor == 'dark'}">
                                    <span class="shade expanded">hue-3</span>
                                    <span class="hex">{{defaultTheme.warnPalette.A100}}</span>
                                </li>                                
                            </ul>
                        </section>
                    </div>
                </section>
                <section flex-gt-sm="50" flex="100">
                    <div layout="column" layout-align="left center">
                        <h2 class="md-headline">Alternate Theme</h2>
                        <section class="color-group">
                            <ul>
                                <li class="color main-color" ng-class="{'dark': secondaryTheme.primaryPallete.contrastDefaultColor == 'dark'}" ng-style="{'background-color': secondaryTheme.primaryPallete[500]}">
                                    <span class="shade expanded">Primary Color</span>
                                    <span class="hex">{{secondaryTheme.primaryPallete[500]}}</span>
                                </li>
                                <li class="color" ng-class="{'dark': secondaryTheme.primaryPallete.contrastDefaultColor == 'dark'}" ng-style="{'background-color': secondaryTheme.primaryPallete[300]}">
                                    <span class="shade expanded">hue-1</span>
                                    <span class="hex">{{secondaryTheme.primaryPallete[300]}}</span>
                                </li>
                                <li class="color" ng-class="{'dark': secondaryTheme.primaryPallete.contrastDefaultColor == 'dark'}" ng-style="{'background-color': secondaryTheme.primaryPallete[800]}">
                                    <span class="shade expanded">hue-2</span>
                                    <span class="hex">{{secondaryTheme.primaryPallete[800]}}</span>
                                </li>
                                <li class="color" ng-class="{'dark': secondaryTheme.primaryPallete.contrastDefaultColor == 'dark'}" ng-style="{'background-color': secondaryTheme.primaryPallete.A100}">
                                    <span class="shade expanded">hue-3</span>
                                    <span class="hex">{{secondaryTheme.primaryPallete.A100}}</span>
                                </li>                                
                            </ul>
                        </section>
                        <md-divider></md-divider>
                        <section class="color-group">
                            <ul>
                                <li class="color main-color" ng-class="{'dark': secondaryTheme.accentPalette.contrastDefaultColor == 'dark'}" ng-style="{'background-color': secondaryTheme.accentPalette.A200}">
                                    <span class="shade expanded">Accent Color</span>
                                    <span class="hex">{{secondaryTheme.accentPalette.A200}}</span>
                                </li>
                                <li class="color" ng-class="{'dark': secondaryTheme.accentPalette.contrastDefaultColor == 'dark'}" ng-style="{'background-color': secondaryTheme.accentPalette.A100}">
                                    <span class="shade expanded">hue-1</span>
                                    <span class="hex">{{secondaryTheme.accentPalette.A100}}</span>
                                </li>
                                <li class="color" ng-class="{'dark': secondaryTheme.accentPalette.contrastDefaultColor == 'dark'}" ng-style="{'background-color': secondaryTheme.accentPalette.A400}">
                                    <span class="shade expanded">hue-2</span>
                                    <span class="hex">{{secondaryTheme.accentPalette.A400}}</span>
                                </li>
                                <li class="color" ng-class="{'dark': secondaryTheme.accentPalette.contrastDefaultColor == 'dark'}" ng-style="{'background-color': secondaryTheme.accentPalette.A700}">
                                    <span class="shade expanded">hue-3</span>
                                    <span class="hex">{{secondaryTheme.accentPalette.A700}}</span>
                                </li>                                
                            </ul>
                        </section>
                        <md-divider></md-divider>
                        <section class="color-group">
                            <ul>
                                <li class="color main-color" ng-style="{'background-color': secondaryTheme.warnPalette[500]}" ng-class="{'dark': secondaryTheme.warnPalette.contrastDefaultColor == 'dark'}" >
                                    <span class="shade expanded">Warn Color</span>
                                    <span class="hex">{{secondaryTheme.warnPalette[500]}}</span>
                                </li>
                                <li class="color" ng-style="{'background-color': secondaryTheme.warnPalette[300]}" ng-class="{'dark': secondaryTheme.warnPalette.contrastDefaultColor == 'dark'}">
                                    <span class="shade expanded">hue-1</span>
                                    <span class="hex">{{secondaryTheme.warnPalette[300]}}</span>
                                </li>
                                <li class="color" ng-style="{'background-color': secondaryTheme.warnPalette[800]}" ng-class="{'dark': secondaryTheme.warnPalette.contrastDefaultColor == 'dark'}">
                                    <span class="shade expanded">hue-2</span>
                                    <span class="hex">{{secondaryTheme.warnPalette[800]}}</span>
                                </li>
                                <li class="color" ng-style="{'background-color': secondaryTheme.warnPalette.A100}" ng-class="{'dark': secondaryTheme.warnPalette.contrastDefaultColor == 'dark'}">
                                    <span class="shade expanded">hue-3</span>
                                    <span class="hex">{{secondaryTheme.warnPalette.A100}}</span>
                                </li>                                
                            </ul>
                        </section>
                    </div>
                </section>
            </div>
            <md-button class="md-raised md-primary" ng-click="savePalette()">Save this Palette</md-button>
        </md-content>
    </div>
</section>
