<section layout="column" ng-controller="ManageDashCtrl">
    <md-content flex layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ng-click="backToProjects();">
                <div layout-align="start center" layout="row">
                    <i class="material-icons">arrow_back</i> &nbsp; Projects
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <img ng-src="{{project.about.logoImage? project.about.logoImage.mediaFileDetailsList[0].mediapath:logo}}" class="projectLogo" alt="">
            <h1 class="md-title">{{project.name}}</h1>
            <span flex></span>
            <div id="doughnutChart" class="chart"></div>
        </div>
        <div layout="column" layout-align="start start" class="featureProgress">
            <small>Your project progress</small>
            <h3>{{determinateValue}}% completed</h3>
            <!-- <md-button md-no-ink class="md-primary md-raised strip" style="min-height:8px; min-width:50%; margin-bottom:0px;"></md-button> -->
            <md-progress-linear md-mode="determinate" value="{{determinateValue}}"></md-progress-linear>
        </div>
    </md-content>
    <div layout-gt-xs="column" class="layoutPad">
        <div layout="column" flex class="projectLinks">
            <section layout="column">
                <div layout-align="start center" layout="row">
                    <p class="md-body-2 sectionTitle"><span>General Info</span>
                        <md-button md-no-ink class="md-primary md-raised strip"></md-button>
                    </p>
                </div>
                <md-grid-list md-cols="3" md-row-height="55px" layout-align="left">
                    <md-grid-tile>
                        <div flex layout-align="start center" layout="row">
                            <md-button ui-sref="con.manage.about">
                                <div layout-align="start center" layout="row">
                                    <i class="material-icons">format_color_text</i>
                                    <p class="md-title">&nbsp; About App</p>
                                </div>
                            </md-button>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div flex layout-align="start center" layout="row">
                            <md-button ng-disabled="true">
                                <div layout-align="start center" layout="row">
                                    <i class="material-icons">multiline_chart</i>
                                    <p class="md-title">&nbsp; Analytics</p>
                                </div>
                            </md-button>
                        </div>
                    </md-grid-tile>
                </md-grid-list>
            </section>
            <!-- FOR Front End-->
            <section layout="column">
                <div layout-align="start center" layout="row">
                    <p class="md-body-2 sectionTitle"><span>Front-End Layer</span>
                        <md-button md-no-ink class="md-primary md-raised strip"></md-button>
                    </p>
                </div>
                <md-grid-list md-cols="3" md-row-height="55px" layout-align="left">
                    <md-grid-tile>
                        <div flex layout-align="start center" layout="row">
                            <md-button ui-sref="con.manage.feCode">
                                <div layout-align="start center" layout="row">
                                    <i class="material-icons">code</i>
                                    <p class="md-title">&nbsp; Code</p>
                                </div>
                            </md-button>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div flex layout-align="start center" layout="row">
                            <md-button ui-sref="con.manage.feClients">
                                <div layout-align="start center" layout="row">
                                    <i class="material-icons">settings_input_component</i>
                                    <p class="md-title">&nbsp; Clients</p>
                                </div>
                            </md-button>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div flex layout-align="start center" layout="row">
                            <md-button ui-sref="con.manage.tokens">
                                <div layout-align="start center" layout="row">
                                    <i class="material-icons">receipt</i>
                                    <p class="md-title">&nbsp; Tokens</p>
                                </div>
                            </md-button>
                        </div>
                    </md-grid-tile>
                </md-grid-list>
            </section>
            <!-- FOR Back End-->
            <section layout="column">
                <div layout="row" layout-align="space-between center">
                    <p class="md-body-2 sectionTitle"><span>Back-End Layer</span>
                        <md-button md-no-ink class="md-primary md-raised strip"></md-button>
                    </p>
                    <i class="material-icons nbos-help-icon" ng-click="showHelp($event, 1)">help</i>
                    <div flex></div>
                    <md-button class="md-accent md-fab" ng-click="addNewModule()">
                        <md-icon class="material-icons">add</md-icon>
                        <md-tooltip md-direction="left">
                            Create Module
                        </md-tooltip>
                    </md-button>
                </div>
                <md-grid-list md-cols="2" md-row-height="55px" layout-align="left">
                    <md-grid-tile ng-repeat="module in tenantModules">
                        <div flex layout-align="start center" layout="row">
                            <md-button ui-sref="con.manage.tenantModule({'moduleId': module.uuid})">
                                <div layout-align="start center" layout="row">
                                    <i class="material-icons">settings_system_daydream</i>
                                    <p class="md-title">&nbsp; {{module.name}}</p>
                                </div>
                            </md-button>
                        </div>
                    </md-grid-tile>
                </md-grid-list>
            </section>
            <!-- FOR IDENTITY MODULE-->
            <section layout="column">
                <div layout-align="start center" layout="row">
                    <p class="md-body-2 sectionTitle"><span>Identity Module (IDN)</span>
                        <md-button md-no-ink class="md-primary md-raised strip"></md-button>
                    </p>
                    <i class="material-icons nbos-help-icon" ng-click="showHelp($event, 0)">help</i>
                </div>
                <md-grid-list md-cols="3" md-row-height="55px" layout-align="left">
                    <md-grid-tile>
                        <div flex layout-align="start center" layout="row">
                            <md-button ui-sref="con.manage.configureIdn">
                                <div layout-align="start center" layout="row">
                                    <i class="material-icons">settings</i>
                                    <p class="md-title">&nbsp; Configure IDN</p>
                                </div>
                            </md-button>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div flex layout-align="start center" layout="row">
                            <md-button ui-sref="con.manage.users">
                                <div layout-align="start center" layout="row">
                                    <i class="material-icons">people</i>
                                    <p class="md-title">&nbsp; User Management</p>
                                </div>
                            </md-button>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div flex layout-align="start center" layout="row">
                            <md-button ui-sref="con.manage.roles">
                                <div layout-align="start center" layout="row">
                                    <i class="material-icons">local_movies</i>
                                    <p class="md-title">&nbsp; Roles Management</p>
                                </div>
                            </md-button>
                        </div>
                    </md-grid-tile>
                </md-grid-list>
            </section>
            <!-- FOR MODULES-->
            <section layout="column">
                <div layout-align="space-between center" layout="row">
                    <p class="md-body-2 sectionTitle"><span>Modules</span>
                        <md-button md-no-ink class="md-primary md-raised strip"></md-button>
                    </p>
                    <div flex></div>
                    <md-button class="md-accent md-fab" ui-sref="con.manage.config">
                        <md-icon class="material-icons">settings</md-icon>
                        <md-tooltip md-direction="bottom">
                            Configure Modules
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-accent md-fab" ui-sref="con.manage.market">
                        <md-icon class="material-icons">add_shopping_cart</md-icon>
                        <md-tooltip md-direction="bottom">
                            Module Marketplace
                        </md-tooltip>
                    </md-button>
                </div>
                <md-grid-list md-cols="3" md-row-height="55px" layout-align="left">
                    <md-grid-tile ng-repeat="module in subscribedModules">
                        <div flex layout-align="start center" layout="row">
                            <md-button ng-disabled="module.disabled" ui-sref="con.manage.module({'moduleId': module.id})">
                                <div layout-align="start center" layout="row">
                                    <i class="material-icons" ng-if="module.isIcon">{{module.iconInfo.iconName}}</i>
                                    <p class="md-title">&nbsp; {{module.subSectionName}}</p>
                                </div>
                            </md-button>
                        </div>
                    </md-grid-tile>
                </md-grid-list>
            </section>
            <!-- FOR THEMING -->
            <section layout="column">
                <div layout-align="start center" layout="row">
                    <p class="md-body-2 sectionTitle"><span>App Theme</span>
                        <md-button md-no-ink class="md-primary md-raised strip"></md-button>
                    </p>
                </div>
                <md-grid-list md-cols="3" md-row-height="55px" layout-align="left">
                    <md-grid-tile>
                        <div flex layout-align="start center" layout="row">
                            <md-button ui-sref="con.manage.layout">
                                <div layout-align="start center" layout="row">
                                    <i class="material-icons">desktop_mac</i>
                                    <p class="md-title">&nbsp; LAYOUT</p>
                                </div>
                            </md-button>
                        </div>
                    </md-grid-tile>
                    <md-grid-tile>
                        <div flex layout-align="start center" layout="row">
                            <md-button ui-sref="con.manage.theme">
                                <div layout-align="start center" layout="row">
                                    <i class="material-icons">format_paint</i>
                                    <p class="md-title">&nbsp; COLORS & THEMES</p>
                                </div>
                            </md-button>
                        </div>
                    </md-grid-tile>
                </md-grid-list>
            </section>
            <!-- FOR Settings-->
        </div>
    </div>
</section>
