<section layout="column" layout-padding ng-controller="ManageLayoutCtrl">
    <!-- Manage Project Navigation -->
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="con.manage.dash({id : project.tenantId})">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{project.name}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title"> Layout</h1>
        </div>
    </div>
    <md-content layout="column" class="layoutPad">
        <div layout-padding layout="row" layout-align="start center">
            <h1 class="md-title">Include NBOS Modular Layout?</h1>
            <i class="material-icons nbos-help-icon" ng-click="">help</i>
            <div flex="20" show-gt-sm></div>
            <md-switch class="md-accent" md-no-ink aria-label="Switch No Ink" ng-model="data.includeNbosLayout" ng-change="onChange(data.includeNbosLayout)"></md-switch>
            <md-button ng-click="change()">change value</md-button>
        </div>
        <md-content layout-padding md-theme="alternate" layout="column">
            <h2 class="md-title">Selected Layout</h2>
            <md-divider></md-divider>
            <div layout-gt-sm="row" layout="column" layout-padding>
                <div flex="25">
                    <img style="width: 100%;" ng-src="{{projectLayout.previewImage ? projectLayout.previewImage.mediaFileDetailsList[1].mediapath : imagePath}}" alt="{{item.name}}" />
                </div>
                <div flex="75">
                    <p class="md-body-1">{{ projectLayout.name}}</p>
                    <p class="md-body-1">{{ projectLayout.location }}</p>
                    <p class="md-body-1">{{ projectLayout.description }}</p>
                </div>
            </div>
        </md-content>
        <br>
        <br>
        <br>
        <md-table-container ng-show="data.includeNbosLayout">
            <table md-table>
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column>Preview</th>
                        <th md-column md-order-by="nameToLower"><span>Layout Name</span></th>
                        <th md-column>Description</th>
                        <th md-column></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr style="padding-top:10px; padding-bottom: 10px;" md-row ng-repeat="item in layouts">
                        <td md-cell style="height: 100px;" ng-click="showPreview($event, item)"> <img ng-src="{{item.previewImage ? item.previewImage.mediaFileDetailsList[0].mediapath : imagePath}}" style="width: 100px;" alt="{{item.name}}" /> </td>
                        <td md-cell>{{item.name}}</td>
                        <td md-cell>{{item.description}}</td>
                        <td md-cell>
                            <md-button class="md-accent" ng-click="showConfirm($event, item)">
                                Select
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
</section>
