<section layout="column" ng-controller="ManageFeCodeCtrl">
    <!-- Manage Project Navigation -->
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="con.manage.dash({id : project.tenantId})">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{project.name}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title"> Front End Code</h1>
        </div>
    </div>
    <!-- Manage About -->
    <md-content layout="column" class="layoutPad">
        <md-list ng-cloak>
            <md-list-item class="md-3-line md-long-text secondary-button-padding">
                <div class="md-list-item-text">
                    <h3>Front End Web Code</h3>
                    <p>
                        A fully responsive AngularJS + Angular Material code which includes all your selected modules. Please refer the documentation on how to further develop on your app or on how to deploy your app.
                    </p>
                </div>
                <md-button class="md-secondary md-fab md-primary" ng-click="getApp($event,'angular')">
                    <md-icon class="material-icons">file_download</md-icon>
                </md-button>
                <md-button class="md-secondary">Docs</md-button>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-3-line md-long-text secondary-button-padding">
                <div class="md-list-item-text">
                    <h3>Android Code</h3>
                    <p>
                        Coming Soon!
                    </p>
                </div>
                <md-button class="md-secondary md-fab md-primary" ng-click="getApp($event, 'android')">
                    <md-icon class="material-icons">file_download</md-icon>
                </md-button>
                <md-button class="md-secondary" ng-disabled="true">Docs</md-button>
                <md-divider></md-divider>
            </md-list-item>
            <md-list-item class="md-3-line md-long-text secondary-button-padding">
                <div class="md-list-item-text">
                    <h3>iOS Code</h3>
                    <p>
                        Quickly build a starter app using our storyboard design and controllers for identity module to your advantage. Our documentation will help you kickstart, develop, and finally launch the app into the market.
                    </p>
                </div>
                <md-button class="md-secondary md-fab md-primary" ng-click="getApp($event,'ios')">
                    <md-icon class="material-icons">file_download</md-icon>
                </md-button>
                <md-button class="md-secondary" ng-disabled="true">Docs</md-button>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
        <br>
        <br>
        <br>
    </md-content>
</section>
