<md-dialog  ng-cloak>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{layout.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <p class="md-body-1">
                    {{layout.description}}
                </p>

                <p class="md-body-1">
                    {{layout.location}}
                </p>
                <img style="margin: auto; max-width: 100%;" alt="Lush mango tree" ng-src="{{layout.previewImage.mediaFileDetailsList[2].mediapath}}">
                <p class="md-body-1">
                    Reference : Description-URL-here
                </p>

            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button class="md-accent" ng-click="answer('useful')">
                Use This Layout
            </md-button>
        </md-dialog-actions>

</md-dialog>
