<section layout="column" layout-padding ng-controller="ManageClientsCtrl">

    <!-- Manage Project Navigation -->
    <div>
        <md-content layout="column" class="md-whiteframe-1dp">
            <div layout="row" layout-align="left center">
                <md-button class="console_projects_back" ng-click="backToProjects();">
                    <div layout-align="start center" layout="row">
                        <i class="material-icons">arrow_back</i>
                    </div>
                    <md-tooltip md-direction="bottom">
                        Back to Dashboard
                    </md-tooltip>
                </md-button>

                <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt="">
                &nbsp;&nbsp;&nbsp;
                <a ui-sref="con.manage.dash({id : project.tenantId})" class="md-body-2">
                    {{project.name}}
                </a>
                <p class="md-title">
                    &nbsp; / Clients
                </p>
            </div>
        </md-content>
    </div>
    <br><br>

    <!-- Manage Clients-->

    <div>
        <md-content layout="column" class="md-whiteframe-1dp" layout-padding>
            <div layout="row">
                <div flex></div>
                <md-button class="md-icon-button md-primary md-raised" aria-label="Favorite" ng-click="createClient($event)">
                    <i class="material-icons">add_circle_outline</i>
                    <md-tooltip md-direction="left">
                        Add a New Client
                    </md-tooltip>
                </md-button>
            </div>
            <md-divider></md-divider>
            <md-table-container>
                <table md-table>
                    <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column md-order-by="nameToLower"><span>Client Name</span></th>
                        <th md-column>Client ID</th>
                        <th md-column>Active/Inactive</th>
                        <th md-column>Delete</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="client in projectClients">
                        <td md-cell>{{client.clientName}}</td>
                        <td md-cell>{{client.clientId}}</td>
                        <td md-cell><md-switch class="md-secondary" ng-model="setting.enabled"></md-switch></td>
                        <td md-cell><md-icon class="md-secondary" ng-click="deleteClient(client, $event)" class="material-icons">delete</md-icon></td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-content>
    </div>

</section>
