<section layout="column" ng-controller="ManageAppConfigCtrl">
    <!-- Manage Project Navigation -->
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="con.manage.dash({id : project.tenantId})">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{project.name}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title"> Configure Modules</h1>
        </div>
    </div>
    <div layout="row" class="layoutPad">
        <md-content flex="25" layout="column" class="md-whiteframe-1dp drag-modules">
            <div layout="row">
                <span flex></span>
                <md-button class="md-accent" ng-show="isNoDrag" ng-click="showDrag()">Positions</md-button>
                <md-button class="md-accent" ng-show="!isNoDrag" ng-click="savePositions()">Save</md-button>
            </div>
            <ul dnd-list="projectConfig" dnd-disable-if="isNoDrag">
                <li ng-repeat="module in projectConfig" ng-click="goToConfig($index);" dnd-draggable="module" dnd-moved="projectConfig.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="models.selected = module" ng-class="{'selected': models.selected === module, 'drag-list': isNoDrag == false}" dnd-disable-if="isNoDrag" class="clearfix">
                    <div class="handle" ng-show="!isNoDrag">
                        :::
                    </div>
                    <div ng-class="{'drag-list-text': isNoDrag == false}">
                        <img ng-src="{{ module.logoImage.mediaFileDetailsList[0].mediapath }}" class="md-avatar" />
                        <div class="drag-module-name">{{ module.name }}</div>
                    </div>
                </li>
            </ul>
        </md-content>
        <div flex="5"></div>
        <md-content flex layout="column" layout-padding class="md-whiteframe-1dp">
            <div ng-show="showPosition">
                <p class="md-body-2">Module Layout Position</p>
                <p class="md-body-1">Coming Soon!</p>
            </div>
            <div ng-hide="showPosition">
                <dynamic-form project-module="moduleConfig" on-submit="saveConfigForModule(module)"></dynamic-form>
            </div>
        </md-content>
    </div>
</section>
