<section layout="column" layout-padding ng-controller="ManageBeCodeCtrl">
    <!-- Manage Project Navigation -->
    <div layout="column">
        <md-content layout="column" class="md-whiteframe-1dp">
            <div layout="row" layout-align="left center">
                <md-button class="console_projects_back" ng-click="backToProjects();">
                    <div layout-align="start center" layout="row">
                        <i class="material-icons">arrow_back</i>
                    </div>
                    <md-tooltip md-direction="bottom">
                        Back to Dashboard
                    </md-tooltip>
                </md-button>
                <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp;&nbsp;&nbsp;
                <md-button ui-sref="con.manage.dash({id : project.tenantId})" class="md-accent md-body-2">
                    {{project.name}}
                </md-button>
                <p class="md-title">
                    / Front End Code
                </p>
            </div>
        </md-content>
    </div>
    <br>
    <br>
    <!-- Manage About -->
    <div>
        <md-content layout="column" class="md-whiteframe-1dp">

            <md-list ng-cloak>
                <md-list-item class="md-3-line md-long-text secondary-button-padding">
                    <div class="md-list-item-text">
                        <h3>Node JS</h3>
                        <p>
                            A complete starter code to begin your own development on your app. You can use this code to understand how to communicate with our IDN network.
                        </p>
                    </div>
                    <md-button class="md-secondary md-fab md-primary" ng-click="startDownload('node')" disabled>
                        <md-icon class="material-icons">file_download</md-icon>
                    </md-button>
                    <md-button ng-disabled="true" class="md-secondary">Docs</md-button>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line md-long-text secondary-button-padding">
                    <div class="md-list-item-text">
                        <h3>PHP</h3>
                        <p>
                            A complete starter code to begin your own development on your app. You can use this code to understand how to communicate with our IDN network.
                        </p>
                    </div>
                    <md-button class="md-secondary md-fab md-primary" ng-click="startDownload('php')" disabled>
                        <md-icon class="material-icons">file_download</md-icon>
                    </md-button>
                    <md-button ng-disabled="true" class="md-secondary">Docs</md-button>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line md-long-text secondary-button-padding">
                    <div class="md-list-item-text">
                        <h3>Java Spring API</h3>
                        <p>
                            A complete starter code to begin your own development on your app. You can use this code to understand how to communicate with our IDN network.
                        </p>
                    </div>
                    <md-button class="md-secondary md-fab md-primary" ng-click="startDownload('java')">
                        <md-icon class="material-icons">file_download</md-icon>
                    </md-button>
                    <md-button ng-disabled="true" class="md-secondary">Docs</md-button>
                    <md-divider></md-divider>
                </md-list-item>
                <md-list-item class="md-3-line md-long-text secondary-button-padding">
                    <div class="md-list-item-text">
                        <h3>Ruby on Rails</h3>
                        <p>
                            A complete starter code to begin your own development on your app. You can use this code to understand how to communicate with our IDN network.
                        </p>
                    </div>
                    <md-button class="md-secondary md-fab md-primary" ng-click="startDownload('rails')" disabled>
                        <md-icon class="material-icons">file_download</md-icon>
                    </md-button>
                    <md-button ng-disabled="true" class="md-secondary">Docs</md-button>
                    <md-divider></md-divider>
                </md-list-item>

            </md-list>
            <br><br><br>
        </md-content>
    </div>

</section>