<section layout="column" ng-controller="ManageAboutCtrl">
    <!-- Manage Project Navigation -->
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="con.manage.dash({id : project.tenantId})">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{project.name}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title"> About App</h1>
            <div flex></div>
            <md-button class="md-accent md-raised" ng-hide="isEdit" ng-click="showEdit(true)">Edit</md-button>
            <md-button class="" ng-show="isEdit" ng-click="showEdit(false)">Cancel</md-button>
            <md-button class="md-primary md-raised" ng-show="isEdit" ng-click="saveAboutApp()">Save</md-button>
        </div>
    </div>
    
    <!-- Manage About -->

        <md-content layout="column" class="layoutPad">
            <!-- FORM -->
            <div layout="row" md-theme="alternate">
                <div flex="25" layout="row" layout-align="center start">
                    <p class="md-title">App ID / Tenant ID</p>
                </div>
                <div flex="5"></div>
                <div flex="70">
                    <md-content layout-gt-sm="row" layout-padding>
                        <form flex>
                            <div layout="row" flex>
                                <md-input-container flex="50">
                                    <label>App ID</label>
                                    <input ng-model="projectAbout.tenantId" ng-disabled="true">
                                </md-input-container>
                            </div>
                        </form>
                    </md-content>
                </div>
            </div>
            <br>
            <br>
            <form name="userForm">
                <md-divider></md-divider>
                <br>
                <br>
                <div layout="row">
                    <div flex="25" layout="row" layout-align="center start">
                        <p class="md-title">About</p>
                    </div>
                    <div flex="5"></div>
                    <div flex="70">
                        <md-input-container class="md-block" flex-gt-xs="50">
                            <label>Your App Name</label>
                            <input ng-model="projectAbout.name" ng-disabled="!isEdit">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea ng-model="projectAbout.description" md-maxlength="250" rows="1" md-select-on-focus ng-disabled="!isEdit"></textarea>
                        </md-input-container>
                    </div>
                </div>
                <br>
                <br>
                <md-divider></md-divider>
                <br>
                <br>
                <div layout="row">
                    <div flex="25" layout="row" layout-align="center start">
                        <p class="md-title">Images</p>
                    </div>
                    <div flex="5"></div>
                    <div flex="70">
                        <md-input-container class="md-block" flex-gt-xs="50">
                            <p>Logo Image</p>
                            <input type="file" ngf-select="saveImage( 'logo')" ng-model="logoImage" name="file" accept="image/*" ng-disabled="!isEdit" aria-label="logo">
                        </md-input-container>
                        <div>
                            <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[1].mediapath}}" alt="No Logo Image">
                        </div>
                        <md-input-container class="md-block" flex-gt-xs="50">
                            <p>Banner Image</p>
                            <input type="file" ngf-select="saveImage( 'banner')" ng-model="bannerImage" name="file" accept="image/*" ng-disabled="!isEdit" aria-label="logo">
                        </md-input-container>
                        <div class="md-block" flex-gt-xs="50">
                            <img ng-src="{{projectAbout.bannerImage.mediaFileDetailsList[1].mediapath}}" alt="No Banner Image">
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <md-divider></md-divider>
                <br>
                <br>
                <div layout="row">
                    <div flex="25" layout="row" layout-align="center start">
                        <p class="md-title">Contact Info</p>
                    </div>
                    <div flex="5"></div>
                    <div flex="70">
                        <md-input-container class="md-block" flex-gt-xs="50">
                            <label>Company name</label>
                            <input ng-model="projectAbout.contact.category" ng-disabled="!isEdit">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs="50">
                            <label>Company URL</label>
                            <input ng-model="projectAbout.contact.companyUrl" ng-disabled="!isEdit">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs="50">
                            <label>Company Email</label>
                            <input ng-model="projectAbout.contact.companyEmail" ng-disabled="!isEdit">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs="50">
                            <label>Company Phone #</label>
                            <input ng-model="projectAbout.contact.phoneNumber" ng-disabled="!isEdit">
                        </md-input-container>
                    </div>
                </div>
            </form>
            <div layout="row">
                <div flex></div>
                <md-button class="md-accent md-raised" ng-hide="isEdit" ng-click="showEdit(true)">Edit</md-button>
                <md-button class="" ng-show="isEdit" ng-click="showEdit(false)">Cancel</md-button>
                <md-button class="md-primary md-raised" ng-show="isEdit" ng-click="saveAboutApp()">Save</md-button>
            </div>
        </md-content>

</section>
