<section layout="column" ng-controller="ManageMarketCtrl">
    <md-content layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ng-click="projectDash()">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp;&nbsp; {{project.name}}
                </div>
            </md-button>
            <div flex></div>
            <div class="moduleSearch">
                <md-input-container class="md-block searchFilter" flex-gt-sm>
                    <label>Search</label>
                    <md-icon class="material-icons">search</md-icon>
                    <input ng-model="search.text">
                </md-input-container>
            </div>
        </div>
        <h1 class="md-title">Modules Marketplace</h1>
    </md-content>
    <div class="layoutPad">
        <div ng-include="'mod_nbos/mod_console/views/modules/moduleMarketplace.html'"></div>
    </div>
</section>
