<md-content layout="column" layout-padding class="md-whiteframe-1dp" ng-controller="ManageClientTokensCtrl">
    <div>
        <img src="" alt="">
        <p class="md-headline">
            <a ui-sref="con.manage.dash({id : project.tenantId})">
                <b>{{project.name}}</b>
            </a> /
            <span class="md-subhead">Clients Tokens</span>
        </p>
    </div>
    <div layout="column">
        <div ng-if="tokens.length==0" class="md-body-2">
            You do not have any tokens yet
        </div>
        <md-list flex>
            <md-subheader class="md-no-sticky"></md-subheader>
            <md-list-item class="md-3-line" ng-repeat="item in tokens" ng-click="null">
                <img ng-src="{{imagePath}}" class="md-avatar" alt="{{item.name}}" />
                <!--<img ng-src="{{item.img}}?{{imagePath}}" class="md-avatar" alt="{{item.name}}" />-->
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.name}}</h3>
                    <h4>{{ item.location }}</h4>
                    <p>{{ item.description }}</p>
                </div>
                <md-divider md-inset></md-divider>
            </md-list-item>
        </md-list>
    </div>
</md-content>
