<div ng-controller="ManageCtrl">
    <ui-view></ui-view>
    <div layout="column" layout-align="center center" ng-show="showProgress">
        <br><br><br><br>
        <h4>Loading Project...</h4>
        <div style="width: 400px;">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
    </div>
</div>
