<section layout="column" layout-padding ng-controller="ManageTenantModuleCtrl">
    <!-- Manage Project Navigation -->
    <div layout="column">
        <md-content layout="column" class="md-whiteframe-1dp">
            <div layout="row" layout-align="left center">
                <md-button class="console_projects_back" ng-click="backToProjects();">
                    <div layout-align="start center" layout="row">
                        <i class="material-icons">arrow_back</i>
                    </div>
                    <md-tooltip md-direction="bottom">
                        Back to Dashboard
                    </md-tooltip>
                </md-button>
                <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp;&nbsp;&nbsp;
                <md-button ui-sref="con.manage.dash({id : project.tenantId})" class="md-accent md-body-2">
                    {{project.name}}
                </md-button>
                <p class="md-title">
                    / {{module.name}}
                </p>
            </div>
        </md-content>
    </div>
    <br>
    <br>
    <!-- Manage About -->
    <div>
        <md-content layout="column" class="md-whiteframe-1dp">
            <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
                <md-tab label="Info">
                    <md-content class="md-padding">
                        <h1 class="md-display-2" ng-hide="true">About</h1>
                        <div layout="column">
                            <!--<div layout="row" layout-padding layout-align="center center" ng-show="moduleActive">-->
                            <!--<p class="md-body-2"><strong>NOTE: </strong>Module is active. Please deactivate module to make changes in roles and authorities.</p>-->
                            <!--</div>-->
                            <div layout="row" layout-padding>
                                <p flex="40" class="md-body-2" style="text-align: right;">Module Name:</p>
                                <p flex="60">{{module.name}}</p>
                            </div>
                            <div layout="row" layout-padding layout-align="center center">
                                <p flex="40" class="md-body-2" style="text-align: right;">Activate Module: </p>
                                <md-switch flex="60" ng-model="moduleActive" aria-label="Switch 1" ng-change="activateModule()">
                                    {{ moduleActive ? "Active" : "In-Active"}}
                                </md-switch>
                            </div>
                            <div layout="row" layout-padding>
                                <p flex="40" class="md-body-2" style="text-align: right;">Description:</p>
                                <p flex="60">{{module.description}}</p>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Clients">
                    <md-content class="md-padding">
                        <h1 class="md-display-2" ng-hide="true">Clients</h1>
                        <div layout="column">
                            <div layout="row">
                                <p flex="40" class="md-body-2" style="text-align: right;">Client Name: &nbsp;&nbsp;&nbsp;</p>
                                <p flex="60">Module API Client</p>
                            </div>
                            <div layout="row">
                                <p flex="40" class="md-body-2" style="text-align: right;">Client ID: &nbsp;&nbsp;&nbsp;</p>
                                <p flex="60">{{module.apiClients[0].clientId}}</p>
                            </div>
                            <div layout="row">
                                <p flex="40" class="md-body-2" style="text-align: right;">Client Secret: &nbsp;&nbsp;&nbsp;</p>
                                <md-button class="md-raised md-primary" ng-click="updateSecret($event);">Set New Secret</md-button>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Authorities (Access Control)">
                    <md-content class="md-padding">
                        <h1 class="md-display-2" ng-hide="true">Authorities (Access Control)</h1>
                        <div layout="row">
                            <div flex></div>
                            <md-button ng-click="newAuthority($event)" class="md-accent md-raised">Create Authority</md-button>
                        </div>
                        <md-list flex>
                            <md-subheader class="md-no-sticky">Selected Authorities</md-subheader>
                            <md-subheader class="md-no-sticky" ng-if="module.authorities.length == 0">No Authorities Defined</md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="authority in module.authorities">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ authority.displayName }}</h3>
                                    <h4>{{ authority.uAuthorityName }}</h4>
                                    <p>{{ authority.description }}</p>
                                </div>
                                <md-icon class="md-secondary material-icons" aria-label="edit" ng-click="newAuthority($event, authority)">
                                    mode_edit
                                </md-icon>
                                <md-icon class="md-secondary material-icons md-warn" aria-label="remove" ng-click="confirmAuthorityDelete($event, authority)">
                                    delete
                                </md-icon>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                <!-- COMMENTING ROLES IN TENANT MODULE CODE. We prefer user -->
                <!--
                <md-tab label="Roles">
                    <md-content class="md-padding">

                        <div ng-hide="isManage">
                            <h1 class="md-display-2" ng-hide="true">Roles</h1>
                            <div layout="row">
                                <div flex></div>
                                <md-button ng-click="manageRole()" class="md-accent md-raised">Define New Role</md-button>
                            </div>

                            <md-table-container >
                                <table md-table>
                                    <thead md-head md-order="query.order">
                                    <tr md-row>
                                        <th md-column><span>Role Name</span></th>
                                        <th md-column>Authorities</th>
                                        <th md-column>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody md-body>
                                    <tr md-row ng-repeat="role in module.roles">
                                        <td md-cell>{{role.uRoleName}}</td>
                                        <td md-cell>
                                            <div layout="column">
                                                <p ng-repeat="authority in role.authorities">{{authority.uAuthorityName}}</p>
                                            </div>
                                        </td>
                                        <td md-cell>
                                            <md-button class="md-secondary" ng-click="manageRole(role)">
                                                <md-icon class="material-icons">mode_edit</md-icon>
                                            </md-button>
                                            <md-button class="md-secondary md-warn" ng-click="deleteRole($event, role)">
                                                <md-icon class="material-icons">delete</md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </div>

                    </md-content>
                </md-tab>

                <md-tab label="Manage Role" ng-disabled="selectedIndex == 4 ? false: true ">
                    <md-content class="md-padding">
                        <div layout="row">
                            <div flex></div>
                            <md-icon class="md-primary material-icons" ng-click="backToList();">arrow_back</md-icon> &nbsp;&nbsp; Back to List
                        </div>
                        <manage-role module="module" module-update="getModuleForModuleId()" role-obj="manageRoleObj" u-role-name="{{manageRoleObj_uRoleName}}"</manage-role>
                    </md-content>
                </md-tab>
                -->
                <md-tab label="Code">
                    <!-- FOR CODE DOWNLOAD-->
                    <md-content class="md-padding">
                        <h1 class="md-display-2" ng-hide="true">Starter Code</h1>
                        <md-list ng-cloak>
                            <md-list-item class="md-3-line md-long-text secondary-button-padding">
                                <div class="md-list-item-text">
                                    <h3>Node JS</h3>
                                    <p>
                                        A complete starter code to begin your own development on your app. You can use this code to understand how to communicate with our IDN network.
                                    </p>
                                </div>
                                <md-button class="md-secondary md-fab md-primary" ng-click="getStarterCode($event, 'node')">
                                    <md-icon class="material-icons">file_download</md-icon>
                                </md-button>
                                <md-button ng-disabled="true" class="md-secondary">Docs</md-button>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-list-item class="md-3-line md-long-text secondary-button-padding">
                                <div class="md-list-item-text">
                                    <h3>PHP</h3>
                                    <p>
                                        A complete starter code to begin your own development on your app. You can use this code to understand how to communicate with our IDN network.
                                    </p>
                                </div>
                                <md-button class="md-secondary md-fab md-primary" ng-click="getStarterCode($event, 'php')">
                                    <md-icon class="material-icons">file_download</md-icon>
                                </md-button>
                                <md-button ng-disabled="true" class="md-secondary">Docs</md-button>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-list-item class="md-3-line md-long-text secondary-button-padding">
                                <div class="md-list-item-text">
                                    <h3>Java Spring API</h3>
                                    <p>
                                        A complete starter code to begin your own development on your app. You can use this code to understand how to communicate with our IDN network.
                                    </p>
                                </div>
                                <md-button class="md-secondary md-fab md-primary" ng-click="getStarterCode($event, 'java')">
                                    <md-icon class="material-icons">file_download</md-icon>
                                </md-button>
                                <md-button ng-disabled="true" class="md-secondary">Docs</md-button>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-list-item class="md-3-line md-long-text secondary-button-padding">
                                <div class="md-list-item-text">
                                    <h3>Ruby on Rails</h3>
                                    <p>
                                        A complete starter code to begin your own development on your app. You can use this code to understand how to communicate with our IDN network.
                                    </p>
                                </div>
                                <md-button class="md-secondary md-fab md-primary" ng-click="getStarterCode($event, 'rails')">
                                    <md-icon class="material-icons">file_download</md-icon>
                                </md-button>
                                <md-button ng-disabled="true" class="md-secondary">Docs</md-button>
                                <md-divider></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
            <br>
            <br>
            <br>
        </md-content>
    </div>
</section>
