<md-dialog aria-label="Authorities" flex="60">
    <form name="authorityForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Define Authority or Access Control</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Authority Name</label>
                    <input required name="displayName" ng-model="authority.displayName">
                    <div ng-messages="authorityForm.displayName.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Description</label>
                    <input md-maxlength="50" required md-no-asterisk name="description" ng-model="authority.description">
                    <div ng-messages="authorityForm.description.$error">
                        <div ng-message="required">This is required.</div>
                        <div ng-message="md-maxlength">The description must be less than 50 characters long.</div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-input-container class="md-block">
                        <label>Authority Code</label>
                        <input required name="authorityPrefix" ng-model="authority.authorityName_prefix" ng-pattern="/^\S+$/" disabled>
                        <div ng-messages="authorityForm.authorityPrefix.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="pattern">No spaces allowed.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Category</label>
                        <input required name="authorityName_category" ng-model="authority.authorityName_category" ng-pattern="/^\S+$/">
                        <div ng-messages="authorityForm.authorityName_category.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="pattern">No spaces allowed.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Sub-Category</label>
                        <input required name="authorityName_subCategory" ng-model="authority.authorityName_subCategory" ng-pattern="/^\S+$/">
                        <div ng-messages="authorityForm.authorityName_subCategory.$error">
                            <div ng-message="required">This is required.</div>
                            <div ng-message="pattern">No spaces allowed.</div>
                        </div>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <!--<label>&nbsp;</label>-->
                    <input required name="displayNameFull" disabled value="{{authority.authorityName_prefix + '.' + authority.authorityName_category + '.' +authority.authorityName_subCategory}}">
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-progress-circular md-mode="indeterminate" class="md-accent" ng-show="showProgress"></md-progress-circular>
            &nbsp;&nbsp;&nbsp;
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button type="submit" ng-click="answer()" ng-disabled="authorityForm.$invalid" class="md-accent md-raised">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>