<section layout="column" ng-controller="ManageRolesCtrl" ng-cloak>
    <!-- Manage Project Navigation -->
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="con.manage.dash({id : project.tenantId})">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{project.name}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title"> Roles Management</h1>
            <div flex></div>
            <md-button ng-click="showPrompt($event)" class="md-accent md-raised" style="min-width:120px;">Define New Role</md-button>
        </div>
    </div>
    <!-- Manage About -->
    <md-content layout="column" class="layoutPad">
        <md-table-container>
            <table md-table>
                <thead md-head md-order="query.order">
                    <tr md-row>
                        <th md-column><span>Role Name</span></th>
                        <th md-column>Authorities</th>
                        <th md-column>Actions</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="role in roles">
                        <td md-cell>{{role.uRoleName}}</td>
                        <td md-cell>
                            <div layout="column">
                                <p ng-repeat="authority in role.authorities">{{authority.uAuthorityName}}</p>
                            </div>
                        </td>
                        <td md-cell>
                            <md-button class="md-secondary" ng-click="editRole($event, role)">
                                <md-icon class="material-icons">mode_edit</md-icon>
                            </md-button>
                            <md-button class="md-secondary md-warn" ng-click="deleteRole($event, role)">
                                <md-icon class="material-icons">delete</md-icon>
                            </md-button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
</section>
