<section layout="column" layout-padding ng-controller="ManageBeClientsCtrl">

    <!-- Manage Project Navigation -->
    <div>
        <md-content layout="column" class="md-whiteframe-1dp">
            <div layout="row" layout-align="left center">
                <md-button class="console_projects_back" ng-click="backToProjects();">
                    <div layout-align="start center" layout="row">
                        <i class="material-icons">arrow_back</i>
                    </div>
                    <md-tooltip md-direction="bottom">
                        Back to Dashboard
                    </md-tooltip>
                </md-button>

                <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt="">
                &nbsp;&nbsp;&nbsp;
                <md-button ui-sref="con.manage.dash({id : project.tenantId})" class="md-accent md-body-2">
                    {{project.name}}
                </md-button>
                <p class="md-title">
                    / Clients
                </p>
            </div>
        </md-content>
    </div>
    <br><br>

    <!-- Manage Clients-->

    <div>
        <md-content layout="column" class="md-whiteframe-1dp" layout-padding>
            <div layout="column">
                <div layout="row">
                    <p flex="40" class="md-body-2" style="text-align: right;">Client Name: &nbsp;&nbsp;&nbsp;</p>
                    <p flex="60">{{beClients.clientName}}</p>
                </div>
                <div layout="row">
                    <p flex="40" class="md-body-2" style="text-align: right;">Client ID: &nbsp;&nbsp;&nbsp;</p>
                    <p flex="60">{{beClients.clientId}}</p>
                </div>
                <div layout="row">
                    <p flex="40" class="md-body-2" style="text-align: right;">Client Secret: &nbsp;&nbsp;&nbsp;</p>
                    <md-button class="md-raised md-primary" ng-click="updateSecret();">Set New Secret</md-button>
                </div>

            </div>
        </md-content>
    </div>

</section>
