<md-dialog aria-label="Help Center">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{info.name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" ng-bind-html="description"></div>
        </md-dialog-content>

    </form>
</md-dialog>