<section layout="column" ng-controller="ManageFeClientsCtrl">
    <!-- Manage Project Navigation -->
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="con.manage.dash({id : project.tenantId})">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{project.name}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title"> Clients</h1>
            <div flex></div>
            <md-button class="md-icon-button md-accent md-raised" aria-label="Favorite" ng-click="createClient($event)">
                <div layout="row" layout-align="center center">
                    <i class="material-icons">add_circle_outline</i>
                    <md-tooltip md-direction="left">
                        Add a New Client
                    </md-tooltip>
                </div>
            </md-button>
        </div>
    </div>
    <!-- Manage Clients-->
    <div>
        <md-content layout="column" class="layoutPad">
            <!-- <div layout="row">
                <div flex></div>
                <md-button class="md-icon-button md-primary md-raised" aria-label="Favorite" ng-click="createClient($event)">
                    <i class="material-icons">add_circle_outline</i>
                    <md-tooltip md-direction="left">
                        Add a New Client
                    </md-tooltip>
                </md-button>
            </div>
            <md-divider></md-divider> -->
            <md-table-container>
                <table md-table>
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column md-order-by="nameToLower"><span>Client Name</span></th>
                            <th md-column>Client ID</th>
                            <th md-column>Activate/Deactivate</th>
                            <th md-column>Delete</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="client in feClients">
                            <td md-cell>{{client.clientName}}</td>
                            <td md-cell>{{client.clientId}}</td>
                            <td md-cell>
                                <md-switch class="md-secondary" ng-disabled="true"></md-switch>
                            </td>
                            <td md-cell>
                                <md-button class="md-fab md-warn" ng-click="deleteClient(client, $event)">
                                    <md-icon class="material-icons">delete</md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-content>
    </div>
</section>
