<section layout="column" ng-controller="ManageMarketViewCtrl">
    <md-content layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ng-click="projectDash()">
                 <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> 
                    &nbsp; {{project.name}}
                </div>
            </md-button>
            &nbsp; / &nbsp;
            <md-button ui-sref="con.manage.market({id : project.tenantId})" class="md-accent">
                Modules Marketplace
            </md-button>
             &nbsp; / &nbsp;
            <md-button class="md-accent" style="cursor:text;">
                Module View
            </md-button>
        </div>
    </md-content>
    <section ng-include="'mod_nbos/mod_console/views/modules/moduleView.html'"></section>
</section>
