<section layout="column" ng-controller="ManageConfigureIdnCtrl">
    <!-- Manage Project Navigation -->
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="con.manage.dash({id : project.tenantId})">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{project.name}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title"> Configure IDN</h1>
        </div>
    </div>

    <!-- Manage About -->

        <div layout="column" layout-align="center center" ng-show="showProgress">
            <br>
            <br>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            <br>
            <br>
        </div>
        <md-content layout="column" class="layoutPad" ng-hide="showProgress">
            <h3 class="md-title">App Connections</h3>
            <dynamic-form project-module="appConfig" on-submit="saveConfigForModule(module)"></dynamic-form>
        </md-content>

        <br><br><br>
        <md-content layout="column" class="layoutPad" ng-hide="showProgress">
            <h3 class="md-title">Social Connections</h3>
            <div layout="column" ng-repeat="social in configArr">
                <md-switch ng-model="social.values" ng-true-value="'true'" ng-false-value="'false'" class="md-block" flex="30" aria-label="Multiple" ng-change="updateSocial(social)">
                    {{social.description}}
                </md-switch>
                <div class="layout-margin" ng-repeat="config in social.innerObj" ng-if="social.values=='true'">
                    <md-input-container class="md-block" flex-gt-xs=100>
                        <label>{{config.description}}</label>
                        <input type="text" ng-model="config.values">
                    </md-input-container>
                </div>
                <md-divider></md-divider>
            </div>
            <div layout="row" layout-align="end end">
                <md-button class="md-raised md-primary" ng-click="updateConfig()">Update</md-button>
            </div>
        </md-content>

</section>
