<section layout="column" layout-padding ng-controller="ManageAuthoritiesCtrl">
    <!-- Manage Project Navigation -->
    <div layout="column">
        <md-content layout="column" class="md-whiteframe-1dp">
            <div layout="row" layout-align="left center">
                <md-button class="console_projects_back" ng-click="backToProjects();">
                    <div layout-align="start center" layout="row">
                        <i class="material-icons">arrow_back</i>
                    </div>
                    <md-tooltip md-direction="bottom">
                        Back to Dashboard
                    </md-tooltip>
                </md-button>
                <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp;&nbsp;&nbsp;
                <md-button ui-sref="con.manage.dash({id : project.tenantId})" class="md-accent md-body-2">
                    {{project.name}}
                </md-button>
                <p class="md-title">
                    / Authorities (Access Control)
                </p>
            </div>
        </md-content>
    </div>
    <br>
    <br>
    <!-- Manage About -->
    <div>
        <md-content layout="column" class="md-whiteframe-1dp">
            <br>
            <div layout="row">
                <div flex></div>
                <md-button ng-click="newAuthority($event)" class="md-accent md-raised">Create Authority</md-button>
            </div>
            <br>
            <md-list flex>
                <md-subheader class="md-no-sticky">Selected Authorities</md-subheader>
                <md-subheader class="md-no-sticky" ng-if="authorities.length == 0">No Authorities Defined</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="authority in authorities" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ authority.displayName }}</h3>
                        <h4>{{ authority.uAuthorityName }}</h4>
                        <p>{{ authority.description }}</p>
                        <md-icon class="md-secondary material-icons md-warn" aria-label="remove">
                            delete
                        </md-icon>
                    </div>
                </md-list-item>
            </md-list>
            <br><br><br>
        </md-content>
    </div>

</section>