<section layout="column" layout-padding ng-controller="ManageAppConfigCtrl">
    <!-- Manage Project Navigation -->
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="con.manage.dash({id : project.tenantId})">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{project.name}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title"> Tokens</h1>
        </div>
    </div>
    <md-content layout="column" class="layoutPad">
        <md-table-container flex>
            <table md-table>
                <thead md-head md-order="query.order" md-on-reorder="getDesserts">
                    <tr md-row>
                        <th md-column md-order-by="nameToLower"><span>Token Type</span></th>
                        <th md-column md-numeric md-order-by="calories.value"><span>Token</span></th>
                        <th md-column md-numeric>Username</th>
                        <th md-column md-numeric>ClientID</th>
                        <th md-column md-numeric>Expiration</th>
                        <th md-column md-numeric>Status</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="token in tokens">
                        <td md-cell>{{token.tokenType}}</td>
                        <td md-cell>{{token.token}}</td>
                        <td md-cell>{{token.username}}</td>
                        <td md-cell>{{token.clientId}}</td>
                        <td md-cell>{{token.expiration}}</td>
                        <td md-cell>{{token.expired}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-content>
</section>
