<md-dialog aria-label="Role">
    <form name="moduleForm">
        <md-dialog-content>
            <div class="md-dialog-content">
                <h3>Please provide a module name</h3>
                <br>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Name</label>
                    <input required ng-model="moduleName" name="title" autocomplete="off" ng-pattern="/^\S+$/">
                    <div ng-messages="moduleForm.title.$error" role="alert">
                        <div ng-message="required">
                            Module Name cannot be empty.
                        </div>
                        <div ng-message="pattern">
                            Module Name cannot have spaces.
                        </div>
                    </div>
                </md-input-container>
                <p class="nbos-warn md-body-2">
                    {{error}}
                </p>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <div flex></div>
            <md-button md-no-ink class="" ng-click="cancel()">Cancel</md-button>
            <md-button md-no-ink class="md-accent md-raised" ng-click="answer()" ng-disabled="moduleForm.$invalid">Create</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>