<!DOCTYPE html>
<html>
<head>
  <title>404 - Page Not Found</title>
  <style type="text/css">
  	.pageNotFound{
  		background-image: url('assets/images/404.png');
  		min-height: 400px;
   	 	background-repeat: no-repeat;
    	background-position: center center;
  	}
  </style>
</head>
<body>
<div class="pageNotFound">
	<!-- <img src="assets/images/404.png"> -->
</div>
</body>
</html>
