<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- angular material-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.css' type='text/css' media='all'/>
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>



    <!-- Include Font Awesome. -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

    <!-- Include Editor style. -->
    <link href="bower_components/froala-wysiwyg-editor/css/froala_editor.min.css" rel="stylesheet" type="text/css" />
    <link href="bower_components/froala-wysiwyg-editor/css/froala_style.min.css" rel="stylesheet" type="text/css" />

    <!-- Include Code Mirror style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
    <link href="bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>

    <!-- Include Editor Plugins style. -->
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/char_counter.css">
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/code_view.css">
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/colors.css">
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/emoticons.css">
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/file.css">
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/image.css">
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/image_manager.css">
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/quick_insert.css">
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/table.css">
    <link rel="stylesheet" href="bower_components/froala-wysiwyg-editor/css/plugins/video.css">
    <link href="bower_components/md-color-picker/dist/mdColorPicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="bower_components/angular-swagger-ui/dist/css/swagger-ui.min.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->

    <link rel="stylesheet" href="mod_idn/assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/appStyles.css">
    <meta name="google-signin-clientid" content="1048284915210-7m2ojuk6sovovmc9jk6e27vvlas73adi.apps.googleusercontent.com" />
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login email" />
    <meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <!-- endbuild -->

    <!-- favicon -->

</head>
<body ng-app="clientApp" layout="column" flex>
<div id="subdomain" class="nbos_hide"><%= subDomain %></div>
<div id="ENV" class="nbos_hide"><%= ENV %></div>
<div id="appName" class="nbos_hide"><%= ENV %></div>

<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->

<div ui-view id="codingLabsView" ng-controller="AppCtrl" layout="cloumn" flex></div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-82386223-1', 'auto');
    ga('send', 'pageview');


    (function () {
        /*
         vrathore: The angular material seems to look a little too big. Untill srikanth reduces the size for it all,
         */
        //document.body.style.zoom = "90%";
    })();
    console.log = function(){}
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!-- ANGULARJS Libraries-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<!--Cookies-->
<!--<script src="bower_components/angular-cookie/angular-cookie.min.js"></script>-->
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="bower_components/angular-resource/angular-resource.js"></script>
<!-- angular material requirements-->
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<!--loading bar-->
<script src='bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
<!--underscore-->
<script src="bower_components/underscore/underscore.js"></script>
<!--file Upload-->
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<!--Md-table -->
<script src="bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>

<!--Tiny Color-->
<script src="bower_components/tinycolor/dist/tinycolor-min.js"></script>

<!-- froala JS files. -->
<script src="bower_components/angular-froala/src/angular-froala.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/froala_editor.min.js"></script>

  <!-- Include Code Mirror. -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

  <!-- Include Plugins. -->
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/align.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/char_counter.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/code_beautifier.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/code_view.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/colors.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/emoticons.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/entities.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/file.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/font_family.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/font_size.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/fullscreen.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/image.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/image_manager.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/inline_style.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/line_breaker.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/link.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/lists.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/paragraph_format.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/paragraph_style.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/quick_insert.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/quote.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/table.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/save.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/url.min.js"></script>
  <script src="bower_components/froala-wysiwyg-editor/js/plugins/video.min.js"></script>
  <script src="bower_components/angular-swagger-ui/dist/scripts/swagger-ui.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/angular-swagger-ui/dist/scripts/modules/swagger1-to-swagger2-converter.min.js"></script>
  <script src="bower_components/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>

<!--Color Picker-->
<script src="bower_components/tinycolor/dist/tinycolor-min.js"></script>
<script src="bower_components/md-color-picker/dist/mdColorPicker.min.js"></script>


<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!-- APP -->
<script src="client.js"></script>

<!-- CONFIGURATIONS LEVEL -->
<!-- config -->
<script src="app_config/app.config.js"></script>
<script src="app_config/config/app.tokensService.js"></script>
<script src="app_config/config/app.configService.js"></script>
<script src="app_config/config/app.ctrl.js"></script>

<!-- navigation -->
<script src="app_config/navigation/app.navigation.js"></script>
<script src="app_config/navigation/app.navigationService.js"></script>

<!-- theme -->
<script src="app_config/theme/app.theme.js"></script>

<script src="app_config/views/errorCtrl.js"></script>
<!-- common -->
<script src="app_config/common/stateService.js"></script>
<script src="app_config/common/errorService.js"></script>


<!-- layout -->
<script src="app_layout/app.layout.js"></script>
<script src="app_layout/layoutCtrl.js"></script>
<script src="app_layout/layoutService.js"></script>


<!--primaryPage-->
<script src="app_config/views/primaryPageCtrl.js"></script>

<!-- APP_IDN -->
<script src="mod_idn/mod.idn.js"></script>
<script src="mod_idn/scripts/idnConstants.js"></script>


<!-- SERVICES -->
<script src="mod_idn/scripts/services/SessionService.js"></script>
<script src="mod_idn/views/dashboard/RolesService.js"></script>
<script src="mod_idn/views/dashboard/UserService.js"></script>
<script src="mod_idn/scripts/services/shared/alertService.js"></script>
<script src="mod_idn/scripts/services/registration/registerService.js"></script>
<script src="mod_idn/scripts/services/registration/loginService.js"></script>
<script src="mod_idn/views/forgot/forgotService.js"></script>
<script src="mod_idn/views/reset/resetService.js"></script>

<!-- CONTROLLERS -->
<script src="mod_idn/views/dashboard/idn.dashboardCtrl.js"></script>

<script src="mod_idn/scripts/controllers/registration/loginCtrl.js"></script>
<script src="mod_idn/views/forgot/forgotCtrl.js"></script>
<script src="mod_idn/views/reset/resetCtrl.js"></script>
<script src="mod_idn/scripts/controllers/registration/registerCtrl.js"></script>
<script src="mod_idn/scripts/controllers/registration/registerSuccessCtrl.js"></script>
<script src="mod_idn/views/menu/idn.headerCtrl.js"></script>
<script src="mod_idn/views/menu/idn.navCtrl.js"></script>
<script src="mod_idn/views/profile/idn.profileCtrl.js"></script>
<script src="mod_idn/views/settings/idn.settingsCtrl.js"></script>
<script src="mod_idn/views/settings/compareTo.js"></script>
<script src="mod_idn/views/bug/idn.bugReportingCtrl.js"></script>
<script src="mod_idn/views/bug/idn.bugViewCtrl.js"></script>
<script src="mod_idn/views/bug/idn.bugCreateCtrl.js"></script>
<script src="mod_idn/views/bug/idn.bugReportingService.js"></script>
<script src="mod_idn/scripts/services/registration/PasswordService.js"></script>

<!-- SOCIAL LOGIN -->
<script src="mod_idn/scripts/services/social/SocialLoginService.js"></script>
<script src="mod_idn/scripts/services/social/FBService.js"></script>
<script src="mod_idn/scripts/services/social/GoogleService.js"></script>
<script src="https://apis.google.com/js/client:platform.js" async defer></script>


<!--MOD_NBOS-->
<script src="mod_nbos/mod.nbos.js"></script>

<!-- APP_CONSOLE -->
<script src="mod_nbos/mod_console/mod.console.js"></script>
<script src="mod_nbos/mod_console/views/dashboard/console.dashboardCtrl.js"></script>
<script src="mod_nbos/mod_console/views/projects/projectsCtrl.js"></script>
<script src="mod_nbos/mod_console/views/projects/projectsService.js"></script>
<script src="mod_nbos/mod_dev/scripts/services/StarterCoderService.js"></script>

<script src="mod_nbos/mod_console/views/manage/manageCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/ManageService.js"></script>
<script src="mod_nbos/mod_console/views/manage/Module_RoleAuthService.js"></script>
<script src="mod_nbos/mod_console/views/manage/TenantLayoutService.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.dashCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.aboutCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.appConfigCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.configureIdnCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.rolesCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.rolesCreateCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.clientsCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.tokensCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.layoutCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.themeCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.marketCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.marketViewCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/Manage.ModuleViewCtrl.js"></script>
<!--<script src="mod_nbos/mod_console/views/manage/manage.clientTokensCtrl.js"></script>-->
<script src="mod_nbos/mod_console/views/manage/manage.feCodeCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.feClientsCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.beClientsCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.authoritiesCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.beCodeCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.tenantModuleCtrl.js"></script>
<script src="mod_nbos/mod_console/views/manage/manage.ManageUsersCtrl.js"></script>

<script src="mod_nbos/mod_console/views/menu/console.headerCtrl.js"></script>
<script src="mod_nbos/mod_console/views/menu/console.navCtrl.js"></script>

<script src="mod_nbos/mod_console/views/modules/moduleMarketplaceCtrl.js"></script>
<script src="mod_nbos/mod_console/views/modules/moduleService_Console.js"></script>
<script src="mod_nbos/mod_console/views/modules/moduleViewCtrl.js"></script>
<script src="mod_nbos/mod_console/views/dynamicForm/dynamicForm.js"></script>


<!-- STARTER CODE-->
<script src="mod_app/mod.app.js"></script>
<script src="mod_app/views/menu/app.headerCtrl.js"></script>
<script src="mod_app/views/dashboard/app.dashboardCtrl.js"></script>
<script src="mod_app/views/newpage/app.newpageCtrl.js"></script>





<!-- endbuild -->
</body>
</html>
