<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- angular material-->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.css' type='text/css'
          media='all'/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="mod_idn/assets/css/styles.css">
    <link rel="stylesheet" href="mod_todo/styles/TodoStyles.css">
    <link rel="stylesheet" href="assets/css/appStyles.css">
    <meta name="google-signin-clientid" content="746041504053-pfsl4m1ie77gpr1h2kfjbndd469qt0gb.apps.googleusercontent.com" />
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login email" />
    <meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    <!-- endbuild -->

    <!-- favicon -->

</head>
<body ng-app="nbosApp">
<div id="subdomain" hide><%= subDomain %></div>

<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->


<div ui-view layout="column" id="codingLabsView" ng-controller="AppCtrl"></div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script>
    (function () {
        /*
         vrathore: The angular material seems to look a little too big. Untill srikanth redues the size for it all,
         */
        //document.body.style.zoom = "90%";
    })();
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<!-- ANGULARJS Libraries-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<script src="bower_components/angular-resource/angular-resource.js"></script>
<!-- angular material requirements-->
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>

<!--loading bar-->
<script type='text/javascript' src='bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!-- APP -->
<script src="client.js"></script>

<!-- CONFIGURATIONS LEVEL -->
<!-- config -->
<script src="mod_config/config/app.config.js"></script>
<script src="mod_config/config/appService.js"></script>
<script src="mod_config/config/appCtrl.js"></script>
<!-- layout -->
<script src="mod_config/layout/app.layout.js"></script>
<script src="mod_config/layout/layoutCtrl.js"></script>
<!--primaryPage-->
<script src="mod_config/primaryPage/primaryPageCtrl.js"></script>


<!-- APP_ID -->
<script src="mod_idn/mod.idn.js"></script>
<script src="mod_idn/scripts/idnConstants.js"></script>

<!-- CONTROLLERS -->
<script src="mod_idn/scripts/controllers/primaryIdnCtrl.js"></script>
<script src="mod_idn/scripts/controllers/registration/loginCtrl.js"></script>
<script src="mod_idn/scripts/controllers/registration/registerCtrl.js"></script>
<script src="mod_idn/scripts/controllers/registration/registerSuccessCtrl.js"></script>
<!-- SERVICES -->
<script src="mod_idn/scripts/services/SessionService.js"></script>
<script src="mod_idn/scripts/services/UserService.js"></script>
<script src="mod_idn/scripts/services/shared/alertService.js"></script>
<script src="mod_idn/scripts/services/registration/registerService.js"></script>
<script src="mod_idn/scripts/services/registration/loginService.js"></script>
<script src="mod_idn/scripts/services/social/SocialLoginService.js"></script>
<script src="mod_idn/scripts/services/social/FBService.js"></script>
<script src="mod_idn/scripts/services/social/GoogleService.js"></script>
<script src="https://apis.google.com/js/client:platform.js" async defer></script>


<!-- APP_TODO -->
<script src="bower_components/underscore/underscore.js"></script>
<script src="mod_todo/scripts/mod.todo.js"></script>
<script src="mod_todo/scripts/todoConfig.js"></script>
<script src="mod_todo/scripts/services/TodoService.js"></script>
<script src="mod_todo/scripts/controllers/TodoController.js"></script>


<!-- APP_STARTER -->
<script src="mod_console/app.console.module.js"></script>
<script src="app_admin/app.admin.module.js"></script>
<script src="mod_dev/app.dev.module.js"></script>



<!-- endbuild -->
</body>
</html>
