<!DOCTYPE html>
<html>
<head>
  <title>A special message for you!</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<main>
  <canvas id="canvas"></canvas>
  <p class="message"><%= subDomain %> hates you!!! YAY!</p>
</main>
<script type="text/javascript" src="/javascripts/hate.js"></script>
</body>
</html>
