.module-info {}

.module-info .module-info-desc {
    margin: 15px 0;
}

/*.md-block {
    margin: 0;
}*/

.module-info .md-block .md-errors-spacer {
    min-height: 12px;
}

.config-form .config-column {
    border: 1px dotted #ccc;
    padding: 15px 10px;
    margin: 10px 0;
}

.active {
    color: #6cc644;
}

.inactive {
    color: #bd2c00;
}

.module-content {
    background-color: #fff;
}

.drop {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    text-align: center;
    padding: 50px 0px;
    margin-left: 10px;
}

.module-images{
    height: 200px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
