<section ng-controller="IdnProfileCtrl" class="settings" class="profileView">
    <!-- <div class="md-title">Settings</div> -->
    <div layout="column" layout-align="start start" class="layoutPad featurebarTitle">
        
        <h1 class="md-title">
            Profile Page
        </h1>
        
        <div>
            <img style="width:100px; height:100px;" ngf-thumbnail="user.image || 'mod_nbos/assets/images/placeholder.png'">
            <input type="file" class="form-control fileUpload" ngf-select="" ng-model="user.image" name="file" accept="image/*" ng-change="updateImage()" />
        </div>
    </div>
    <md-content class="layoutPad">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Personal Info">
                <div class="md-padding">
                    <md-input-container class="md-block">
                        <label>First Name</label>
                        <input ng-model="user.firstName" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Last Name</label>
                        <input ng-model="user.lastName" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input ng-model="user.email" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea ng-model="user.description" md-maxlength="150" rows="1" md-select-on-focus></textarea>
                    </md-input-container>
                    <div layout="row">
                        <md-input-container class="md-block">
                            <label>Phone</label>
                            <input ng-model="user.phone" />
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Gender</label>
                            <md-select ng-model="user.gender">
                                <md-option value="male">Male</md-option>
                                <md-option value="female">Female</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>City</label>
                            <input ng-model="user.city" />
                        </md-input-container>
                        <div>
                            <md-datepicker ng-model="user.birthday" md-placeholder="Birth Day">
                            </md-datepicker>
                        </div>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Education Info">
                <div class="md-padding">
                    <div layout="row" layout-align="end center">
                        <md-button class="md-raised md-accent" ng-click="addRow('education')">Add</md-button>
                    </div>
                    <div layout-gt-sm="row" ng-repeat="edu in user.education">
                        <md-input-container class="md-block" flex="30">
                            <label>Course</label>
                            <input ng-model="edu.course">
                        </md-input-container>
                        <md-input-container class="md-block" flex="50">
                            <label>College</label>
                            <input ng-model="edu.college">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Year Of Passout</label>
                            <input ng-model="edu.yearofpassout">
                        </md-input-container>
                        <i class="material-icons" ng-click="deleteRow($event, edu, 'education')">clear</i>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Professional Info">
                <div class="md-padding">
                    <div layout="row" layout-align="end center">
                        <md-button class="md-raised md-accent" ng-click="addRow('professional')">Add</md-button>
                    </div>
                    <div layout-gt-sm="row" ng-repeat="item in user.professional">
                        <md-input-container class="md-block" flex="40">
                            <label>Company</label>
                            <input ng-model="item.company">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>From Year</label>
                            <input ng-model="item.fromYear">
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>To Year</label>
                            <input ng-model="item.toYear">
                        </md-input-container>
                        <md-switch ng-model="item.isCurrent" aria-label="Current Employee">
                            Current Employee: {{item.isCurrent}}
                        </md-switch>
                        <i class="material-icons" ng-click="deleteRow($event, item, 'professional')">clear</i>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Interests">
                <div class="md-padding">
                    <div>
                        <md-chips ng-model="user.personalInfo.interest" placeholder="Interests"></md-chips>
                    </div>
                    <div>
                        <md-chips ng-model="user.personalInfo.books" placeholder="Books"></md-chips>
                    </div>
                    <div>
                        <md-chips ng-model="user.personalInfo.movies" placeholder="Movies"></md-chips>
                    </div>
                    <div>
                        <md-chips ng-model="user.personalInfo.music" placeholder="Music"></md-chips>
                    </div>
                </div>
            </md-tab>
            <md-tab label="Social Connects">
                <div class="md-padding">
                    <md-input-container class="md-block">
                        <label>Instagram Url</label>
                        <input ng-model="user.personalInfo.instagramUrl" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Twitter</label>
                        <input ng-model="user.personalInfo.twitterUrl" />
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>linkedIn</label>
                        <input ng-model="user.personalInfo.linkedInUrl" />
                    </md-input-container>
                </div>
            </md-tab>
        </md-tabs>
        <div layout="row" layout-align="end end">
            <md-button class="md-primary md-raised" ng-click="updateUser()">Update</md-button>
        </div>
    </md-content>
</section>
