<div layout="column"  ng-controller="ResetCtrl">
    <nav class="fixed-toolbar" ng-include="'mod_idn/views/header/loginHeader.html'"></nav>

    <div layout="row"  layout-padding class="login-content-padding">

        <div flex layout="column"></div>

        <div layout="column" layout-align="center center">

            <md-content md-whiteframe="1" style=" width: 500px;">
                <md-toolbar flex>
                    <div class="md-toolbar-tools">
                        <h2 class="md-flex">Reset Password</h2>
                    </div>
                </md-toolbar>
                <md-content layout-padding flex>
                    <form name="projectForm" ng-submit="resetPassword();">
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input required name="userName" ng-model="reset.newPassword" type="password" min-length="8">
                            <div ng-messages="projectForm.userName.$error" role="alert">
                                <div ng-message-exp="['required', 'length']">
                                    Minimum 8 chars length
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Confirm Password</label>
                            <input required name="userName" ng-model="reset.password2" type="password">
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-button type="submit" class="md-raised md-primary" style="width: 100%;">Reset Password</md-button>
                        </md-input-container>

                    </form>

                </md-content>
                <md-content layout-padding flex ng-show="success">
                    <p class="md-title">Success!</p>
                    <p class="md-body-2">Reset successful. Login to access your console.</p>
                    <md-button ui-sref="idn.login" class="md-primary md-raised">Go to login</md-button>
                </md-content>
                <md-content layout-padding flex ng-show="showForgot">
                    <p class="md-title">OOPS!</p>
                    <p class="md-body-2">The token you are using has expired. Request for a reset link again.</p>
                    <md-button ui-sref="idn.forgot" class="md-primary md-raised">Forgot Password</md-button>
                </md-content>
            </md-content>

            <br><br>

            <p class="md-body-2"></p>
            <p class="md-body-2">{{message}}</p>


        </div>

        <div flex layout="column"></div>
    </div>
</div>
