<section layout-padding layout-wrap>

    <div layout="column">
        <md-content layout="column" class="md-whiteframe-1dp">
            <div layout="row" layout-align="left center">
                <!--<md-button class="console_projects_back" ng-click="backToProjects();">-->
                    <!--<div layout-align="start center" layout="row">-->
                        <!--<i class="material-icons">arrow_back</i>-->
                    <!--</div>-->
                    <!--<md-tooltip md-direction="bottom">-->
                        <!--Back to Dashboard-->
                    <!--</md-tooltip>-->
                <!--</md-button>-->
                <p class="md-title">
                    &nbsp; Layouts
                </p>
            </div>
        </md-content>
    </div>
    <br>
    <br>

    <div>
        <md-content layout="column" class="md-whiteframe-1dp" layout-padding>
            <div layout="row">
                <div flex></div>
                <md-button class="md-primary md-raised" ng-click="createLayout($event)">
                    Create New Layout
                </md-button>
            </div>
            <md-divider></md-divider>
            <div ng-if="layouts.length==0" class="md-body-2">
                You do not have any layouts yet. Click the link above to create a new layout.
            </div>
            <div layout="row">
                <md-list flex >
                    <md-subheader class="md-no-sticky"></md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="item in layouts" ng-click="null">
                        <img ng-src="{{item.previewImage? item.previewImage.mediaFileDetailsList[1].mediapath : imagePath}}" class="md-avatar" alt="{{item.name}}" />
                        <!--<img ng-src="{{item.img}}?{{imagePath}}" class="md-avatar" alt="{{item.name}}" />-->
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ item.name}}</h3>
                            <h4>{{ item.location.substring(0,20) + " ..."}}</h4>
                            <p>{{ item.description }}</p>
                        </div>
                        <md-icon class="md-secondary material-icons" ng-click="deleteLayout(item, $event)">
                            delete
                        </md-icon>

                        <md-icon class="md-secondary material-icons" ng-click="showPreview($event, $index)">pageview</md-icon>
                        <md-divider md-inset></md-divider>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>
    </div>

</section>
