<md-dialog aria-label="Mango (Fruit)"  ng-cloak flex="50">
    <form name="layoutForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Layout Preview</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon class="material-icons">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
            <img flex ng-src="{{layoutObj.previewImage? layoutObj.previewImage.mediaFileDetailsList[1].mediapath : imagePath}}" alt="{{layoutObj.name}}" />
            <br>
            <input type="file" ngf-select="saveImage(layoutObj)" ng-model="logoImage" name="file" accept="image/*" aria-label="logo">
            <br><br>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input required ng-model="layoutObj.name" name="title" autocomplete="off">
                <div ng-messages="layoutForm.title.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Layout Name cannot be empty
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Location</label>
                <input ng-model="layoutObj.location" name="location" autocomplete="off">
                <div class="hint">Please provide https:// url's only.</div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Description</label>
                <input ng-model="layoutObj.description" name="description" autocomplete="off">
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button md-no-ink ng-click="closeDialog()">Cancel</md-button>
            <md-button md-no-ink class="md-primary md-raised" ng-click="create()" ng-disabled="layoutForm.$invalid">Create</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>