<md-dialog aria-label="Layout" ng-cloak flex="50" class="inputdemoErrorsAdvanced">
    <form name="layoutForm">
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-display-1">Create Module</h2>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input required ng-model="layoutObj.name" name="title" autocomplete="off">
                <div ng-messages="layoutForm.title.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Layout Name cannot be empty
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Location</label>
                <input ng-model="layoutObj.location" name="location" autocomplete="off">
                <div class="hint">Please provide https:// url's only.</div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Description</label>
                <input ng-model="layoutObj.description" name="description" autocomplete="off">
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button md-no-ink ng-click="closeDialog()">Cancel</md-button>
            <md-button md-no-ink class="md-primary md-raised" ng-click="create()" ng-disabled="layoutForm.$invalid">Create</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
