<div layout="column" ng-controller="ForgotCtrl" class="nbosTheme">
    <nav class="fixed-toolbar" ng-include="'mod_idn/views/header/loginHeader.html'"></nav>
    <div layout="row" layout-padding class="login-content-padding">
        <div flex layout="column"></div>
        <div layout="column" layout-align="center center">
            <md-content md-whiteframe="1" layout-padding flex class="nbosformBlock" ng-class="{ 'formMinWidth' : minWidthClass}">
                <form name="projectForm" ng-submit="forgotPassword();">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input required name="userName" ng-model="user_email" ng-pattern="/^.+@.+\..+$/">
                        <div ng-messages="projectForm.userName.$error" role="alert">
                            <div ng-message-exp="['required', 'pattern']">
                                This must like an e-mail address.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container layout="column" layout-align="center center">
                        <md-button type="submit" class="md-raised md-primary">Reset Password</md-button>
                    </md-input-container>
                </form>
            </md-content>
            <br>
            <br>
            <p class="md-body-2">{{message}}</p>
        </div>
        <div flex layout="column"></div>
    </div>
</div>
