/*
  Some Util Classes
*/

//Use this class to provide padding for the main content on a page for the fixed toolbar layout
.main-content-padding {
    padding-top: 64px;
}

.progressBar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    .md-container {
        //background-color: #B3E5E7;
        background-color: rgb(21, 101, 192);
    }
    .md-bar1 {
        background-color: rgb(255, 171, 64);
    }
    .md-bar2 {
        background-color: rgb(255, 171, 64);
    }
}

.hideProgressbar {
    display: none;
}

//for toasts
md-toast {
    z-index: 10000;
    position: fixed;
    top: 70px !important;
}

.settings {
    .settings-nav {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px 2%;
        /*background:rgba(0,0,0,0.05);*/
        .md-button {
            text-transform: capitalize;
            text-align: left;
        }
        md-divider {
            display: table;
            width: 100%;
        }
    }
}

.layoutWrap {
    padding-left: 20px;
    .layoutBorder {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8%;
    }
}

h2.subTitle {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px 0;
}

.prefixHeight {
    display: table;
    width: 100%;
    /*height:100%;*/
}

.defaultImg {
    background: #eee;
    img {
        display: table;
        text-align: center;
        margin: 0 auto;
    }
}

.prefixOverflow {
    overflow: hidden;
    md-sidenav.md-sidenav-left.ng-scope.ng-isolate-scope._md.md-alternate-theme.md-locked-open.md-closed {
        display: table;
        height: 100vh;
    }
}
