<div ng-controller="ProjectsCtrl" layout="column">
    <div>
        <md-content layout="row" class="layoutPad">
            
            <div>
                <br>
                <p class="md-title">
                    Hello There!
                </p>
                <p class="md-body-1">
                    <b>Welcome to your NBOS Console.</b>
                </p>
                <p class="md-body-1">
                    We are currently in our BETA release. You will find a lot of links disabled in the application. These links will be enabled as and when the development for them is completed.
                </p>
                <p class="md-body-1">
                    Untill then ... Happy Coding!
                </p>
                <p class="md-body-1">
                    - NBOS Dev Team
                </p>
               
            </div>
            
        </md-content>
    </div>
    <section class="layoutPad" layout="column">
        <div ng-if="noProjects" class="md-body-2">
            You do not have any projects yet. Click the link above to create a new project.
        </div>
        <div layout="row">
            <h2 class="md-display-1">All Projects</h2>
            <div flex></div>
            <div layout="row" layout-align="end center">
                <md-button class="md-raised md-accent" ng-click="showPrompt($event)">Create New Project</md-button>
            </div>
        </div>
        <div layout="row">
            <div flex>
                <md-grid-list md-cols="3" md-cols-xs="1" md-cols-sm="2" md-row-height="1:1" md-gutter="22px" md-gutter-gt-sm="26px">
                    <md-grid-tile ng-repeat="project in projects | orderBy : 'name'" md-colspan="1" md-rowspan="1" class="md-whiteframe-1dp">
                       <div flex class="featureCard" layout="column" ng-style="{'background-image':'url({{project.about.bannerImage? project.about.bannerImage.mediaFileDetailsList[1].mediapath : cover}})'}">
                            <md-content layout="column" class="cardContent">
                                <div layout-padding>
                                    <div class="projectLogo" layout="row" layout-align="end center">
                                        <img ng-src="{{project.about.logoImage? project.about.logoImage.mediaFileDetailsList[0].mediapath:logo}}" class="logo" />
                                    </div>
                                    <div layout="column" layout-padding>
                                        
                                        <div class="md-title">{{project.name | limitTo : 20}}</div>
                                        <div class="md-body-2">{{project.about.description? project.about.description : "Lorem ipsum dolor sit amet, consectetur adipisicing elit..."}}</div>
                                    </div>
                                    <section layout="row" layout-sm="column" layout-align="end center" class="cardLinks">
                                        <md-button class="md-accent" ng-click="manageProject(project.tenantId)">
                                            Manage
                                        </md-button>
                                    </section>
                                </div>
                            </md-content>
                        </div>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
</div>
</div>
