<section layout="column" ng-controller="BugReportingCtrl">
    <div class="layoutPad">
        <fieldset class="standard">
            <legend>Filters</legend>
            <div layout="row">
                <md-input-container class="md-block" flex-gt-sm flex="40">
                    <label>Search</label>
                    <input ng-model="user.firstName">
                </md-input-container>
                <div layout="row" layout-align="start center">
                    <md-button>Search</md-button>
                    <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" style="margin-bottom: 0px;">
                        My issues
                    </md-checkbox>
                </div>
                <div flex></div>
                <div layout="row" layout-align="start center">
                    <md-button class="md-primary md-raised" ng-click="postIssue($event)">
                        <md-icon class="material-icons">bug_report</md-icon>
                        New Issue
                    </md-button>
                </div>
            </div>
        </fieldset>
    </div>
    <md-content class="layoutPad">
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <md-nav-item md-nav-click="goto('openIssuesPage')" name="openIssuesPage">Open Issues</md-nav-item>
            <md-nav-item md-nav-click="goto('closedIssuesPage')" name="closedIssuesPage">Closed Issues</md-nav-item>
        </md-nav-bar>
        <md-list flex>
            <md-subheader class="md-no-sticky">Total Issues # {{filtered.length}}</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="bug in filtered = (allReports | filter: { isOpen: status })" ng-click="viewThread(bug)">
                <div class="md-list-item-text" layout="column">
                    <h3 class="md-title">{{ bug.title }}</h3>
                    <div class="md-secondary">
                        <md-button ng-if="bug.priority =='low'">
                            <md-icon class="material-icons">error_outline</i>
                                <md-tooltip md-direction="bottom">
                                    {{bug.priority}}
                                </md-tooltip>
                        </md-button>
                        <md-button ng-if="bug.priority !='low'" class="md-accent" ng-class="{ 'md-warn': (bug.priority =='high'|| bug.priority =='blocker' )}">
                            <md-icon class="material-icons">error_outline</i>
                                <md-tooltip md-direction="bottom">
                                    {{bug.priority}}
                                </md-tooltip>
                        </md-button>
                    </div>
                    <span class="md-caption">opened on {{bug.loggedDate | date: 'MMM d'}} @ {{bug.loggedDate | date: 'shortTime'}} by {{bug.reportedBy}}</span>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</section>
