<section aria-label="Issues" ng-cloak>
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="idn2.bug">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp; Back to Bugs {{moduleName}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title">Post Issue</h1>
        </div>
    </div>
    <md-content class="layoutPad">
        <form name="bugForm">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Title</label>
                <input required ng-model="bugObj.title" name="title" autocomplete="off">
                <div ng-messages="bugForm.title.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Title cannot be empty
                    </div>
                </div>
            </md-input-container>
            <br>
            <lable>Description</lable>
            <textarea froala="froalaOptions" ng-model="bugObj.description"></textarea>
            <br>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Environment</label>
                <md-select ng-model="bugObj.type">
                    <md-option value="dev">
                        Developer
                    </md-option>
                    <md-option value="console">
                        Console
                    </md-option>
                </md-select>
            </md-input-container>
            <br>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Priority</label>
                <md-select ng-model="bugObj.priority">
                    <md-option value="blocker">
                        Blocker
                    </md-option>
                    <md-option value="high">
                        High
                    </md-option>
                    <md-option value="medium">
                        Medium
                    </md-option>
                    <md-option value="low">
                        Low
                    </md-option>
                </md-select>
            </md-input-container>
            <div layout="row" layout-align="end end">
                <md-button md-no-ink class="md-primary md-raised" ng-click="postIssue()" ng-disabled="bugForm.$invalid">Create</md-button>
            </div>
        </form>
    </md-content>
</section>
