<section ng-controller="BugViewCtrl" layout-padding>
    <div layout="row">
        <md-button class="console_projects_back">
            <a layout-align="start center" layout="row" ui-sref="idn2.bug" class="nbos-nodecoration">
                <md-icon class="material-icons">arrow_back</md-icon>
            </a>
            <md-tooltip md-direction="bottom">
                Back to List
            </md-tooltip>
        </md-button>
        <span flex></span>
        <md-button class="md-primary" ng-show="isAdmin && bugView.bugInfo.isOpen" ng-click="closeIssue()">Close Issue</md-button>
    </div>
    <div layout-padding>
        <div class="md-title">{{bugView.bugInfo.title}}</div>
        <div class="md-body-2">{{bugView.bugInfo.reportedBy}} opened this issue on {{bugView.bugInfo.loggedDate | date: 'MMM d'}}, {{bugView.comments.length}} comments</div>
        <div layout="row">
            <div flex="30">
                <span class="md-body-2">Status:</span>
                <span ng-show="bugView.bugInfo.isOpen">Open</span>
                <span ng-show="!bugView.bugInfo.isOpen">Closed</span>
            </div>
            <div flex></div>
            <div>
                <span class="md-body-2">Priority:</span> {{bugView.bugInfo.priority}}
            </div>
        </div>
    </div>
    <div layout-padding>
        <md-content class="md-whiteframe-1dp" layout-padding>
            <div layout="row">
                <p class="md-body-2">{{bugView.bugInfo.loggedDate | date: 'MMM d'}}, &nbsp;&nbsp; {{bugView.bugInfo.reportedBy}} </p>
                <div flex></div>
                <p class="md-body-2">{{bugView.bugInfo.reportedEmail}}</p>
            </div>
            <div froala-view="bugView.bugInfo.description"></div>
        </md-content>
        <br>
        <md-content class="md-whiteframe-1dp" layout-padding ng-repeat="comments in bugView.comments">
            <div layout="row">
                <p class="md-body-2">{{comments.comemntDate | date: 'MMM d'}}, &nbsp;&nbsp; {{comments.reportedBy}} </p>
                <div flex></div>
                <p class="md-body-2">{{comments.reportedEmail}}</p>
            </div>
            <div froala-view="comments.comment"></div>
        </md-content>
        <br>
        <md-content flex class="md-whiteframe-1dp" layout-padding>
            <form>
                <textarea froala="froalaOptions" ng-model="commentObj.comment"></textarea>
                <div layout="row">
                    <md-button class="md-raised md-primary" ng-click="postComment()">Comment</md-button>
                </div>
            </form>
        </md-content>
    </div>
</section>
