.config-form {
    .config-required {
        position: relative;
        top: 12px;
        left: 12px;
    }
}

.dev-moduleTileWrap {
    height: 100%;
    max-width: 100%;
    overflow: hidden;
    .logo {
        width: 65px;
        height: 65px;
    }
}

.dev-moduleTileBanner {
    width: 100%;
}

.dev-moduleTileFooter figcaption {
    width: 100%;
}

.dev-info-link {
    float:left;
    margin:10px;
    height: 100px;
    min-width: 150px;
    text-transform: capitalize;
    border:solid 1px rgba(255,255,255,0.01);
    .nbos_link{
        margin:0;
        padding:0 10px;
    }
    &:hover{
        border:solid 1px rgba(0,0,0,0.3);
    }
}



.projectLogo {
    margin-right: 10px;
    border-radius: 4px;
    img{
        width: 60px;
        height: 60px;
        padding:5px;
    }
}

.featureProgress {
    padding-left: 20px;
    margin-top: 20px;
    h3 {
        margin: 0;
        padding: 8px 0 12px;
    }
    small {
        opacity: 0.5;
    }
}

.projectLinks {
    section {
        padding-bottom: 70px;
        .sectionTitle {
            text-transform: uppercase;
            padding-right: 10px;
            position: relative;
            .md-button {
                &.strip {
                    box-shadow: none;
                    border-radius: 0;
                    min-height: 2px;
                    position: absolute;
                    left: 0;
                    margin: 0;
                    bottom: -6px;
                    min-width: 58px;
                }
            }
            span {
                opacity: 0.5;
            }
        }
        .md-title {
            font-weight: 600;
        }
        md-grid-list {
            .md-button {
                margin: 0 0 0 -10px;
                padding: 0 10px;
            }
        }
    }
}

.featureBar {
    .freeTag {
        .md-button {
            min-height: 20px;
            min-width: auto;
            display: table;
            line-height: 20px;
            margin: 0px 0 0 8px;
            font-size: 13px;
            /* background: #eceff1; */
            text-transform: capitalize;
            border-radius: 0;
            padding: 2px 6px;
            box-shadow: none;
        }
    }
}

