.iv_container{
  .iv_buttons{

  }

  .iv_main{
    .iv-button-left{}
    .iv-content{}
    .iv-button-right{}
  }

}

.iv-content{
  md-tabs{

    md-tabs-wrapper {
      //display : none;
    }

    md-content{
      min-width:500px;
      min-height:500px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}