<div layout="column" layout-gt-sm="row" flex>

    <div flex="50" class="nbos-error-bg">
        <img src="assets/images/error.png" alt="Error">
    </div>

    <div flex="50" layout="column" class="nbos-error" layout-padding>
        <h1>
            Error!!!
        </h1>
        <span class="md-headline">Did someone pop your balloon? Don't worry, we have dispatched developers with tapes.</span>

        <br>
        <p class="md-title">
            <span>Error : {{error.status}}  {{error.data.error}}</span>
            <br>
            <span class="md-body-2">{{error.data.error_description}}</span>
        </p>

        <div>
            <p class="md-body-2">Try going here maybe:</p>
            <md-button class="md-accent" ui-sref="home">Home</md-button>
            <md-button class="md-accent" ui-sref="idn.login">Login</md-button>
        </div>
    </div>

</div>
