<md-menu md-offset="0 30" md-position-mode="target-right target" ng-controller="AppHeaderCtrl">

    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <i md-menu-origin class="material-icons">compare_arrows</i>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item target="_blank" href="http://google.com">
            <md-button ng-click="linkClicked($event)">
                <div layout="row" layout-align="center center">
                    <i class="material-icons">people</i>
                    &nbsp;&nbsp;&nbsp;
                    <p>Your App Links</p>
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-item target="_blank" href="http://google.com">
            <md-button>
                <div layout="row" layout-align="center center">
                    <i class="material-icons">people</i>
                    &nbsp;&nbsp;&nbsp;
                    <p>Google</p>
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item target="_blank" href="http://bing.com">
            <md-button>
                <div layout="row" layout-align="center center">
                    <i class="material-icons">people</i>
                    &nbsp;&nbsp;&nbsp;
                    <p>Bing</p>
                </div>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>