<md-content class="config-form" layout-padding>
    <h1 class="md-title">Idn Configuration</h1>
    <form>
        <div layout="column" ng-repeat="config in configArr" class="config-column">
            <div layout-gt-sm="row" layout-align="end end">
                <span flex></span>
                <i class="material-icons" ng-click="deleteConfig(config)">clear</i>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex="30">
                    <label>Key</label>
                    <input ng-model="config.name">
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                    <label>Description</label>
                    <input ng-model="config.description">
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex="30">
                    <label>Type</label>
                    <md-select ng-model="config.type" ng-disabled="config.multiValued">
                        <md-option value="{{type}}" ng-repeat="type in configTypes">
                            {{type}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-switch ng-model="config.multiValued" class="md-block" flex="30" aria-label="Multiple">
                    Single/Multiple
                </md-switch>
                <md-checkbox ng-model="config.isSelect" class="md-block" aria-label="Select Box?" flex="30" ng-change="updateMulti(config)">
                    Select Box
                </md-checkbox>
                <md-checkbox ng-model="config.required" class="md-block" aria-label="Required?" flex="30">
                    Required
                </md-checkbox>
            </div>
            <div ng-if="config.isSelect">
                <span class="md-caption">
                        Possible Values
                        <i class="material-icons" ng-click="addPossible(config)">add_circle_outline</i>
                    </span>
                <div layout="column" ng-repeat="poss in config.possibleValues">
                    <div layout="row" flex>
                        <span flex="20"></span>
                        <md-input-container class="md-block" flex="40">
                            <label>Name</label>
                            <input ng-model="poss.name">
                        </md-input-container>
                        <md-input-container class="md-block" flex="40">
                            <label>Value</label>
                            <input ng-model="poss.value">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="end end" flex>
            <md-button class="md-raised" ng-click="addConfig()">Add</md-button>
            <md-button class="md-raised md-primary" ng-click="postConfig()">Post</md-button>
        </div>
    </form>
</md-content>
