<div layout="column" ng-controller="ModuleMarketplaceCtrl" ng-cloak>
    <div>
        <md-grid-list md-cols="3" md-cols-xs="1" md-cols-sm="2" md-row-height="1:1" md-gutter="22px" md-gutter-gt-sm="26px">
            <md-grid-tile ng-repeat="module in modules | orderBy : 'name' | filter: search.text" md-colspan="1" md-rowspan="1" class="md-whiteframe-1dp" ng-click="showModule(module)">
                <div flex class="featureCard" layout="column" ng-style="{'background-image':'url({{module.moduleImages.length ? module.moduleImages[0].mediaFileDetailsList[3].mediapath : placeholder}})'}">
                    <md-content layout="column" class="cardContent">
                        <div layout-padding>
                            <div class="tags" layout="row" layout-align="end center">
                                <md-button md-no-ink class="md-accent md-raised md-hue-1">UI</md-button>
                                <md-button md-no-ink class="md-warn md-raised md-hue-3">APi</md-button>
                            </div>
                            <div class="md-title">{{module.name | limitTo : 20}}</div>
                            <div class="md-body-2">{{module.description.length > 0? module.description : "Lorem ipsum dolor sit amet, consectetur adipisicing elit..."}}</div>
                        </div>
                        <section layout="row" layout-sm="column" layout-align="center center" class="cardLinks">
                            <img src="mod_nbos/assets/images/rating.jpg" style="padding-left:10px;">
                            <div flex></div>
                            <md-button md-no-ink class="md-primary">FREE</md-button>
                        </section>
                    </md-content>
                </div>
            </md-grid-tile>
        </md-grid-list>
    </div>
</div>
