<section ng-controller="ModuleViewCtrl">
    <md-content layout="column">
        <div layout="row" class="layoutPad featurebarTitle" style="padding-top:0;">
            <div layout="row">
                <div layout="row" layout-align="space-around center" class="md-whiteframe-1dp projectLogo">
                    <img ng-src="{{placeholder}}" alt="placeholder" />
                </div>
                <div layout="column" class="featureBar">
                    <h1 class="md-title">{{ module.name }}</h1>
                    <div layout="row" layout-align="start center">
                        <img src="mod_nbos/assets/images/rating.jpg" width="87">
                        <!-- <md-chips ng-model="tags" ng-if="tags.length>0" readonly="true"></md-chips> -->
                        <div class="freeTag">
                            <md-button md-no-ink class="md-primary md-raised md-hue-3">FREE</md-button>
                        </div>
                    </div>
                </div>
            </div>
            <div flex></div>
            <div ng-show="isPageLoad">
                <md-button class="md-accent md-raised" ng-click="subscribe(module)" ng-show="showSubscribed" style="padding:0 6px;">Subscribe</md-button>
                <md-button class="md-warn md-raised" ng-click="unsubscribe(module)" ng-show="showUnSubscribed" style="padding:0 6px;">Un-Subscribe</md-button>
            </div>
        </div>
    </md-content>
    <div class="layoutPad">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Overview">
                <md-content layout="column" layout-padding>
                    <div layout="row" ng-if="module.moduleImages.length">
                        <md-tabs md-selected="currentNavItem" flex-offset-gt-sm="15" flex-gt-sm="70" flex-lt-sm="100">
                            <md-tab label="." ng-repeat="moduleImage in module.moduleImages">
                                <md-content flex class="md-padding" layout="row" layout-align="center center">
                                    <img ng-src="{{moduleImage.mediaFileDetailsList[2].mediapath}}" alt="" style="display: block;">
                                </md-content>
                            </md-tab>
                        </md-tabs>
                        <div flex="15"></div>
                    </div>
                    <p>{{module.description}}</p>
                </md-content>
            </md-tab>
            <md-tab label="Configure" ng-if="showConfig">
                <md-content layout="column" layout-padding>
                    <dynamic-form project-module="moduleConfig" on-submit="saveConfigForModule(module)"></dynamic-form>
                </md-content>
            </md-tab>
            <md-tab label="Try It" ng-if="!showSubscribed && module.apiDefinitionUrl">
                <md-content layout="column" layout-padding>
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
                    <div layout="column" ng-if="module.apiDefinitionUrl">
                        <form name="swaggerForm" class="admin-swagger">
                            <md-input-container class="md-block">
                                <label>User Token</label>
                                <input ng-model="user.token" name="token" required>
                                <div ng-messages="swaggerForm.token.$error" role="alert">
                                    <div ng-message-exp="['required']">
                                        User Token is required
                                    </div>
                                </div>
                            </md-input-container>
                            <div layout="row">
                                <md-button class="md-accent md-raised" ng-click="useToken()">Use My Token</md-button>
                                <md-button class="md-primary md-raised" ng-disabled="swaggerForm.$invalid" ng-click="generateSwagger()">Explore</md-button>
                                <span flex></span>
                            </div>
                        </form>
                        <div swagger-ui url="module.apiDefinitionUrl" parser="json" api-explorer="true" ng-show="showApi"></div>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Support" ng-disabled="true">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Tab Two</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                    <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
            </md-tab>
            <md-tab label="Reviews" ng-disabled="true">
                <md-content class="md-padding">
                    <h1 class="md-display-2">Tab Three</h1>
                    <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</section>
