<md-menu md-offset="0 30" md-position-mode="target-right target" ng-controller="IdnHeaderCtrl">
    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <!--<md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>-->
        <!-- <i md-menu-origin class="material-icons">account_box</i> -->
        <img ngf-thumbnail="user.image || 'mod_nbos/assets/images/placeholder.png'" style="height: 30px;width: 30px; border-radius: 30px;">
    </md-button>
    <md-menu-content width="3" md-theme="alternate">
        <md-menu-item>
            <md-button ui-sref="idn2.settings.changePassword">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">settings</i> &nbsp;&nbsp;&nbsp;
                    <span class="md-caption">Settings</span>
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button ui-sref="idn2.profile">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">person</i> &nbsp;&nbsp;&nbsp;
                    <span class="md-caption">Profile</span>
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button ui-sref="idn2.bug">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">bug_report</i> &nbsp;&nbsp;&nbsp;
                    <span class="md-caption">Bug Reporting</span>
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
            <md-button ng-click="userLogout()">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">exit_to_app</i> &nbsp;&nbsp;&nbsp;
                    <span class="md-caption">Logout</span>
                </div>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
