<md-menu md-offset="0 30" md-position-mode="target-right target" ng-controller="DevHeaderCtrl">
    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <i md-menu-origin class="material-icons">compare_arrows</i>
    </md-button>
    <md-menu-content width="4" md-theme="alternate">
        <md-menu-item>
            <md-button href="{{consoleUrl}}" target="_blank">
                <div layout="row" layout-align="start center" class="md-caption">
                    <i class="material-icons">desktop_mac</i> &nbsp; &nbsp;
                    <span>App Console</span>
                </div>
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item ng-if="isAdmin">
            <md-button href="{{adminUrl}}" target="_blank">
                <div layout="row" layout-align="start center" class="md-caption">
                    <i class="material-icons">work</i> &nbsp; &nbsp;
                    <span>Admin</span>
                </div>
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
