<div class="layoutBorder">
    <h2 class="subTitle">Change Password</h2>
    <form name="changePasswd" autocomplete="off">
        <md-input-container class="md-block">
            <label>Current password</label>
            <input type="password" ng-model="user.password" name="password" required>
            <div ng-messages="changePasswd.password.$error" role="alert">
                <div ng-message-exp="['required']">
                    Your current password is required
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>New password</label>
            <input type="password" ng-model="user.newPassword" name="newPassword" required>
            <div ng-messages="changePasswd.newPassword.$error" role="alert">
                <div ng-message-exp="['required']">
                    New password is required
                </div>
            </div>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Confirm password</label>
            <input type="password" ng-model="user.confirmPassword" name="confirmPasswd" required compare-to="user.newPassword">
            <div ng-messages="changePasswd.confirmPasswd.$error" role="alert">
                <div ng-message-exp="['required', 'compareTo']">
                    confirm password is required and should match
                </div>
            </div>
        </md-input-container>
        <div layout="row" layout-align="end end">
            <md-button class="md-primary md-raised" ng-click="changePassword()" ng-disabled="changePasswd.$invalid">Submit</md-button>
        </div>
    </form>
</div>
