<section ng-controller="IdnSettingsCtrl" class="settings">
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <h1 class="md-title">Settings</h1>
        </div>
    </div>
    <md-content layout="row" layout-align="start start" class="layoutPad">
        <div class="settings-nav">
            <div layout="column" layout-align="start start">
                <md-button class="md-primary" ui-sref="idn2.settings.changePassword">Change Password</md-button>
                <md-divider></md-divider>
                <md-button class="md-primary" ng-disabled="true">Billing Info</md-button>
            </div>
        </div>
        <div flex>
            <div layout-wrap ui-view class="layoutWrap">
            </div>
        </div>
        <!-- <div class="md-title">CHANGE PASSWORD</div>
         -->
    </md-content>
</section>
