<section ng-controller="DevUsrManagementCtrl" class="md-padding">
    <div class="md-title">User Management</div>
    <md-content class="md-margin">
        <md-list-item ng-repeat="person in users" ng-click="goToPerson(person.name, $event)" class="noright">
            <img alt="{{ person.firstName }}" ng-src="{{ person.img }}" class="md-avatar" />
            <p>{{ person.firstName }} {{person.lastName}}</p>
            <md-icon class="md-secondary material-icons">delete</md-icon>
            <md-divider></md-divider>
        </md-list-item>
    </md-content>
</section>
