@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700';

body{
	font-family: 'Source Sans Pro', sans-serif;
}

.md-sidenav-left {
    height: 100%;
    background: lighten(@nbosBlue, 54%);;
}
ul.side-menu{
	margin:20px 0 0 0;
	padding:0;
}
