<div  md-whiteframe="6" class="loginHeader">
    <div class="md-toolbar-tools">
        <div class="logoCenter">
            <md-button aria-label="NBOS App" class="logo">
                <img src="../assets/images/nbos-logo-wht.png" alt="NBOS App" />
            </md-button>
        </div>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()">
            <i class="material-icons">menu</i>
        </md-button>
        <span flex></span>
        <ng-include ng-repeat="item in headerItems" src="item.templateUrl"></ng-include>
        
    </div>
</div>
