<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<div layout="column">
    <div layout="row">
        <md-list-item class="md-2-line" flex>
            <img ng-src="{{placeholder}}" class="md-avatar" alt="placeholder" />
            <div class="md-list-item-text">
                <h3>{{ module.name }}</h3>
                <p>{{module.tags}}</p>
            </div>
            <md-button class="md-secondary md-primary md-raised" ng-click="approve(module.uuid)">Approve</md-button>
        </md-list-item>
        <img src="" alt="">
        <div flex></div>
    </div>
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Overview">
            <md-content class="md-padding">
                <p>{{module.description}}</p>
                <md-tabs md-dynamic-height class="nbos_module_about1">
                    <div layout="row">
                        <i style="font-size: 36px;" class="material-icons" ng-repeat="moduleIndex in module.moduleImages" ng-click="">donut_large</i>
                    </div>
                    <md-tab label="." ng-repeat="moduleImage in module.moduleImages" ng-sele>
                        <md-content class="md-padding">
                            <img ng-src="{{moduleImage.mediaFileDetailsList[2].mediapath}}" alt="">
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </md-tab>
        <md-tab label="API Documentation">
            <md-content class="md-padding">
                <div layout="column" ng-if="module.apiDefinitionUrl">
                    <div layout="row" layout-padding>
                        <md-button class="md-primary" ng-click="generate()">Explore</md-button>
                    </div>
                    <div swagger-ui url="module.apiDefinitionUrl" parser="json" api-explorer="true" ng-show="showApi"></div>
                </div>
                <div ng-if="!module.apiDefinitionUrl" class="md-title">
                    API Documentation not provided.
                </div>
            </md-content>
            </md-content>
        </md-tab>
        <md-tab label="Reviews">
            <md-content class="md-padding">
                <h1 class="md-display-2">Tab Three</h1>
                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
            </md-content>
        </md-tab>
    </md-tabs>
</div>
