<md-content layout-padding layout-wrap>
    <div layout="column" flex>
        <md-list flex class="md-whiteframe-2dp">
            <div layout="row" layout-align="end end">
                <a class="md-caption md-margin">All</a>
                <a class="md-caption md-margin">Pending</a>
            </div>
            <md-subheader class="md-no-sticky">All Modules</md-subheader>
            <md-list-item class="md-2-line" ng-repeat="module in modulesList" ng-click="showModule(module.uuid)">
                <img ng-src="{{module.logoImage.mediaFileDetailsList[0].mediapath}}" class="md-avatar" alt="placeholder" />
                <div class="md-list-item-text">
                    <h3>{{ module.name }}</h3>
                    <p>Status : {{module.moduleStatus}}</p>
                </div>
                <md-divider></md-divider>
            </md-list-item>
        </md-list>
    </div>
</md-content>
