<md-content layout="column">
    <ul class="md-display-1">
        <li>List of all Modules</li>
        <li>Modules Request for review and publish</li>
        <li>Module Escalations to admin</li>
        <li>etc.</li>
    </ul>
</md-content>