<section layout="column">
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="dev.module.info">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <!-- Add module logo path here -->
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{moduleName}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title">Read Me</h1>
        </div>
    </div>
    <md-content class="layoutPad">
        <form>
            <textarea froala="froalaOptions" ng-model="guideObj.description"></textarea>
            <div layout="row">
                <md-button class="md-raised md-primary" ng-click="updateReadMe()">Update</md-button>
            </div>
        </form>
        <div froala-view="guideObj.description"></div>
    </md-content>
</section>
