<md-dialog aria-label="Module Config" flex="50" class="config-form">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Configuration</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <form name="configForm">
        <md-dialog-content class="md-dialog-content">
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex="60">
                    <label>Key</label>
                    <input ng-model="configObj.name" required name="key" ng-disabled="!isNew">
                    <div ng-messages="configForm.key.$error" role="alert">
                        <div ng-message-exp="['required']">
                            Key Cannot be Empty
                        </div>
                    </div>
                </md-input-container>
                <div class="config-required">
                    <md-checkbox ng-model="configObj.required" class="md-block" aria-label="Required?">
                        Required
                    </md-checkbox>
                </div>
            </div>
            <md-input-container class="md-block">
                <label>Description</label>
                <input ng-model="configObj.description" name="description" required>
                <div ng-messages="configForm.description.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Description Cannot be Empty
                    </div>
                </div>
            </md-input-container>
            <div layout="row">
                <md-input-container class="md-block" flex="50">
                    <label>Type</label>
                    <md-select ng-model="configObj.type" ng-disabled="configObj.multiValued" name="type">
                        <md-option value="{{type}}" ng-repeat="type in configTypes">
                            {{type}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <md-input-container class="md-block" flex="50">
                    <label>Default Value</label>
                    <input ng-model="configObj.values">
                </md-input-container>
            </div>
            <md-switch ng-model="configObj.multiValued" class="md-block" aria-label="Multiple">
                Single/Multiple
            </md-switch>
            <div style="margin:10px 0;">
                <md-checkbox ng-model="configObj.isSelect" class="md-block" aria-label="Select Box?" ng-change="updateMulti(configObj)">
                    Select Box
                </md-checkbox>
            </div>
            <div ng-if="configObj.isSelect">
                <span class="md-caption">
                        Possible Values
                        <i class="material-icons" ng-click="addPossible()">add_circle_outline</i>
                    </span>
                <div layout="column" ng-repeat="poss in configObj.possibleValues">
                    <div layout="row" flex>
                        <span flex="20"></span>
                        <md-input-container class="md-block" flex="40">
                            <label>Name</label>
                            <input ng-model="poss.name">
                        </md-input-container>
                        <md-input-container class="md-block" flex="40">
                            <label>Value</label>
                            <input ng-model="poss.value">
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button md-no-ink class="md-primary" ng-click="create()" ng-disabled="configForm.$invalid">Add Config</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
