<section layout="column" layout-padding>


    <div layout="column">
        <md-content layout="column" class="md-whiteframe-1dp">
            <div layout="row" layout-align="left center">
                <md-button class="console_projects_back">
                    <a layout-align="start center" layout="row" ui-sref="dev.module.info" class="nbos-nodecoration">
                        <md-icon class="material-icons">arrow_back</md-icon>
                    </a>
                    <md-tooltip md-direction="bottom">
                        Back to Modules
                    </md-tooltip>
                </md-button>
                <a ui-sref="dev.module.info" class="md-body-2">
                    {{moduleName}}
                </a>
                <p class="md-title">
                    &nbsp; / Tokens
                </p>
            </div>
        </md-content>
    </div>
    <br>
    <br>

    <div>
        <md-content flex class="md-whiteframe-1dp" layout-padding>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Client Tokens">
                    <div layout="column">
                        <h2 class="md-display-1">Create Client</h2>
                        <form name="clientForm">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Client Name</label>
                                <input required ng-model="tokensObj.clientName" name="title" autocomplete="off">
                                <div ng-messages="clientForm.title.$error" role="alert">
                                    <div ng-message-exp="['required']">
                                        Client Name cannot be empty
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm ng-show="isCreated">
                                <label>Client Id</label>
                                <input ng-model="tokensObj.clientId" name="title" autocomplete="off">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm ng-show="!isCreated">
                                <label>Client Secret</label>
                                <input required ng-model="tokensObj.clientSecret" name="clientSecret" autocomplete="off">
                                <div ng-messages="clientForm.title.$error" role="alert">
                                    <div ng-message-exp="['required']">
                                        Client Secret cannot be empty
                                    </div>
                                </div>
                            </md-input-container>
                            <!-- <md-switch class="md-primary" md-no-ink aria-label="Revoked " ng-model="tokensObj.revoked">
                            Revoked
                        </md-switch>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Access Token Validity Seconds</label>
                            <input ng-model="tokensObj.accessTokenValiditySeconds" name="accessTokenValiditySeconds" autocomplete="off">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Refresh Token Validity Seconds</label>
                            <input ng-model="tokensObj.refreshTokenValiditySeconds" name="refreshTokenValiditySeconds" autocomplete="off">
                        </md-input-container>
                        <md-chips ng-model="tokensObj.authorities" placeholder="Enter Authorities" delete-button-label="Remove Tag" delete-hint="Press delete to remove Authorities" secondary-placeholder="+Authorities" readonly="readonly"></md-chips> -->
                            <!-- <md-chips ng-model="tokensObj.authorizedGrantTypes" placeholder="Enter Authorized GrantTypes" delete-button-label="Remove authorizedGrantTypes" delete-hint="Press delete to remove authorizedGrantTypes" secondary-placeholder="+authorizedGrantTypes" readonly="true"></md-chips>
                    <md-chips ng-model="tokensObj.resourceIds" placeholder="Enter ResourceIds" delete-button-label="Remove Tag" delete-hint="Press delete to remove tag" secondary-placeholder="+ResourceIds" readonly="readonly"></md-chips>
                    <md-chips ng-model="tokensObj.scopes" placeholder="Enter scopes" delete-button-label="Remove scopes" delete-hint="Press delete to remove scopes" secondary-placeholder="+scopes" readonly="true"></md-chips> -->
                            <!-- <md-chips ng-model="tokensObj.redirectUris" placeholder="Enter redirectUris" delete-button-label="Remove redirectUris" delete-hint="Press delete to remove redirectUris" secondary-placeholder="+redirectUris" readonly="readonly"></md-chips> -->
                            <md-button md-no-ink class="md-primary md-raised" ng-click="createTokens()" ng-disabled="clientForm.$invalid" ng-show="!isCreated">Create</md-button>
                        </form>
                    </div>
                </md-tab>
                <md-tab label="Developer Tokens">
                    <div layout="column">
                        <h2 class="md-display-1">Developer Tokens</h2>
                        <form name="DeveloperForm" ng-show="isCreated">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Name</label>
                                <input required ng-model="devTokens.name" name="title" autocomplete="off" ng-disabled="true">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Tenant ID</label>
                                <input required ng-model="devTokens.tenantId" name="title" autocomplete="off" ng-disabled="true">
                            </md-input-container>
                        </form>
                        <div ng-show="!isCreated">
                            Please Create Client Tokens
                        </div>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</section>
