<section layout="column" layout-padding>
    <div layout="column">
        <md-content layout="column" class="md-whiteframe-1dp">
            <div layout="row" layout-align="left center">
                <md-button class="console_projects_back">
                    <a layout-align="start center" layout="row" ui-sref="dev.module.info" class="nbos-nodecoration">
                        <md-icon class="material-icons">arrow_back</md-icon>
                    </a>
                    <md-tooltip md-direction="bottom">
                        Back to Modules
                    </md-tooltip>
                </md-button>
                <a ui-sref="dev.module.info" class="md-body-2">
                    {{moduleName}}
                </a>
                <p class="md-title">
                    &nbsp; / Starter Code
                </p>
            </div>
        </md-content>
    </div>
    <br>
    <br>
    <div>
        <md-content flex class="md-whiteframe-1dp" layout-padding>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Front-End Code">
                    <md-content class="md-padding">
                        <div layout="row" layout-align="center center">
                            <div flex="40" class="md-subhead">
                                AngularJs
                            </div>
                            <div>
                                <md-button ng-disabled="!isCreated" ng-click="getStarterCode('angular')" class="md-raised md-accent">
                                    <md-icon class="material-icons">file_download</md-icon>
                                    Download
                                </md-button>
                            </div>
                            <md-button ng-click="buildTokens($event)" ng-show="!isCreated">
                                Build UI
                            </md-button>
                        </div>
                        <div ng-show="isCreated">
                            <br/>
                            <md-divider></md-divider>
                            <br/>
                            <div layout="row">
                                <h2 md-title>Clients</h2>
                                <span flex></span>
                                <md-button class="md-primary" ng-click="buildTokens($event)">Add Client</md-button>
                            </div>
                            <md-table-container>
                                <table md-table>
                                    <thead md-head>
                                        <tr md-row>
                                            <th md-column md-order-by="nameToLower"><span>Client Name</span></th>
                                            <th md-column>Client ID</th>
                                            <th md-column>Tenant Id</th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row ng-repeat="client in moduleClients">
                                            <td md-cell>{{client.clientName}}</td>
                                            <td md-cell>{{client.clientId}}</td>
                                            <td md-cell>{{client.tenantId}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Back-End Code">
                    <md-content class="md-padding">
                        <div layout="row" layout-align="center center">
                            <div flex="40" class="md-subhead">
                                NodeJs
                            </div>
                            <div>
                                <md-button ng-disabled="!isCreated" ng-click="getStarterCode('node')"><i class="material-icons">file_download</i></md-button>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <div flex="40" class="md-subhead">
                                PHP
                            </div>
                            <div>
                                <md-button ng-disabled="!isCreated" ng-click="getStarterCode('php')"><i class="material-icons">file_download</i></md-button>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <div flex="40" class="md-subhead">
                                Rails
                            </div>
                            <div>
                                <md-button ng-disabled="!isCreated" ng-click="getStarterCode('rails')"><i class="material-icons">file_download</i></md-button>
                            </div>
                        </div>
                        <div layout="row" layout-align="center center">
                            <div flex="40" class="md-subhead">
                                Java
                            </div>
                            <div>
                                <md-button ng-disabled="!isCreated" ng-click="getStarterCode('java')"><i class="material-icons">file_download</i></md-button>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</section>
