<section layout="column">
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="dev.module.info">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <!-- Add module logo path here -->
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{moduleName}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title">Bugs</h1>
        </div>
    </div>
    <md-content class="layoutPad">
        <div layout="row">
            <md-button ng-click="filter.status='open'">Open</md-button>
            <md-button ng-click="filter.status='closed'">Closed</md-button>
        </div>
        <md-divider></md-divider>
        <md-list>
            <md-list-item class="md-3-line" ng-repeat="item in bugs" ng-click="null">
                <div layout="row">
                    <div>
                        <i class="material-icons active" ng-class="{ 'inactive': item.status =='closed' }">error_outline</i>
                    </div>
                    <div layout="column">
                        <div class="md-body-2">
                            {{item.title}}
                        </div>
                        <span class="md-caption">opened on {{item.loggedDate | date: 'MMM d'}} by {{item.reportedBy}}</span>
                    </div>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</section>
