<div layout="column">
    <section layout="column">
        <md-content layout="column" class="layoutPad featurebarTitle">
            <div layout="row" layout-align="start center">
                <h1 class="md-title">Modules</h1>
                <div flex></div>
                <md-button class="md-raised md-accent" ng-click="createModule($event)" style="padding:0 6px;">Create a new module</md-button>
            </div>
        </md-content>
        <div layout="row" class="layoutPad">
            <div flex>
                <div ng-if="modules.length==0" class="md-body-2">
                    You do not have any modules yet. Click the link above to create a new module.
                </div>
                <md-grid-list md-cols="3" md-cols-xs="1" md-cols-sm="2" md-row-height="1:1" md-gutter="22px" md-gutter-gt-sm="26px">
                    <md-grid-tile ng-repeat="module in modules | orderBy : 'name'" md-colspan="1" md-rowspan="1" class="md-whiteframe-1dp">
                        <div flex class="featureCard" layout="column" ng-style="{'background-image':'url({{module.moduleImages.length? module.moduleImages[0].mediaFileDetailsList[1].mediapath : cover}})'}">
                            <md-content layout="column" class="cardContent">
                                <div layout-padding>
                                    <div class="projectLogo" layout="row" layout-align="end center">
                                        <img ng-src="{{module.logoImage? module.logoImage.mediaFileDetailsList[0].mediapath:logo}}" class="logo" />
                                    </div>
                                    <div layout="column" layout-padding>
                                        <div class="md-title">{{module.name | limitTo : 20}}</div>
                                        <div class="md-body-2">{{module.description? module.description : "Lorem ipsum dolor sit amet, consectetur adipisicing elit..."}}</div>
                                    </div>
                                    <section layout="row" layout-sm="column" layout-align="end center" class="cardLinks">
                                        <md-button class="md-accent" ng-click="manageModule(module.uuid)">
                                            Manage
                                        </md-button>
                                    </section>
                                </div>
                            </md-content>
                        </div>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </div>
    </section>
</div>
