<section ng-controller="ModuleInfoCtrl" layout="column">
    <md-content layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="dev.modules">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp; Modules
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <div class="projectLogo">
                <img ngf-thumbnail="moduleLogo || 'mod_nbos/assets/images/project.png'">
            </div>
            <h1 class="md-title moreSpace">{{moduleObj.name}}</h1>
            <div flex></div>
            <div ng-switch="moduleObj.moduleStatus">
                <div ng-switch-when="Active">
                    <md-switch ng-model="moduleObj.moduleStatus" aria-label="Switch 2" ng-true-value="'Active'" ng-false-value="'pending'" class="md-primary" ng-change="updateStatus(moduleObj.moduleStatus)" ng-disabled="true">
                        {{moduleObj.moduleStatus}}
                    </md-switch>
                </div>
                <div ng-switch-default>
                    <md-switch ng-model="moduleObj.moduleStatus" aria-label="Switch 2" ng-true-value="'PendingApproval'" ng-false-value="'Draft'" class="md-warn" ng-change="updateStatus(moduleObj.moduleStatus)">
                        {{moduleObj.moduleStatus}}
                    </md-switch>
                </div>
            </div>
        </div>
        <div layout="row" style="margin-top:20px;">
            <div flex="50" class="md-margin module-info">
                <div class="">
                    <span class="md-body-2">Api Url : </span>
                    <span class="md-caption">{{moduleObj.apiDefinitionUrl}}</span>
                </div>
            </div>
            <div flex="50" class="md-margin module-info" ng-if="moduleObj.moduleType == 'BOTH'">
                <div class="">
                    <span class="md-body-2">UI Url : </span>
                    <span class="md-caption">{{moduleObj.uiLibraryUrl}}</span>
                </div>
            </div>
        </div>
        <div class="md-margin">
            <span class="md-body-2">Description : </span>
            <span class="md-caption">{{moduleObj.description}}</span>
        </div>
        <div class="md-margin">
            <span class="md-body-2">Tags : </span>
            <span class="md-caption">{{moduleObj.tags}}</span>
        </div>
    </md-content>
    <section class="layoutPad">
        <md-button class="md-raised dev-info-link" ui-sref="dev.module.about" layout-align="center center" layout="column">
            <i class="material-icons">format_color_text</i>
            <p class="nbos_link">About</p>
        </md-button>
        <md-button class="md-raised dev-info-link" ui-sref="dev.module.readMe" layout-align="center center" layout="column">
            <i class="material-icons">format_color_text</i>
            <p class="nbos_link">Read Me</p>
        </md-button>
        <md-button class="md-raised dev-info-link" ui-sref="dev.module.fe" layout-align="center center" layout="column">
            <i class="material-icons">code</i>
            <p class="nbos_link">Dev Front End</p>
        </md-button>
        <md-button class="md-raised dev-info-link" ui-sref="dev.module.be" layout-align="center center" layout="column">
            <i class="material-icons">code</i>
            <p class="nbos_link">Dev Back End</p>
        </md-button>
        <md-button class="md-raised dev-info-link" ui-sref="dev.module.roles" layout-align="center center" layout="column">
            <i class="material-icons">theaters</i>
            <p class="nbos_link">Roles</p>
        </md-button>
        <md-button class="md-raised dev-info-link" ui-sref="dev.module.authorities" layout-align="center center" layout="column">
            <i class="material-icons">settings_input_composite</i>
            <p class="nbos_link">Authorities</p>
        </md-button>
        <md-button class="md-raised dev-info-link" ui-sref="dev.module.config" layout-align="center center" layout="column">
            <i class="material-icons">build</i>
            <p class="nbos_link" style="line-height: 20px;">Configuaration
                <br />Builder</p>
        </md-button>
        <md-button class="md-raised dev-info-link" ui-sref="dev.module.swagger" layout-align="center center" layout="column">
            <i class="material-icons">format_color_text</i>
            <p class="nbos_link">API Documentation</p>
        </md-button>
        <md-button class="md-raised dev-info-link" ui-sref="dev.module.bugReport" layout-align="center center" layout="column">
            <i class="material-icons">bug_report</i>
            <p class="nbos_link">Bug Report</p>
        </md-button>
        <md-button class="md-raised dev-info-link" ng-click="deleteModule()" layout-align="center center" layout="column">
            <i class="material-icons">delete</i>
            <p class="nbos_link">Delete</p>
        </md-button>
        <md-button class="md-raised dev-info-link" ui-sref="dev.module.help" layout-align="center center" layout="column">
            <i class="material-icons">help</i>
            <p class="nbos_link">Help</p>
        </md-button>
    </section>
</section>
