<section layout="column">
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="dev.module.info">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <!-- Add module logo path here -->
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{moduleName}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title">Authorities (Access Control)</h1>
        </div>
    </div>
    <md-content layout="column" class="layoutPad">
        <div layout="row">
            <div flex></div>
            <md-button ng-click="newAuthority($event)" class="md-accent md-raised">Create Authority</md-button>
        </div>
        <md-list flex>
            <md-subheader class="md-no-sticky" ng-if="authorities.length == 0">No Authorities Defined</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="authority in module.authorities">
                <div class="md-list-item-text" layout="column">
                    <h3>{{ authority.displayName }}</h3>
                    <h4>{{ authority.uAuthorityName }}</h4>
                    <p>{{ authority.description }}</p>
                </div>
                <md-icon class="md-secondary material-icons" aria-label="edit" ng-click="newAuthority($event, authority)">
                    mode_edit
                </md-icon>
                <md-icon class="md-secondary material-icons md-warn" aria-label="remove" ng-click="confirmAuthorityDelete($event, authority)">
                    delete
                </md-icon>
            </md-list-item>
        </md-list>
    </md-content>
</section>
