<section layout="column">
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="dev.module.info">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <!-- Add module logo path here -->
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{moduleName}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title">Back End</h1>
        </div>
    </div>
    <md-content class="layoutPad">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Clients">
                <div layout="column">
                    <div layout="row">
                        <p flex="40" class="md-body-2" style="text-align: right;">Client Name: &nbsp;&nbsp;&nbsp;</p>
                        <p flex="60">{{beClients.clientName}}</p>
                    </div>
                    <div layout="row">
                        <p flex="40" class="md-body-2" style="text-align: right;">Client ID: &nbsp;&nbsp;&nbsp;</p>
                        <p flex="60">{{beClients.clientId}}</p>
                    </div>
                    <div layout="row">
                        <p flex="40" class="md-body-2" style="text-align: right;">Module Key: &nbsp;&nbsp;&nbsp;</p>
                        <p flex="60">{{beClients.moduleKey}}</p>
                    </div>
                    <div layout="row">
                        <p flex="40" class="md-body-2" style="text-align: right;">Client Secret: &nbsp;&nbsp;&nbsp;</p>
                        <md-button class="md-raised md-primary" ng-click="updateSecret();">Set New Secret</md-button>
                    </div>
                </div>
            </md-tab>
            <md-tab label="code">
                <md-list ng-cloak>
                    <md-list-item class="md-3-line md-long-text secondary-button-padding">
                        <div class="md-list-item-text">
                            <h3>Node JS</h3>
                            <p>
                                A complete starter code to begin your own development on your app. You can use this code to understand how to communicate with our IDN network.
                            </p>
                        </div>
                        <md-button class="md-secondary md-fab md-primary" ng-click="getStarterCode($event, 'node')">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <md-button ng-disabled="true" class="md-secondary">Docs</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line md-long-text secondary-button-padding">
                        <div class="md-list-item-text">
                            <h3>PHP</h3>
                            <p>
                                A complete starter code to begin your own development on your app. You can use this code to understand how to communicate with our IDN network.
                            </p>
                        </div>
                        <md-button class="md-secondary md-fab md-primary" ng-click="getStarterCode($event, 'php')">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <md-button ng-disabled="true" class="md-secondary">Docs</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line md-long-text secondary-button-padding">
                        <div class="md-list-item-text">
                            <h3>Java Spring API</h3>
                            <p>
                                A complete starter code to begin your own development on your app. You can use this code to understand how to communicate with our IDN network.
                            </p>
                        </div>
                       <md-button class="md-secondary md-fab md-primary" ng-click="getStarterCode($event, 'java')">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <md-button ng-disabled="true" class="md-secondary">Docs</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line md-long-text secondary-button-padding">
                        <div class="md-list-item-text">
                            <h3>Ruby on Rails</h3>
                            <p>
                                A complete starter code to begin your own development on your app. You can use this code to understand how to communicate with our IDN network.
                            </p>
                        </div>
                        <md-button class="md-secondary md-fab md-primary" ng-click="getStarterCode($event, 'rails')">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <md-button ng-disabled="true" class="md-secondary">Docs</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-tab>
    </md-content>
</section>
