<section layout="column" layout-padding ng-controller="ModuleHelpCtrl">


    <div layout="column">
        <md-content layout="column" class="md-whiteframe-1dp">
            <div layout="row" layout-align="left center">
                <md-button class="console_projects_back">
                    <a layout-align="start center" layout="row" ui-sref="dev.module.info" class="nbos-nodecoration">
                        <md-icon class="material-icons">arrow_back</md-icon>
                    </a>
                    <md-tooltip md-direction="bottom">
                        Back to Modules
                    </md-tooltip>
                </md-button>
                <a ui-sref="dev.module.info" class="md-body-2">
                    {{moduleName}}
                </a>
                <p class="md-title">
                    &nbsp; / Read Me
                </p>
            </div>
        </md-content>
    </div>
    <br>
    <br>

    <div>
        <md-content flex class="md-whiteframe-1dp" layout-padding>
            <div layout="column">
                <h3 class="md-title">
                    How to Use
                </h3>
                <ul class="md-body-1">
                    <li>Create Client Tokens</li>
                    <li>Download respective Starter codes </li>
                    <li>Update the API url once the module is ready to review </li>
                    <li>Apply for Review </li>
                    <li>Update the Read me Page on the usage of module </li>
                </ul>
            </div>
        </md-content>
    </div>
</section>

