<section layout="column">
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="dev.module.info">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <!-- Add module logo path here -->
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{moduleObj.name}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title">About</h1>
        </div>
    </div>
    <!-- <div layout="column">
        <md-content layout="column" class="md-whiteframe-1dp">
            <div layout="row" layout-align="left center">
                <md-button class="console_projects_back">
                    <a layout-align="start center" layout="row" ui-sref="dev.module.info" class="nbos-nodecoration">
                        <md-icon class="material-icons">arrow_back</md-icon>
                    </a>
                    <md-tooltip md-direction="bottom">
                        Back to Modules
                    </md-tooltip>
                </md-button>
                <a ui-sref="dev.module.info" class="md-body-2">
                {{moduleObj.name}}
            </a>
                <p class="md-title">
                    &nbsp; / About
                </p>
            </div>
        </md-content>
    </div>
    <br>
    <br> -->
    <md-content class="layoutPad">
        <form ng-submit="postUrl()" autocomplete="off">
            <div layout="column" layout-padding>
                <br>
                <br>
                <!-- FORM -->
                <div layout="row">
                    <div flex="25" layout="row" layout-align="center start">
                        <p class="md-title">Group</p>
                    </div>
                    <div flex="5"></div>
                    <div flex="70">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Name</label>
                            <input ng-model="moduleObj.name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Api Swagger Url</label>
                            <input ng-model="moduleObj.apiDefinitionUrl">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Call Back Url</label>
                            <input ng-model="moduleObj.configureEndPoint">
                        </md-input-container>
                        <div layout="row">
                            <label>Module Type: &nbsp; &nbsp;</label>
                            <md-radio-group ng-model="moduleObj.moduleType" layout="row">
                                <md-radio-button value="BOTH">UI+API</md-radio-button>
                                <md-radio-button value="BAS"> API </md-radio-button>
                            </md-radio-group>
                        </div>
                        <md-input-container class="md-block" flex-gt-sm ng-if="moduleObj.moduleType == 'BOTH'">
                            <label>UI Url</label>
                            <input ng-model="moduleObj.uiLibraryUrl">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Description</label>
                            <input ng-model="moduleObj.description">
                        </md-input-container>
                        <div>
                            <label>Tags</label>
                            <md-chips ng-model="tags" readonly="readonly"></md-chips>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
                <br>
                <br>
                <div layout="row">
                    <div flex="25" layout="row" layout-align="center start">
                        <p class="md-title">Logo</p>
                    </div>
                    <div flex="5"></div>
                    <div flex="70">
                        <img ngf-thumbnail="moduleLogo || 'mod_nbos/assets/images/placeholder.png'" style="width: 200px; height:200px;">
                        <br>
                        <input type="file" class="form-control fileUpload" ngf-select="" ng-model="moduleLogo" name="file" accept="image/*" ng-change="logoUpdated()" />
                    </div>
                </div>
                <md-divider></md-divider>
                <br>
                <br>
                <div layout="row">
                    <div flex="25" layout="row" layout-align="center start">
                        <p class="md-title">Module Images</p>
                    </div>
                    <div flex="5"></div>
                    <div flex="70">
                        <input type="file" class="form-control fileUpload" ngf-select="" ng-model="modImages" name="file" accept="image/*" ngf-keep="true" multiple/>
                        <br>
                        <md-tabs flex="60">
                            <md-tab ng-repeat="image in moduleImages track by $index">
                                <md-tab-label>
                                    <i class="material-icons">radio_button_unchecked</i>
                                </md-tab-label>
                                <md-tab-body>
                                    <div ng-style="{'background-image':'url({{image}})'}" class="module-images">
                                    </div>
                                </md-tab-body>
                            </md-tab>
                        </md-tabs>
                    </div>
                </div>
                <md-divider></md-divider>
                <br>
                <br>
                <div layout="row" layout-align="end end" flex>
                    <md-button class="md-primary md-raised" ng-click="updateModule()">Update</md-button>
                </div>
            </div>
        </form>
    </md-content>
</section>
