<section layout="column">
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="dev.module.info">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <!-- Add module logo path here -->
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{moduleName}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title">Front End</h1>
        </div>
    </div>
    <md-content layout="column" class="layoutPad">
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Clients">
                <div layout="row">
                    <span flex></span>
                    <md-button class="md-primary" ng-click="buildTokens($event)">Add Client</md-button>
                </div>
                <md-table-container>
                    <table md-table>
                        <thead md-head>
                            <tr md-row>
                                <th md-column md-order-by="nameToLower"><span>Client Name</span></th>
                                <th md-column>Client ID</th>
                                <th md-column>Tenant Id</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="client in moduleClients">
                                <td md-cell>{{client.clientName}}</td>
                                <td md-cell>{{client.clientId}}</td>
                                <td md-cell>{{client.tenantId}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </md-tab>
            <md-tab label="Code">
                <md-list ng-cloak>
                    <md-list-item class="md-3-line md-long-text secondary-button-padding">
                        <div class="md-list-item-text">
                            <h3>Front End Web Code (AngularJs)</h3>
                            <p>
                                A fully responsive AngularJS + Angular Material code which includes login module. Please refer the <a href="http://wavelabs.in/how-to-start-building-an-angular-app-without-suffering-a-nervous-breakdown">documentation</a> on how to develop your module.
                            </p>
                        </div>
                        <md-button class="md-secondary md-fab md-primary" ng-click="getStarterCode('angular')">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <md-button class="md-secondary">Docs</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line md-long-text secondary-button-padding">
                        <div class="md-list-item-text">
                            <h3>Android Code</h3>
                            <p>
                                Android starter code which includes login module. Please refer the <a href="http://wavelabs.in/want-to-build-an-android-app-using-social-logins-under-60-minutes-heres-how" target="_blank">documentation</a> on how to develop your module.
                            </p>
                        </div>
                        <md-button class="md-secondary md-fab md-primary" ng-click="getStarterCode('android')">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <md-button class="md-secondary" ng-disabled="true">Docs</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-list-item class="md-3-line md-long-text secondary-button-padding">
                        <div class="md-list-item-text">
                            <h3>iOS Code</h3>
                            <p>
                                IOS starter code which includes login module. Please refer the <a href="http://wavelabs.in/building-an-ios-application-with-wavelabs-ios-client-library" target="_blank">documentation</a> on how to develop your module.
                            </p>
                        </div>
                        <md-button class="md-secondary md-fab md-primary" ng-click="getStarterCode('ios')">
                            <md-icon class="material-icons">file_download</md-icon>
                        </md-button>
                        <md-button class="md-secondary" ng-disabled="true">Docs</md-button>
                        <md-divider></md-divider>
                    </md-list-item>
                </md-list>
            </md-tab>
        </md-tabs>
    </md-content>
</section>
