<section layout="column">
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="dev.module.info">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <!-- Add module logo path here -->
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{moduleName}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title">Roles</h1>
        </div>
    </div>
    <md-content class="layoutPad">
        <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
            <md-tab label="Roles">
                <md-content class="md-padding">
                    <div>
                        <h1 class="md-display-2" ng-hide="true">Roles</h1>
                        <div layout="row">
                            <div flex></div>
                            <md-button ng-click="manageRole()" class="md-accent md-raised">Define New Role</md-button>
                        </div>
                        <md-table-container>
                            <table md-table>
                                <thead md-head md-order="query.order">
                                    <tr md-row>
                                        <th md-column><span>Role Name</span></th>
                                        <th md-column>Authorities</th>
                                        <th md-column>Actions</th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="role in module.roles">
                                        <td md-cell>{{role.uRoleName}}</td>
                                        <td md-cell>
                                            <div layout="column">
                                                <p ng-repeat="authority in role.authorities">{{authority.uAuthorityName}}</p>
                                            </div>
                                        </td>
                                        <td md-cell>
                                            <md-button class="md-secondary" ng-click="manageRole(role)">
                                                <md-icon class="material-icons">mode_edit</md-icon>
                                            </md-button>
                                            <md-button class="md-secondary md-warn" ng-click="confirmDelete($event, role)">
                                                <md-icon class="material-icons">delete</md-icon>
                                            </md-button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Manage Role" ng-disabled="selectedIndex == 1 ? false: true ">
                <md-content class="md-padding">
                    <div layout="row">
                        <div flex></div>
                        <md-icon class="md-primary material-icons" ng-click="backToList();">arrow_back</md-icon> &nbsp;&nbsp; Back to List
                    </div>
                    <manage-role module="module" module-update="getModule()" role-obj="manageRoleObj" u-role-name="{{manageRoleObj_uRoleName}}" </manage-role>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</section>
