<section layout="column" ng-controller="ModuleSwaggerCtrl">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <div layout="column" class="layoutPad featurebarTitle">
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="dev.module.info">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp;
                    <!-- Add module logo path here -->
                    <img ng-src="{{projectAbout.logoImage.mediaFileDetailsList[0].mediapath}}" alt=""> &nbsp; {{moduleName}}
                </div>
            </md-button>
        </div>
        <div layout="row" layout-align="start center">
            <h1 class="md-title">API Documentation</h1>
        </div>
    </div>
    <md-content class="layoutPad">
        <div layout="column" ng-if="moduleObj.apiDefinitionUrl">
            <form name="swaggerForm" class="admin-swagger">
                <md-input-container class="md-block">
                    <label>User Token</label>
                    <input ng-model="user.token" name="token" required>
                    <div ng-messages="swaggerForm.token.$error" role="alert">
                        <div ng-message-exp="['required']">
                            User Token is required
                        </div>
                    </div>
                </md-input-container>
                <div layout="row">
                    <md-button class="md-accent md-raised" ng-click="useToken()">Use My Token</md-button>
                    <md-button class="md-primary md-raised" ng-disabled="swaggerForm.$invalid" ng-click="generate()">Explore</md-button>
                    <span flex></span>
                </div>
            </form>
            <div swagger-ui url="moduleObj.apiDefinitionUrl" parser="json" api-explorer="true" ng-show="showApi"></div>
        </div>
        <div ng-if="!moduleObj.apiDefinitionUrl" class="md-title">
            Add API definition url
            <md-button class="md-primary" ng-click="showAbout()">here</md-button> to explore the swagger documentation
        </div>
    </md-content>
</section>
