<md-content layout="column" layout-padding>
    <h1>Define Role</h1>
    <form name="roleForm">
        <md-input-container class="md-block">
            <label>Role Name</label>
            <input required md-no-asterisk name="displayName" ng-model="roleObj.displayName">
            <div ng-messages="roleForm.description.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>
        <div layout="row">
            <md-input-container flex="33">
                <label>&nbsp;</label>
                <input required name="displayNameFull" disabled value="{{'role:' +module.name+ '.' +roleObj.roleCategory + '.' + roleObj.roleName}}">
            </md-input-container>
            <md-input-container flex="33">
                <label>Role Identifier</label>
                <input required name="roleCategory" ng-model="roleObj.roleCategory" ng-pattern="/^\S+$/" ng-disabled="isEdit">
                <div ng-messages="roleForm.roleCategory.$error" >
                    <div ng-message="required">This is required.</div>
                    <div ng-message="pattern">No spaces or special charectors allowed.</div>
                </div>
            </md-input-container>
            <md-input-container flex="33">
                <label>Role Identifier</label>
                <input required name="uRoleName" ng-model="roleObj.roleName" ng-pattern="/^\S+$/" ng-disabled="isEdit">
                <div ng-messages="roleForm.uRoleName.$error" >
                    <div ng-message="required">This is required.</div>
                    <div ng-message="pattern">No spaces or special charectors allowed.</div>
                </div>
            </md-input-container>

        </div>
        <md-input-container class="md-block">
            <label>Description</label>
            <input md-maxlength="50" required md-no-asterisk name="description" ng-model="roleObj.description">
            <div ng-messages="roleForm.description.$error">
                <div ng-message="required">This is required.</div>
                <div ng-message="md-maxlength">The description must be less than 50 characters long.</div>
            </div>
        </md-input-container>
        <br>
        <div>
            <md-button type="submit" class="md-raised md-accent" ng-click="createRole()" ng-disabled="roleForm.$invalid" ng-hide="isEdit">Submit</md-button>
            <md-button type="submit" class="md-raised md-accent" ng-click="editRole()" ng-disabled="roleForm.$invalid" ng-show="isEdit">Submit</md-button>
        </div>

        <br><br>
        <div ng-show="isEdit">
            <h1>Select Authorities:</h1>

            <md-content flex-gt-sm="60" flex-offset-gt-sm="20" flex="100" class="md-whiteframe-6dp">
                <md-list flex>
                    <div>
                        <md-subheader class="md-no-sticky">Module - {{moduleObj.name}}</md-subheader>
                        <md-list-item class="md-3-line" ng-repeat="authority in moduleObj.authorities" ng-click="null">
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ authority.displayName }}</h3>
                                <h4>{{ authority.uAuthorityName }}</h4>
                                <p>{{ authority.description }}</p>
                            </div>
                            <md-checkbox class="md-secondary" ng-model="authority.selected" ng-change="addRemoveAuthority($event, authority)"></md-checkbox>
                        </md-list-item>
                        <md-divider ></md-divider>
                    </div>
                </md-list>
            </md-content>
        </div>

        <br><br><br>

    </form>
</md-content>