<md-dialog aria-label="Module" ng-cloak flex="50">
    <form name="moduleForm">
        <md-dialog-content class="md-dialog-content">
            <h4 class="md-display-1">Create Module</h4>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input required ng-model="moduleObj.name" name="title" autocomplete="off" ng-pattern="/^\S+$/">
                <div ng-messages="moduleForm.title.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']">
                        Module Name cannot be empty and should not have spaces
                    </div>
                </div>
            </md-input-container>
            <md-radio-group ng-model="moduleObj.moduleType" layout="row">
                <md-radio-button value="BOTH">UI+API</md-radio-button>
                <md-radio-button value="BAS"> API </md-radio-button>
            </md-radio-group>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button md-no-ink class="" ng-click="closeDialog()">Cancel</md-button>
            <md-button md-no-ink class="md-accent md-raised" ng-click="create()" ng-disabled="moduleForm.$invalid">Create</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
