<md-dialog aria-label="Tokens" ng-cloak flex="50">
    <form name="tokensForm">
        <md-dialog-content class="md-dialog-content">
            <h2 class="md-display-1">Create Client</h2>
            <div class="md-caption" ng-show="isFirst">To Download code You have to create atleast one client</div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Name</label>
                <input required ng-model="tokensObj.clientName" name="name" autocomplete="off">
                <div ng-messages="tokensForm.name.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Module Name cannot be empty
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Secret</label>
                <input required ng-model="tokensObj.clientSecret" name="secret" autocomplete="off">
                <div ng-messages="tokensForm.secret.$error" role="alert">
                    <div ng-message-exp="['required']">
                        Module Secret cannot be empty
                    </div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end end">
            <md-button md-no-ink class="md-warn md-raised" ng-click="closeDialog()">Cancel</md-button>
            <md-button md-no-ink class="md-primary md-raised" ng-click="create()" ng-disabled="tokensForm.$invalid">Create</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
