<form name="configForm" ng-hide="noConfig">
    <md-input-container class="md-block" flex-gt-sm ng-repeat="config in moduleCopy.configuration">
        <!--FOR STRING TYPE-->
        <div ng-if="config.type === 'String'">
            <label>{{config.name}}</label>
            <input name="subName{{$index}}" ng-model="config.values" type="text" ng-if="!config.multiValued && (config.possibleValues.length > 0 ? false : true)" />
            <md-chips ng-if="config.multiValued" ng-model="config.values" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-require-match="config.possibleValues.length > 0 ? true : false">
                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in config.possibleValues" md-item-text="item.name" placeholder="Select values">
                    <span md-highlight-text="searchText">{{item.name}} :: {{item.value}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                      <strong>{{$chip.name}}</strong>
                      <em>({{$chip.value}})</em>
                    </span>
                </md-chip-template>
            </md-chips>
            <md-autocomplete ng-if="!config.multiValued && (config.possibleValues.length > 0 ? true : false)" md-selected-item="config.values" md-search-text="searchText" md-selected-item-change="selectedItemChange(item, $index)" md-items="item in config.possibleValues" md-item-text="item.name" md-min-length="0" placeholder="Select a Value" md-menu-class="autocomplete-custom-template">
                <md-item-template>
                    <span class="item-title">
                        <span> <strong>{{item.name}} </strong> :: {{item.value}}</span>
                    </span>
                </md-item-template>
            </md-autocomplete>
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
            </div>
        </div>
        <!--FOR Integer TYPE-->
        <div ng-if="config.type === 'Integer'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="number" ng-pattern="/^[-+]?\d*$/" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
                <div ng-message="pattern">
                    Only Positive and Negative integers are allowed
                </div>
            </div>
        </div>
        <!--FOR Long TYPE-->
        <div ng-if="config.type === 'Long'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="number" ng-pattern="/^[-+]?\d+(\.\d+)?$/" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
                <div ng-message="pattern">
                    Please enter only real numbers.
                </div>
            </div>
        </div>
        <!--FOR Boolean TYPE-->
        <div ng-if="config.type === 'Boolean'">
            <div layout="row">
                <p class="md-body-2">{{config.name}}: </p> &nbsp;&nbsp;&nbsp;&nbsp;
                <md-radio-group ng-model="config.values" name="subName{{$index}}" layout="row" layout-align="center center">
                    <md-radio-button value="true" class="md-primary">True</md-radio-button>
                    <md-radio-button value="false"> False </md-radio-button>
                </md-radio-group>
            </div>
            <!--<input required name="subName{{$index}}" ng-model="config.values" type="checkbox"/>-->
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
            </div>
        </div>
        <!--FOR URL TYPE-->
        <div ng-if="config.type === 'Url'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="url" ng-pattern="/(http|ftp|https):\/\/[\w\-_]+(\.[\w\-_]+)+([\w\-\.,@?^=%&amp;:/~\+#]*[\w\-\@?^=%&amp;/~\+#])?/" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
                <div ng-message="pattern">
                    Please Enter a valid URL
                </div>
            </div>
        </div>
        <!--FOR Double TYPE-->
        <div ng-if="config.type === 'Double'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="number" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
                <div ng-message="pattern">
                    You should charge exactly $1,234.
                </div>
            </div>
        </div>
        <!--FOR ModuleUuid TYPE-->
        <div ng-if="config.type === 'ModuleUuid'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="text" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
                <div ng-message="pattern">
                    You should charge exactly $1,234.
                </div>
            </div>
        </div>
        <!--FOR TenantId TYPE-->
        <div ng-if="config.type === 'TenantId'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="text" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
            </div>
        </div>
        <!--FOR TenantName TYPE-->
        <div ng-if="config.type === 'TenantName'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="text" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
            </div>
        </div>
        <!--FOR Role TYPE-->
        <div ng-if="config.type === 'Role'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="text" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
            </div>
        </div>
        <!--FOR Locale TYPE-->
        <div ng-if="config.type === 'Locale'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="text" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
                <div ng-message="pattern">
                    You should charge exactly $1,234.
                </div>
            </div>
        </div>
        <!--FOR TenantRole TYPE-->
        <div ng-if="config.type === 'TenantRole'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="text" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
                <div ng-message="pattern">
                    You should charge exactly $1,234.
                </div>
            </div>
        </div>
        <!--FOR ModuleRole TYPE-->
        <div ng-if="config.type === 'ModuleRole'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="text" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
                <div ng-message="pattern">
                    You should charge exactly $1,234.
                </div>
            </div>
        </div>
        <!--FOR Email TYPE-->
        <div ng-if="config.type === 'Email'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="email" ng-pattern="/^.+@.+\..+$/" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
                <div ng-message="pattern">
                    Please select a valid email
                </div>
            </div>
        </div>
        <!--FOR Media TYPE-->
        <div ng-if="config.type === 'Media'">
            <label>{{config.name}}</label>
            <input required name="subName{{$index}}" ng-model="config.values" type="text" />
            <div class="hint">{{config.description}}</div>
            <div ng-messages="configForm['subName' + $index].$error">
                <div ng-message="required">This field is required.</div>
                <div ng-message="pattern">
                    You should charge exactly $1,234.
                </div>
            </div>
        </div>
    </md-input-container>
    <div layout="row" layout-align="end end">
        <md-button class="md-raised md-primary" ng-click="onSubmit()" ng-disabled="configForm.$invalid">Save Config for {{moduleCopy.name}}</md-button>
    </div>
</form>
<p ng-show="noConfig" class="md-body-2">No Configuration Options Required for {{moduleCopy.name}}</p>
