<div layout="column" ng-controller="LoginCtrl" class="nbosTheme">
    <nav class="fixed-toolbar" ng-include="'mod_idn/views/header/loginHeader.html'"></nav>
    <div layout="row" layout-padding class="login-content-padding" layout-align="center center">
        <div layout="row">
            <md-content md-whiteframe="1" flex layout-padding class="nbosformBlock" ng-class="{ 'formMinWidth' : minWidthClass}">
                <form name="loginForm" ng-submit="validateuser(loginForm);">
                    <md-input-container class="md-block">
                        <label>Username/Email</label>
                        <input required name="userName" ng-model="user.username">
                        <!--<input required name="userName" ng-model="user.username" ng-pattern="/^.+@.+\..+$/">-->
                        <div ng-messages="loginForm.userName.$error" role="alert">
                            <div ng-message-exp="['required', 'pattern']">
                                Your username must look like an e-mail address.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input required type="password" name="userPassword" ng-model="user.password" minlength="8" />
                        <div ng-messages="loginForm.userPassword.$error" role="alert">
                            <div ng-message-exp="['required', 'minlength']">
                                Your password was required to have a minimum length of 8.
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container layout="column" layout-align="center center">
                        <md-button class="md-raised md-primary" type="submit" ng-disabled="loginForm.$invalid || disableLogin" style="width: 70%; margin:0;">Sign In
                        </md-button>
                    </md-input-container>
                    <section layout="column" layout-align="center center" layout-wrap>
                        <div layout="row">
                            <md-button class="fbBtn" ng-click="socialLogin('fb')">
                                <md-icon md-svg-src="assets/icons/facebook.svg"></md-icon>
                            </md-button>
                            <span flex></span>
                            <md-button class="gpBtn" ng-click="socialLogin('google')">
                                <md-icon md-svg-src="assets/icons/googlePlus.svg"></md-icon>
                            </md-button>
                        </div>
                        <span flex></span>
                        <div class="md-caption">Connect with social accounts</div>
                    </section>
                    <section layout="column" layout-align="center center" layout-wrap class="flatBtns">
                        <md-button class="md-body-2 md-warn" ui-sref="idn.forgot">Forgot Password?</md-button>
                        <md-button class="md-body-2 md-warn" ui-sref="idn.register">Don’t have an account? Click here</md-button>
                    </section>
                </form>
            </md-content>
        </div>
    </div>
</div>
