<div layout="column" class="registration nbosTheme">
    <nav class="fixed-toolbar" ng-include="'mod_idn/views/header/loginHeader.html'" id=""></nav>
    <div layout="row" layout-padding class="login-content-padding" layout-align="center center" id="registrationView">
        <div layout="row" layout-align="center center">
            <section md-whiteframe="2" flex class="nbosformBlock"  ng-class="{ 'formMinWidth' : minWidthClass}">
                <!-- <md-toolbar md-whiteframe="2">
            <div class="md-toolbar-tools">
              <h2 class="md-flex">Register As A User</h2>
            </div>
          </md-toolbar> -->
                <md-content layout-padding>
                    <form name="userForm" ng-submit="registerUser(userForm);">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>First name</label>
                                <input required name="firstName" ng-model="user.firstName" ng-pattern="/[a-zA-Z]/">
                                <div ng-messages="userForm.firstName.$error">
                                    <div ng-message="['required', 'pattern']">
                                        But what would we call you?
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Last Name</label>
                                <input required name="lastName" ng-model="user.lastName">
                                <div ng-messages="userForm.lastName.$error">
                                    <div ng-message="required">This is required.</div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="md-block" flex-gt-xs>
                            <md-input-container class="md-block">
                                <label>Username/Email</label>
                                <input required name="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/">
                                <div ng-messages="userForm.email.$error" role="alert">
                                    <div ng-message-exp="['required', 'pattern']">
                                        Your username must look like an e-mail address.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="md-block" flex-gt-xs>
                            <md-input-container class="md-block">
                                <label>Password</label>
                                <input required type="password" name="userPassword" ng-model="user.password" minlength="8" />
                                <div ng-messages="userForm.userPassword.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength']">
                                        Your password was required to have a minimum length of 8.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-input-container layout="column" layout-align="center center">
                            <md-button class="md-raised md-primary" type="submit" ng-disabled="userForm.$invalid || disabledRegister" style="width: 70%; margin:0;">Register</md-button>
                        </md-input-container>
                    </form>
                    <md-divider></md-divider>
                    <section layout="column" layout-align="center center" layout-wrap>
                        <div layout="row">
                            <md-button class="fbBtn" ng-click="socialLogin('fb')">
                                <md-icon md-svg-src="assets/icons/facebook.svg"></md-icon>
                            </md-button>
                            <span flex></span>
                            <md-button class="gpBtn" ng-click="socialLogin('google')">
                                <md-icon md-svg-src="assets/icons/googlePlus.svg"></md-icon>
                            </md-button>
                        </div>
                        <span flex></span>
                        <div class="md-body-2">Signup with social accounts</div>
                    </section>
                    <section layout="column" layout-align="center center" layout-wrap class="flatBtns">
                        <md-button class="md-body-2 md-warn" ui-sref="idn.login">Already have an account? Click here</md-button>
                    </section>
                </md-content>
            </section>
        </div>
    </div>
</div>
<!--
          <form name="projectForm">
            <md-input-container class="md-block">
              <label>Username/Email</label>
              <input required name="userName" ng-model="project.userName" ng-pattern="/^.+@.+\..+$/">
              <div ng-messages="projectForm.userName.$error" role="alert">
                <div ng-message-exp="['required', 'pattern']">
                  Your username must look like an e-mail address.
                </div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input required type="password" name="userPassword" ng-model="project.userPassword" minlength="8"/>
              <div ng-messages="projectForm.userPassword.$error" role="alert">
                <div ng-message-exp="['required', 'minlength']">
                  Your password was required to have a minimum length of 8.
                </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <md-button class="md-raised md-primary" style="width: 100%;">Sign In</md-button>
            </md-input-container>

            <md-button ui-sref="forgot">Forgot Password?</md-button>

          </form>
          -->
