<div ng-controller="DashboardCtrl" layout="row">
    <div flex-offset="25" flex>
        <br>
        <p class="md-title">
            Hello There.
        </p>
        <p class="md-subhead">
            Welcome to NBOS Administration.
        </p>
        <p class="md-body-1">
            We are currently in our BETA release so you will find a lot of links disabled in the application. These links will be enabled as and when the development for them is completed.
        </p>
        <br>
        <p class="md-body-1">
            Untill then ... Happy Coding!
        </p>
        <p class="md-body-1">
            - NBOS Dev Team
        </p>
    </div>
</div>