/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


/* Disable ugly boxes around images in IE10 */

a img {
  border: 0px;
}


/* ==========================================================================
Typography
========================================================================== */

p {
  font-size: 15px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Slab', serif;
  color: #1a202e;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  font-weight: 300;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
}

#heroUnit {
  background: url(images/hero-unit-bg.jpg);
  height: 100vh;
  .navbar-default {
    background: none;
    border: 0;
    box-shadow: none;
    padding-top: 20px;
    &.fixed {
      background-image: none;
      background-color: rgba(255, 255, 255, 0.97);
      padding-bottom: 10px;
      padding-top: 0;
      -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.14);
      -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.14);
      box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.14);
      border-radius: 0;
      .navbar-header {
        .navbar-brand {
          background-image: url(images/nbos-logo.png);
          margin-top: 6px;
        }
      }
      .navbar-nav {
        li {
          a {
            color: #1a202e;
          }
          &.active {
            a {
              background-image: url(images/btn-strip.png);
              &:hover {
                color: #fb8832;
              }
            }
          }
        }
      }
    }
    .navbar-header {
      .navbar-brand {
        padding: 0 15px;
        background: url(images/nbos-logo-wht.png) center top no-repeat;
        width: 160px;
        height: 52px;
      }
    }
    .navbar-nav {
      margin-top: 14px;
      text-transform: uppercase;
      li {
        a {
          color: #fff;
          font-size: 14px;
          font-weight: 300;
          padding: 8px 16px;
          letter-spacing: 0.4px;
          &:hover {
            box-shadow: inset 0 3px 9px rgba(0, 0, 0, .075);
          }
          &.actionBtn {
            background: #1a202e;
            border-radius: 10px 10px 10px 10px;
            -moz-border-radius: 10px 10px 10px 10px;
            -webkit-border-radius: 10px 10px 10px 10px;
            border: 0px solid #000000;
            color: #fff;
          }
        }
        &.active {
          a {
            background: url(images/wht-strip.png) center bottom no-repeat;
            box-shadow: none;
            font-weight: 600;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.navigation {
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
  position: fixed;
  width: 100%;
  z-index: 999;
  letter-spacing: 1px;
}

.fixed {
  position: fixed;
  background-color: rgba(51, 122, 183, 1);
  z-index: 999;
  width: 100%;
}

.slider-container {
  overflow: hidden;
  font-family: 'Roboto Slab', serif;
  h1.slide__text-heading {
    margin-top: 100px;
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 40px;
    color: #fff;
  }
  .slide_btn {
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    color: #fb8832;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    &:hover {
      text-decoration: none;
      background: #1a202e;
      color: #fff;
    }
    .beta_icon{
      position: absolute;
      left: -25px;
      top: -30px;
      z-index: 999;
    }
  }
}

.down-arrow {
  color: #fff;
  font-size: 16px;
  position: absolute;
  font-weight: 200;
  bottom: 25px;
  right: 0px;
  z-index: 9999;
  padding: 10px 14px;
  border-radius: 10px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  &.hide {
    display: none;
  }
  a {
    color: #fff;
    font-weight: 200;
    font-size: 16px;
  }
}


/* ==========================================================================
Animations
========================================================================== */

.pulse2 {
  -webkit-animation-name: pulse2;
  animation-name: pulse2;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.floating-arrow {
  -webkit-animation-name: floating-arrow;
  animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  65% {
    -webkit-transform: translate(-50%, 15px);
    transform: translate(-50%, 15px);
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  65% {
    -webkit-transform: translate(-50%, 15px);
    transform: translate(-50%, 15px);
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

.floating-logo {
  -webkit-animation-name: floating-logo;
  animation-name: floating-logo;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

#WhoIsItFor {
  background: #fff;
  overflow: hidden;
  .container {
    padding: 40px 0;
    width: 100%;
    h1.sectionTitle {
      text-align: center;
      font-weight: 600;
    }
    p.tag {
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      text-align: center;
      line-height: 16px;
    }
    .wrap {
      padding-top: 30px;
      display: table;
      width: 100%;
      .individuals {
        background: url(images/icons-bg.png) right top no-repeat;
        min-height: 540px;
        .box {
          margin-top: 10%;
          background: #fff;
          padding: 30px 50px 50px;
          -webkit-box-shadow: 0px 0px 76px -9px rgba(0, 0, 0, 0.55);
          -moz-box-shadow: 0px 0px 76px -9px rgba(0, 0, 0, 0.55);
          box-shadow: 0px 0px 76px -9px rgba(0, 0, 0, 0.55);
        }
      }
      .enterprise {
        padding-top: 50px;
      }
      .boxTitle {
        font-size: 32px;
        font-weight: 600;
        color: #1a202e;
      }
      ul {
        list-style: none;
        border-left: solid 6px #fb8832;
        margin-left: 2px;
        li {
          padding: 3px 0;
          padding-left: 16px;
          color: #1a202e;
          line-height: 16px;
        }
      }
      a.btn-more {
        background: url(images/btn-shape.png) right top no-repeat;
        color: #fff;
        font-family: "Roboto Slab", sans-serif;
        font-weight: 600;
        font-size: 16px;
        border: none;
        border-radius: 0;
        padding: 6px 40px 6px 24px;
      }
    }
  }
}

#howItWorks {
  background: #1a202e;
  .container {
    padding: 60px 0;
    h1.sectionTitle {
      text-align: center;
      font-weight: 600;
      color: #fff;
    }
    p.tag {
      font-size: 16px;
      font-family: "Roboto Slab", sans-serif;
      text-align: center;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.5);
    }
    .wrap {
      padding: 10px 0;
      background: url(images/line.png) left 34px repeat-x;
      display: table;
      width: 100%;
      .col-md-3 {
        text-align: center;
        .steps {
          margin: 10px auto 40px;
          display: table;
          padding: 4px 30px;
          background: #5f636d;
          color: #1a202e;
          border-radius: 6px;
          font-family: "Roboto Slab", sans-serif;
          font-weight: 700;
        }
        h6 {
          color: #fff;
          font-family: "Roboto Slab", sans-serif;
          font-size: 20px;
          text-align: center;
          font-weight: 200;
        }
      }
    }
    .notes {
      border: dashed 1px rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      display: table;
      padding: 20px 40px;
      margin-top: 20px;
      p {
        margin: 4px 10px;
        padding: 0;
        font-size: 20px;
        color: #fff;
        position: relative;
        font-weight: 400;
        .fa {
          position: absolute;
          left: -30px;
          top: 5px;
        }
      }
    }
  }
}

#modules {
  .container {
    padding: 60px 0;
    h1.sectionTitle {
      font-weight: 800;
      font-size: 44px;
      text-align: center;
    }
    p.tag {
      font-size: 16px;
      font-family: "Roboto Slab", sans-serif;
      text-align: center;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.5);
      color: #1a202e;
    }
    .wrap {
      clear: both;
      width: 100% ;
    }
    .nav-tabs {
      border: none;
      margin-top: 50px;
      li {
        margin: 2px 0;
        text-align: center;
        display: table;
        position: relative;
        padding: 0 10px;
        &.active {
          span {
            background-color: #fb8832;
          }
          img {
            opacity: 1;
          }
        }
        a {
          padding: 0 10px;
        }
        span {
          height: 6px;
          width: 100%;
          background: rgba(0, 0, 0, 0.2);
          display: table;
          margin: 10px 0;
        }
        h4 {
          padding: 0 10px;
          font-weight: 600;
          font-size: 18px;
        }
        img {
          opacity: 0.3;
          width: 50px;
          height: 50px;
        }
      }
    }
    .nav-tabs>li.active>a,
    .nav-tabs>li.active>a:focus,
    .nav-tabs>li.active>a:hover {
      border: none;
    }
    .tab-pane {
      padding: 40px;
    }
    .showcase {
      .pic {
        img {
          width: 100%;
        }
      }
      .info {
        h5 {
          font-weight: 600;
          font-size: 22px;
          margin-top: 30%;
        }
        p {
          line-height: 20px;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.8);
        }
        ol {
          margin-left: 30px;
        }
      }
      .btn-primary {
        white-space: normal;
      }
    }
  }
}

.btn-primary {
  background: #fb8832;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  text-shadow: none;
  &:hover {
    background: #1a202e;
  }
}

.btn-info {
  border: solid 2px #fb8832;
  background: #e9e9e9;
  text-shadow: none;
  color: #1a202e;
  border-radius: 10px;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 600;
  color: #fb8832;
  &:hover {
    background: #1a202e;
    border-color: #fb8832;
  }
}

#features {
  background: #fb8832;
  .container {
    padding: 70px 0;
    h1.sectionTitle {
      text-align: center;
      font-weight: 600;
      color: #fff;
      font-size: 48px;
      margin-bottom: 50px;
    }
    .col-md-3 {
      text-align: center;
      background: url(images/slant-line.png) -7px 20px no-repeat;
      &:first-child {
        background: none;
      }
      .wrap {
        padding: 0 0px 0 20px;
        h4 {
          font-family: "Roboto Slab", sans-serif;
          font-size: 24px;
          font-weight: 600;
          text-align: center;
          color: #fff;
        }
        p {
          font-size: 14px;
          text-align: center;
          color: #fff;
          line-height: 18px;
          font-weight: 400;
        }
      }
    }
  }
}

#console {
  background: #e8e8ea;
  .container {
    padding: 40px 0;
    h1.sectionTitle {
      text-align: center;
      font-weight: 600;
      color: #1a202e;
      font-size: 48px;
      margin-top: 20px;
      margin-bottom: 10px;
    }
    p.tag {
      font-size: 16px;
      font-family: "Roboto Slab", sans-serif;
      text-align: center;
      line-height: 16px;
      color: rgba(255, 255, 255, 0.5);
      color: #1a202e;
    }
    .consoleWindow {
      img {
        width: 100%;
      }
    }
    h4 {
      margin-top: 90px;
    }
    ul {
      margin: 0 0 30px 0;
      list-style: none;
      li {
        background: url(images/circle.png) left 5px no-repeat;
        padding-left: 30px;
        margin: 10px 0;
      }
    }
  }
}

#jumpStart {
  background: #1a202e;
  .container {
    padding: 60px 0;
    h1 {
      text-align: center;
      font-weight: 600;
      color: #fff;
      font-size: 30px;
    }
    .btn {
      display: table;
      margin: 0 auto;
      padding: 12px 30px;
      background: #fff;
      color: #1a202e;
      border-radius: 10px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Roboto Slab", sans-serif;
    }
  }
}

#developersConnect {
  background: #e8e8ea url(images/gears.png) center 145px no-repeat;
  .container {
    padding: 60px 0;
    h1 {
      text-align: center;
      font-weight: 600;
      color: #1a202e;
      font-size: 30px;
    }
    .btn {
      display: table;
      margin: 0 auto;
      padding: 12px 30px;
      background: #fff;
      color: #1a202e;
      border-radius: 10px;
      font-weight: 600;
      text-transform: uppercase;
      font-family: "Roboto Slab", sans-serif;
    }
  }
}

#footer {
  background: #fff;
  color: #1a202e;
  .container {
    padding: 40px 0;
    h6 {
      font-family: "Roboto Slab", sans-serif;
      font-size: 18px;
      font-weight: 600;
      color: #1a202e;
    }
    .contactUs {
      text-align: right;
    }
    p {
      line-height: 16px;
    }
    ul.list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        clear: both;
      }
    }
    ul.socialLinks {
      list-style: none;
      display: table;
      li {
        float: left;
        margin: 0 8px 0 0;
        .fa {
          font-size: 26px;
        }
      }
    }
  }
}

a.goUp {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: none;
  background: rgba(255, 255, 255, 0.8);
  z-index: 999;
  padding: 10px 14px;
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.5);
  outline: none;
  &.show {
    display: table;
  }
  .fa {
    color: #1a202e;
  }
}
