<div layout="row">
    <div flex flex-gt-md="100" flex-gt-lg="40" class="md-whiteframe-z1">
        <md-toolbar class="md-accent">
            <h1 class="md-toolbar-tools">Todos</h1>
        </md-toolbar>
        <md-content class="md-padding">
            <form>
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-sm="">
                        <label>Add a to-do...</label>
                        <input ng-model="newTodo" autofocus autocomplete="off" ng-keyup="$event.keyCode == 13 && addTodo()">
                    </md-input-container>
                    <md-datepicker ng-model="dueDate" md-placeholder="Enter date" class="todo-date">
                    </md-datepicker>
                </div>
            </form>
            <md-content>
                <section>
                    <md-list>
                        <md-item ng-repeat="(dueDate,todoList) in todos">
                            <md-subheader class="md-primary">{{dueDate | date:'d MMM yyyy'}}</md-subheader>
                            <md-list>
                                <md-item ng-repeat="todo in todoList | filter:{isCompleted: false}" ng-class="{completed: todo.isCompleted, editing: todo._id == editedTodo._id}">
                                    <md-divider ng-if="$first"></md-divider>
                                    <md-item-content class="md-tile-content" layout="row" layout-align="space-between center">
                                        <div class="view">
                                            <md-checkbox ng-model="todo.completed" aria-label="{{todo.isCompleted}} Checked" ng-show="!todo.isEdit" ng-change="updateCompleted(todo, true)">
                                                <span class="title">{{todo.name}}</span>
                                            </md-checkbox>
                                        </div>
                                        <div class="item-btns">
                                            <md-button aria-label="Remove task" ng-click="removeTodo(todo)">
                                                <i class="material-icons">delete_forever</i>
                                            </md-button>
                                        </div>
                                    </md-item-content>
                                </md-item>
                            </md-list>
                            <h1 class="md-title">Completed Tasks</h1>
                            <md-list>
                                <md-item ng-repeat="todo in todoList | filter: {isCompleted:true}">
                                    <md-divider ng-if="$first"></md-divider>
                                    <md-item-content class="md-tile-content" layout="row" layout-align="space-between center">
                                        <div class="view">
                                            <md-checkbox ng-model="todo.isCompleted" aria-label="{{todo.isCompleted}} Checked" ng-show="!todo.isEdit" ng-change="updateCompleted(todo, false)">
                                                <span class="title strikethrough">{{todo.name}}</span>
                                            </md-checkbox>
                                        </div>
                                    </md-item-content>
                                    <md-divider></md-divider>
                                </md-item>
                            </md-list>
                        </md-item>
                    </md-list>
                </section>
            </md-content>
        </md-content>
    </div>
</div>
