<md-dialog>
    <md-toolbar class="md-warn md-hue-2">
        <div class="md-toolbar-tools">
            <h2>Error!</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon class="material-icons" aria-label="Close dialog">close</md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content class="demo-dialog-content">
        <div layout="column" layout-gt-sm="row" flex>

            <div flex="50" layout="column" layout-align="center center">
                <img src="assets/images/error.png" alt="Error" style="height: 300px; width: auto;">
            </div>

            <div flex="50" layout="column">
                <h1>Error!!!</h1>
                <h3>Did someone pop your balloon? Don't worry, we have dispatched developers with tapes.</h3>
                <br>
                <p class="md-title">Error : {{error.status}}  {{error.data.error}}</p>
                <p class="md-body-2">{{error.data.error_description}}</p>
                <p class="md-body-2" ng-show="showLinks">Try going here maybe:</p>
                <div ng-show="showLinks">
                    <md-button class="md-accent" ng-click="answer('home')">Home</md-button>
                    <md-button class="md-accent" ng-click="answer('idn.login')">Login</md-button>
                </div>
            </div>

        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="answer('home')">
            OK
        </md-button>
    </md-dialog-actions>
</md-dialog>