<section layout="column">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <md-content layout="column" layout-padding>
        <div layout="row" layout-align="start center">
            <md-button class="md-accent md-body-2" ui-sref="admin.tenants">
                <div layout="row" layout-align="start center">
                    <i class="material-icons">arrow_back</i> &nbsp;&nbsp;&nbsp; {{tenant.name}}
                </div>
            </md-button>
        </div>
    </md-content>
    <md-content layout="column" ng-if="swaggerUrl" layout-padding layout-wrap class="md-whiteframe-8dp">
        <form name="swaggerForm" class="admin-swagger">
            <md-input-container class="md-block">
                <label>User Token</label>
                <input ng-model="user.token" name="token" required>
                <div ng-messages="swaggerForm.token.$error" role="alert">
                    <div ng-message-exp="['required']">
                        User Token is required
                    </div>
                </div>
            </md-input-container>
            <div layout="row">
                <md-button class="md-accent md-raised" ng-click="useToken()">Use My Token</md-button>
                <md-button class="md-primary md-raised" ng-disabled="swaggerForm.$invalid" ng-click="generate()">Explore</md-button>
                <span flex></span>
            </div>
        </form>
        <div swagger-ui url="swaggerUrl" parser="json" api-explorer="true" ng-show="showApi"></div>
    </md-content>
</section>
