<section layout="column" layout-padding layout-wrap>
    <div layout="column">
        <md-content layout="column" class="md-whiteframe-1dp">
            <div layout="row">
                <p class="md-title">
                    &nbsp; Tenants
                </p>
                <span flex></span>
                <md-input-container class="md-block searchFilter" flex-gt-sm>
                    <label>Search</label>
                    <md-icon class="material-icons">search</md-icon>
                    <input ng-model="search.text">
                </md-input-container>
            </div>
        </md-content>
    </div>
    <div layout="column">
        <md-content layout="column" layout-wrap layout-padding>
            <md-table-container>
                <table md-table>
                    <thead md-head>
                        <tr md-row>
                            <th md-column><span>Tenant</span></th>
                            <th md-column>Modules</th>
                            <th md-column>Actions</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row ng-repeat="tenant in tenants | filter: search.text">
                            <td md-cell>{{tenant.name}}</td>
                            <td md-cell>
                                <div layout="column">
                                    <p ng-repeat="module in tenant.definitions">{{module.moduleName}}</p>
                                </div>
                            </td>
                            <td md-cell>
                                <md-button class="md-primary md-accent" ng-click="showTenant(tenant)">Explore</md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-content>
    </div>
</section>
