.social_icon_list ul li{
    float: left;
    margin: 10px 5px;
    list-style-type: none;
}

#loading { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); font-size: 50px; z-index: 10000; vertical-align: middle; text-align: center; color: #000; }
#server-msg { display: none; transition: ease-in .3s; }
#loading > #server-msg { display: block; position: absolute; left: 45%; top: 45%; bottom: 45%; right: 45%; width: 125px; height: 125px; }
.loader-container { width: 100px; height: 100px; /* margin:0 auto; */ /* float:none; */ }
.loader-container > img { }
.loader { margin: 0px auto; font-size: 8px; position: absolute; text-indent: 0; border: 0.3em solid rgba(255, 255, 255, 0.2); border-left-color: #333; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); -webkit-animation: load8 1.1s infinite linear; animation: load8 1.1s infinite linear; }
.loader, .loader:after { border-radius: 50%; width: 10em; height: 10em; }
@-webkit-keyframes load8 {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes load8 {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
#loading .loader-container > img { width: 65px; margin: 0px auto; top: 25%; float: none; display: block; position: relative; }
#loading .loader, #loading .loader:after { border-radius: 50%; width: 125px; height: 125px; }
#loading .loader-container { width: 125px; height: 125px; }